[2022-07-25 12:28] adifayer commented on #741
I was able to reproduce the incorrect failure with the example that you provided @BlythMeister, thanks!
I'm looking into the rule's logic as we speak, will update soon on my findings :)

[2022-07-26 12:51] #741 closed, assigned to hadar-co

[2022-07-26 12:58] eyarz commented on #741
@BlythMeister we actually [updated this rule](https://github.com/datreeio/datree/issues/703#issuecomment-1179664559) 2 weeks ago to match the behavior you described as expected.
Apparently, the new rule logic was still catching irrelevant ConfigMap objects, so @hadar-co uploaded a fix and it will be updated in the next CLI release.

[2022-07-26 14:53] mutilator opened #746 "Offline mode does not work."
Attempting to run the tool in an airgapped environment results in an error.

[code]

I believe this is attempting to reach out to the internet and is getting a 403 'forbidden' html page response from the local in-line proxy as it can't reach out to the internet. That's where the invalid character '<' comes from, an html tag.

[2022-07-27 10:11] hadar-co commented on #746
Hi @mutilator:)

I tried to reproduce the issue but could not (also tried using the exact same flags you posted here).
The plugin does not try to access any internet resource, it only runs kubectl commands so I'm not sure that's the issue here.

Just making sure - did you run `datree config set offline local` before running this?

Does this error happen consistently?

If there is any more info you

[2022-07-27 12:41] #724 closed, assigned to nobody

[2022-07-27 12:42] mutilator commented on #746
Yes, it was tested with the offline local setting

A schema tested with was https://github.com/yannh/kubernetes-json-schema

Is there a debug mode of any sort I can enable to get more detail? In what way does it try to call kubectl?

I get this error even when sending invalid commands e.g.

[code]

[2022-07-27 12:58] hadar-co commented on #746
You can see exactly what the kubectl plugin does (the logic is in the file 'kubectl-datree' in this repo), but since the `datree test` command itself gives you the same error, looks like it's not related to the plugin.

Have you managed to run a successful `datree test` in this environment, or do you get this error every time?
Also, what version of the CLI are you using? You can run `datree versio

[2022-07-27 13:00] mutilator commented on #746
oh, you meant kubectl calls datree.

datree test has never worked in this environment.

It's version 1.6.0

[2022-07-27 13:57] myishay commented on #746
yep, I think you are right, I got the same behavior when running the CLI against a mock server returning 403 html page response.
Seems like a bug in the CLI to me, not the kubectl-datree plugin.

[2022-08-01 14:57] noaabarki commented on #723
Hey @nielstenboom! Thought to ping you regarding this issue so we could fix or close it :)

[2022-08-01 15:13] nielstenboom commented on #723
From the tests that I did this seems to not be the case 🤔 the examples fail with a "Failed" condition as it's not an argo workflow controller error. Only on argo workflow controller errors will the state become "Error" (https://argoproj.github.io/argo-workflows/retries/#retry-policies).

The docs on this describe that you do not want to retry errors that result from user-level code as these indica

[2022-08-02 08:44] hadar-co opened #747 "Spinner messes up json&yaml output to file"
**Describe the bug**
When running a test with JSON output, the "Loading..." spinner runs.
When writing the output to a file like this:
`datree test file.yaml -o json > /dir/output.json`

the output.json file looks like this:
[code]

**To Reproduce**
Run the command listed above.

**Expected behavior**
The output file contains only the json.

**Datree version (run `datree version`):**
 - Version: 1

[2022-08-03 13:15] hadar-co commented on #747
Also happens with YAML output (`-o yaml`)

[2022-08-04 07:36] #747 closed, assigned to shmu3l

[2022-08-07 10:59] hadar-co opened #749 "--verbose should work with --output"
**Is your feature request related to a problem? Please describe.**
When using the `verbose` flag and the `output` flag in the same policy check, the verbose output is not written.
For example, when running:
[code]
The output does not include the "how to fix" links:
[code]

**Describe the solution you'd like**
the `verbose` flag should work with all output formats.

[2022-08-07 12:32] noaabarki commented on #723
Thank you @nielstenboom, for taking the time and replying with such detailed answer. You gave me a lot to think about, I'll dig into this and keep you updated I hope in the next 2-3 days :)

[2022-08-07 13:14] noaabarki opened #750 "Ensure Argo CD Application avoid unnecessary manifests generation"
### **Describe the solution you'd like**

We want to add a new default rule to Argo policy that verifies the usage of `manifest-generate-paths` annotations. For instance the following manifest configured the  `manifest-generate-paths` with the path `.`.

[code]

**Requirements**
- The rule should be OFF be default.
- The rule identifier should be `ARGO_APPLICATION_MISSING_GENERATE_MANIFESTS_ANNOTA

[2022-08-07 14:09] noaabarki opened #751 "Ensure Argo Rollout specify scaleDownDelayRevisionLimit to reduce cost"
### **Describe the solution you'd like**
We want to add a new default rule for the Argo policy that will verify blue-green Rollouts are configured `scaleDownDelaySeconds` with value 2. For instance the following manifest configured `scaleDownDelayRevisionLimit` with a value of 2.

[code]

**Requirements**

- The rule should be OFF be default.
- The rule identifier should be `ARGO_ROLLOUT_MISSING_S

[2022-08-07 14:46] noaabarki opened #752 "Support datree upgrade command"
**Describe the solution you'd like**

Add new `upgrade` command to install the latest datree version.

- The command should support only macOS & Linux.
- The command should check if the user installed Datree with brew and if so, the command should fail and return a message “Looks like you installed Datree via brew, to upgrade datree run - brew upgrade datree”
- The command should not support pinne

[2022-08-07 15:01] noaabarki opened #753 "Ensure Argo CD repo-server have enough replicas to handle “spikes”"
### **Describe the solution you'd like**
We want to add a new default rule for the Argo policy; the rule will ensure there are enough repo-server instances in order to handle spikes and avoid downtimes.  For instance, the following resource ensure repo-server  has 2 replicas:

[code]

**Requirements**
- The rule should be OFF be default.
- The rule identifier should be `ARGO_DEPLOYMENT_INCORRECT_R

[2022-08-07 16:17] eyarz opened #754 "don't auto-delete rendered manifest (kustomize/helm)"
**Is your feature request related to a problem? Please describe.**
Today, when running datree with kustomize or helm, datree is rendering a manifest in the temp file, passes it for scanning, and deletes the rendered files

**Describe the solution you'd like**
for easy debugging, it will be useful if the file will not be deleted

**Describe alternatives you've considered**
rendering the manifest by

[2022-08-07 18:34] hadar-co commented on #754
@eyarz should be one word `--save-rendered`

[2022-08-07 19:33] eyarz commented on #754
my bad :) fixed.

[2022-08-07 21:03] noaabarki opened #755 "Ensure seccomp profile must not be explicitly set to Unconfined"
### **Describe the solution you'd like**

We want to add a new default rule for Containers that ensures seccomp profile is restricted and not set to `unconfined`.

**Requirements**

- The rule should be ON by default.
- The rule identifier should be `CONTAINERS_INCORRECT_SECCOMP_PROFILE`
- The rule should ensure `seccompProfile.type` is not equal to `unconfined`. `seccompProfile.type` can be under

[2022-08-09 13:59] #746 closed, assigned to nobody

[2022-08-16 07:01] eyarz opened #759 "improve CLI output when multiple object failed schema validation"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. use the following manifest:
[code]
2. run the following command: `datree test -s 1.22.0 test.yaml`
3. read failed schema validation output

**Expected behavior**
The failure tip (`You can skip files with missing schemas instead of failing by using the --ignore-missing-sche

[2022-08-21 19:37] ns-kliu opened #762 "Unexpected yaml validation error: did not find expected '-' indicator"
**Describe the bug**

This is a valid YAML file, but datree displays the error `yaml validation error: yaml: line 15: did not find expected '-' indicator`

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run command `datree test this_is_valid.yaml`
2. See error `yaml validation error: yaml: line 15: did not find expected '-' indicator`

**Expected behavior**
No error

But if I modify

[2022-08-22 06:30] romanlab commented on #762
@ns-kliu That's a weird looking bug, i was also able to reproduce it and it's indeed a valid yaml, I checked with an online validator.
Need to understand if it has something to do with yaml parsing implementation in GO or something with the pre/post processing we do in the project itself.

BTW, do you need the extra newline for something or is it just there and everything works well without it?

[2022-08-22 07:10] ns-kliu commented on #762
@romanlab datree 1.4.32 can valid, the bug is coming from >= 1.4.35. Because it fails when I upgrade to latest

[2022-08-22 07:42] romanlab commented on #762
@ns-kliu Thanks! that really narrows it down. Maybe [this](https://github.com/datreeio/datree/releases/tag/1.4.35) release has something to do with it 🤔  or [this](https://github.com/datreeio/datree/releases/tag/1.5.15). Both touched the yaml validation step.
Best next step will probably be to debug the CLI and see what fails.

[2022-08-22 14:45] TzlilSwimmer123 opened #763 "add documentation command"
**Is your feature request related to a problem? Please describe.**
An easy way to open datree documentation

**Describe the solution you'd like**
Adding `documentation` or `docs` command that will open a browser with datree documentation

[2022-08-22 16:35] myishay commented on #762
@ns-kliu @romanlab  It seems to be related to the way we marshal the yaml files in our project. I made a fix for that and opened a related issue in yaml go package: https://github.com/go-yaml/yaml/issues/888

[2022-08-22 17:25] ns-kliu commented on #762
@myishay Cool, thanks for your quick fix.

[2022-08-23 11:14] #762 closed, assigned to myishay

[2022-08-24 07:17] Kanika637 commented on #763
Hey @TzlilSwimmer123, can you tell me, how we can achieve this?
I want to work on this issue

[2022-08-24 08:35] TzlilSwimmer123 commented on #763
Hi @Kanika637

At the moment we have some commands like: `test`, `config`, `publish`. My suggestion is to add a new command that user can use like `datree docs` or `datree documentation` and this command will open datree docs link in the browser.
The link `https://hub.datree.io/`

[2022-08-24 09:15] myishay commented on #763
@Kanika637  We are using [cobra](https://github.com/spf13/cobra) as our commands framework.
We also have an already implemented function `openBrowser` [here](https://github.com/datreeio/datree/blob/main/cmd/test/testCommandHelper.go) that opens a browser with a given url.
So, what you can do is to add a new command under the root command and use the `openBrowser` in this command. Since this functi

[2022-08-24 12:09] Kanika637 commented on #763
Okay, I got it ! @myishay
I have to add it in cmd>root.go right?

[2022-08-24 12:39] myishay commented on #763
@Kanika637 correct!

The `version` command can be a good hint on how to implement the file structure etc.

[2022-08-25 10:38] bvaturi opened #766 "disconnected environment - enable dashboad"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

is there a way to enable internal dashboard?

1)  how does the output test is sent to the external dashboard?
is there a way to mimic it?

2) is there a way to create an internal dashboard using an Image?
i can think of a way - create a docker image with the dashboard bundle
with the sink target of th

[2022-08-25 10:39] eyarz commented on #766
Do you mean you want to have the SaaS dashboard offline?

[2022-08-25 10:42] bvaturi commented on #766
yes that sums it up :)

[2022-08-25 12:27] eyarz commented on #766
Got it.

May I ask what is the main use case for having the dashboard available on-prem?

[2022-08-25 14:29] aroundthecode opened #767 "Verbose message and resolution link not available in reports"
**Describe the bug**
invoking --verbose mode with --output JUnit (or any other then 'simple' ) does not show any link in XML report

**To Reproduce**
Steps to reproduce the behavior:
1. from any helm chart folder
2. `helm datree test --verbose  .`
3. links are present in output
[code]
4. `helm datree test --verbose --no-record --output JUnit .`
5. Links not present in report
[code]

**Expected beh

[2022-08-25 18:01] eyarz commented on #767
This behavior is happening because it's not supported by the CLI.
Therefore, I will move this issue to this project.

@hadar-co don't you have an open issue about that for the sarif output?

[2022-08-26 16:01] Heydad-Helfer commented on #755
Hi @noaabarki . Is there a documentation page on the hub to reference to in the rule?

[2022-08-28 07:11] hadar-co commented on #767
This is required for supporting SARIF output and our Github job summary.

**Desired solution:**
Add the links from the `--verbose` output to all available output formats (YAML, JSON, xml, JUnit, SARIF)

[2022-08-28 07:30] bvaturi commented on #766
yes,

well we have some environments that prefer to work offline from some reasons...
and we found this tool - started to exam it on our k8s clusters.
this is a great tool that we found :)

[2022-08-28 08:12] Heydad-Helfer commented on #755
Isn't it a required field for a rule?

On Sun, Aug 28, 2022 at 11:03 AM Adi Fayer ***@***.***> wrote:

--
הידד הלפר

[2022-08-28 08:15] adifayer commented on #755
@Heydad-Helfer It is, my bad :)

[2022-08-28 09:11] eyarz commented on #766
If you want to use Datree in air-gapped environments, it's already supported:
https://hub.datree.io/setup/offline-mode

But the dashboard (UI) is not supported in offline mode.
If you share your use case for the dashboard (UI), maybe we can find a quick workaround for your needs :)

[2022-08-28 09:18] bvaturi commented on #766
yea we are working with offline mode.
but from security reasons we cant sent the result to the hub.
we run health checks on our clusters, and we simply want a UI to display the results.
we thought of a workaround, to build a dashboard locally, that is way i asked how the result is sent to the hub - as a json?

we know that --output json  display it as a json. but is there a flag or a way to send o

[2022-08-28 09:31] gilbahat opened #770 "Some CRDs are missing even though they are present in CRD database"
**Describe the bug**
Some CRDs are not picked up by datree even though they exist in CRD database. see attached test case.

➜  my-rabbitmq-resources datree test *.yaml

[V] YAML validation
[X] Kubernetes schema validation

❌  k8s schema validation error: could not find schema for Kustomization
You can skip files with missing schemas instead of failing by using the `--ignore-missing-schemas` flag

[2022-08-28 09:39] hadar-co commented on #770
Hi @gilbahat :)

The version of the resource that you're using might not exist in the catalog, perhaps it's there but with a different APIversion?

[2022-08-28 09:49] gilbahat commented on #770
I am not sure how to check that, but for one of these CRDs, the schemas were extracted just an hour ago and merged into the DB from this specific reference. That may indicate a problem with the CRD database extractor or the extracted schemas themselves.

(edit: seems to pass too, see here):

➜  my-rabbitmq-resources kubeconform -summary -output json -strict -schema-location default -schema-locatio

[2022-08-28 09:57] eyarz commented on #766
Can you share an example of what you mean?

[2022-08-28 10:08] bvaturi commented on #766
well this is the output of the test:

datree test ~/.datree/k8s-demo.yaml --output json
{"policyValidationResults":[{"fileName":"/root/.datree/k8s-demo.yaml","ruleResults":[{"identifier":"CONTAINERS_MISSING_IMAGE_VALUE_VERSION","name":"Ensure each container image has a pinned (tag) version","messageOnFailure":"Incorrect value for key `image` - specify an image version to avoid unpleasant \"version

[2022-08-28 10:25] noaabarki commented on #755
Hey @Heydad-Helfer,  sorry about that, I accidentally missed it. Do you want to take on this issue? If so, I wrote this [article](https://www.datree.io/resources/eks-best-practices-you-should-know), you can also use it as a reference. Don't hesitate to ask any question :)

[2022-08-28 10:35] Heydad-Helfer commented on #755
Hi Noa, yes, I'd like to take this issue. I already opened a PR, but I
still need to add the documentation link.

Thanks!

On Sun, Aug 28, 2022, 13:26 Noaa Barki ***@***.***> wrote:

[2022-08-28 10:43] hadar-co commented on #770
Look at HelmRelease for example, from what you pasted above:

"filename": "operator.yaml",
"kind": "HelmRelease",
"name": "rabbitmq-cluster-operator",
"version": "helm.toolkit.fluxcd.io/v2beta1"

The version specified in your YAML is **v2beta1**, while in the CRD-catalog there is only one schema for HelmRelease but for version **v1**, see here:
https://github.com/datreeio/CRDs-catalog/tree/main/he

[2022-08-28 11:48] korjavin opened #771 "Kustomize doesn't work with docker image"
``` run -it --rm -v$PWD:/app datree/datree kustomize test /app/overlays/prod/kustomization.yml /app ```
kubectl or kustomize is not installed

[2022-08-28 15:06] adifayer commented on #771
@korjavin The datree/datree image is a lightweight version of Datree that doesn't include the kustomize binary.
As a fast solution, I suggest that you use [datree/datreeci](https://hub.docker.com/r/datree/datreeci) image that also contains kustomize :)

[2022-08-28 20:19] eyarz commented on #766
Can you describe what should be expected output and format to help you send it to the web console?

[2022-08-30 12:02] #770 closed, assigned to nobody

[2022-09-02 11:24] eyarz opened #775 "support not-strict mode for schema validation"
**Is your feature request related to a problem? Please describe.**
today, I can't add  additional properties to my K8s objects because it will fail the schema step ([example](https://github.com/Azure/ip-masq-agent-v2/blob/master/examples/ip-masq-agent.yaml))

**Describe the solution you'd like**
a flag to pass the CLI to use none strict schema for the schema validation step

**Describe alternative

[2022-09-06 07:20] byteknacker commented on #87
Just curious to know if by using datree, we are sending data from within our clusters to your company. For my enterprise clients, I cannot used tools that send data to the outside for storage or analysis. Is there a way to self-host the dashboard of datree? So I can run it in a Kubernetes namespace and have a private endpoint connecting to it which only certain people can access?

[2022-09-06 07:51] eyarz commented on #87
It depends on how you're using datree.
Data from within your clusters will be sent only if you install the [webhook](https://github.com/datreeio/admission-webhook-datree). If you use the `DATREE_NO_RECORD` [flag](https://github.com/datreeio/admission-webhook-datree#other-settings), no data will be sent to the dashboard from your cluster.

Using Datree's CLI or Datree in the CI will not send any da

[2022-09-07 01:53] parraletz opened #779 "pre-commit I got an error "mkdir /.datree: permission denied""
**Describe the bug**
When I want to run datree as part of pre-commit I get an error "mkdir /.datree: permission denied"
**To Reproduce**
Steps to reproduce the behavior:
1. pre-commit run --all-files
2. See error

<img width="1308" alt="Screen Shot 2022-09-06 at 20 52 32" src="https://user-images.githubusercontent.com/1150748/188771160-69a05718-dbb9-49c6-bcde-86e60c24d34f.png">

**Desktop (please

[2022-09-07 03:11] parraletz commented on #779
I can replicated on ubuntu 20.04
<img width="1087" alt="Screen Shot 2022-09-06 at 22 11 47" src="https://user-images.githubusercontent.com/1150748/188780369-f0966476-e420-4530-939f-3de70385894c.png">

[2022-09-07 07:37] adifayer commented on #771
@korjavin Hey, were you able to solve this one with our datreeci image? Can I close this issue?

[2022-09-07 07:38] korjavin commented on #771
Yes, thanks

[2022-09-07 07:38] #771 closed, assigned to nobody

[2022-09-07 11:16] royhadad commented on #779
Managed to reproduce it, these are the steps that I had to follow:
1. install the pre-commit framework https://pre-commit.com/#installation
2. add the pre-commit hook to my personal project, datree has 2 kinds of pre-commit hooks, this is the one https://hub.datree.io/integrations/pre-commit-hook
3. run the following `pre-commit run --all-files`
![Screen Shot 2022-09-07 at 14 16 15](https://user-i

[2022-09-08 11:42] #779 closed, assigned to nobody

[2022-09-08 12:21] royhadad commented on #779
@parraletz
Seems that the pre-commit framework implicitly adds a non-root user when running the hook. I fixed it by explicitly passing `--user root` to the pre-commit entrypoint config

[2022-09-08 12:54] royhadad commented on #779
if you are using `rev: HEAD` in you *.pre-commit-config.yaml*, just make sure to run `pre-commit autoupdate` to update to the latest version of datree 😀

[2022-09-08 13:14] chenrui333 opened #782 "site not accessible due to too many 301s"
Looks like the `datree.io` site is not accessible at the moment.

[code]

[2022-09-08 22:01] parraletz commented on #779
Nice!

It works!

<img width="1193" alt="image" src="https://user-images.githubusercontent.com/1150748/189233758-d266fa69-ac5b-4e9b-b25f-88592d2407d6.png">

[2022-09-11 07:47] #753 closed, assigned to nobody

[2022-09-11 07:49] #751 closed, assigned to nobody

[2022-09-11 07:49] #750 closed, assigned to nobody

[2022-09-11 08:14] TzlilSwimmer123 commented on #767
Resolved in https://github.com/datreeio/datree/pull/778

[2022-09-11 08:14] #767 closed, assigned to nobody

[2022-09-11 11:50] eyarz commented on #782
it also happened to me also a bunch of times during Thursday, but not today.
@chenrui333 are you still getting redirect when trying to access [https://www.datree.io/](https://www.datree.io/)?

[2022-09-11 17:38] netanel-haber opened #783 "uninstall script fails to clean .datree files when sudo doesn't preserve $HOME"
**Describe the bug**
The directory and contents at `$HOME/.datree` fail to be deleted when running uninstall script.

**Investigation:**
The created uninstall script calls `$HOME` [**when the script is run**](https://github.com/datreeio/datree/blob/7e10999830da1f4379fb08befe6051ae70b4e73b/install.sh#L13) at uninstall time.
This `$HOME` may be different to the `$HOME` when running the install scrip

[2022-09-11 17:59] chenrui333 commented on #782
yeah, still happened to me.

[2022-09-12 13:10] royhadad opened #786 "Upgrade Go version to 1.19"

[2022-09-12 17:13] anubha-v-ardhan commented on #786
Hi @royhadad, I would like to work on this.

[2022-09-12 18:16] royhadad commented on #786
@anubha-v-ardhan Go for it :)
I suggest running a search in the project for all occurrences of the string "1.18"

[2022-09-12 20:46] beingtechsavy commented on #287
Hello everybody,
I am installing datree but I am running into mishaps.
I tried the installation command for windows and switched to powershell and tried the path setup command.
Yet it is throwing error saying datree is not recognized when I run 'datree'.
Please help! :)
![Screenshot (57)](https://user-images.githubusercontent.com/111677648/189755455-c5ea8aa9-57f6-4b2a-95cb-1741aaaa2539.png)

[2022-09-12 20:52] beingtechsavy opened #788 "Getting error on Running datree even after installation"
Hello everyone,
Recently I downloaded the CLI setup of datree for windows.
I did all the installation and even set the path command given in the tutorial.
Yet I am not able to run 'datree' on the desktop.

[2022-09-12 20:52] beingtechsavy commented on #788
Refer to my screenshot!
![Screenshot (57)](https://user-images.githubusercontent.com/111677648/189756421-2c79def2-4a25-4b37-81e8-313649d3ed17.png)

[2022-09-12 21:15] beingtechsavy commented on #788
Hello,
So apparently the problem was that I had to setup the path env variable manually since the powershell couldn't do it.
THankyou for support.

[2022-09-12 21:15] #788 closed, assigned to nobody

[2022-09-12 21:16] royhadad commented on #788
@beingtechsavy  Interesting, do you have any idea why the PowerShell command failed to set the path variable?

[2022-09-12 22:15] beingtechsavy commented on #788
No Roy,
I tried many times but it didn't run. :)

[2022-09-13 06:01] eyarz commented on #287
For future reference, this is how @beingtechsavy solved his issue:
https://github.com/datreeio/datree/issues/788

[2022-09-13 12:28] byteknacker commented on #87
Ah that is great to know. In this case, I can start using Datree right away.

[2022-09-13 12:48] shimont commented on #782
Hi,

This is due to a DNS issue that we had.
The issue is resolved, but it might take time to propagate.
You can invalidate your cache.

[code]

Thank you

[2022-09-13 12:59] #782 closed, assigned to nobody

[2022-09-15 11:41] #783 closed, assigned to netanel-haber

[2022-09-15 20:36] pcgeek86 opened #799 "Add Datree as package in Scoop package manager for Windows users"
**Is your feature request related to a problem? Please describe.**

- As a Windows user, I manage my dev tools using the Scoop command line package manager.
- I install other tools, such as `kubectl`, `meshery`, `kubeseal`, and others, using Scoop.
- I would like to install Datree CLI using Scoop package manager.

![image](https://user-images.githubusercontent.com/466713/190503930-78603a4e-5fb9-42

[2022-09-16 18:26] anubha-v-ardhan commented on #434
Hi @adifayer
I'm new to golang and would like give this a try. Can I take this?

[2022-09-18 05:52] anubha-v-ardhan commented on #434
Hey @adifayer @noaabarki
Can you tell me how we can achieve this, I want to work on this issue.

[2022-09-18 11:34] adifayer commented on #434
@anubha-v-ardhan sure, you got it!
Did you check out the [issue](https://github.com/datreeio/datree/issues/433) that we added as a reference?

[2022-09-18 12:24] #786 closed, assigned to anubha-v-ardhan

[2022-09-25 07:59] noaabarki commented on #723
Hi @nielstenboom,

I reviewed your examples. Thank you for the detailed response. It seems that the expression also suits the use-case you pointed and I understand and accept your concern that retrying on "Failed" status with errorCode 1 might be too much. However, I still think the expression should stay as it is sine Pod with "Failed" phase means that one or more of the pod’s containers terminat

[2022-09-25 07:59] #723 closed, assigned to nobody

[2022-10-02 20:44] amustaque97 commented on #763
Hi there, looks like there is no active development on this issue. I can take it up.

[2022-10-02 20:49] amustaque97 commented on #752
Hi there, I would love to give it a shot, can you please assign this issue to me?

[2022-10-03 05:31] TzlilSwimmer123 commented on #763
@Kanika637 it seems like long time passed. You will have time to develop it or we can assign another contributor?

[2022-10-06 02:13] #766 closed, assigned to nobody

[2022-10-11 07:24] vaibhav-fx commented on #618
I use `zsh` in my local. the github actions is based on an ubuntu image, so
I guess `bash` there

On Thu, Jun 30, 2022 at 1:11 PM hadar-co ***@***.***> wrote:

--

Vaibhav Krishna

DevOps

<https://calendly.com/>

<https://www.linkedin.com/>
<http://twitter.com/>

  FalconX Insights <https://blog.falconx.io/>

Bloomberg
<https://www.bloomberg.com/news/articles/2021-08-10/crypto-platform-falconx-qu

[2022-10-15 10:08] amustaque97 commented on #754
Can we close this issue? or is there any action item required for this? 🤔

[2022-10-15 19:41] eyarz commented on #754
@amustaque97 we are waiting for someone to grab this issue.
This wasn't resolved yet.

[2022-10-15 21:13] amustaque97 commented on #754
sorry I got confused because of the above comment from you @eyarz

[2022-10-16 09:06] hadar-co opened #810 "The `--only-k8s-files` flag should ignore empty files"
**Is your feature request related to a problem? Please describe.**
When running `datree test --only-k8s-files` on an empty file, the CLI fails in the schema-validation step.

**Describe the solution you'd like**
The CLI should ignore empty files when this flag is passed, as they are not valid k8s files.

[2022-10-18 06:22] imrushi commented on #763
Hi @TzlilSwimmer123, I am working on this issue to see if I can solve it. I have one question: the docs URL will be hardcoded or dynamic? If it is dynamic, from which place will I get the URL?

[2022-10-18 08:16] fredleger opened #811 "datree pre-commit script and CRDs does not seem to behave as expected"
**Describe the bug**
Using pre-commit to validate a bunch of k8s manifests where there is some use of CRDs and can't make it to success without --ignore-missing-schemas

**To Reproduce**
Steps to reproduce the behavior:
0. Have (for example) a cert-manager ClusterIssuer in your k8s manifests
1. Extract missing CRDs with crd-extractor into local directory (same where your k8s manifests are)
2. Cust

[2022-10-18 08:21] TzlilSwimmer123 commented on #763
Hi @imrushi, @amustaque97 wanted this issue, @amustaque97 do you still want it?

[2022-10-18 08:26] hadar-co commented on #811
Hi @fredleger, I see that when running locally you use this path for your schema location:
`'/src/.datree/crdSchemas/{{ .ResourceKind }}_{{ .ResourceAPIVersion }}.json'`

Seems like this path is missing a `~` in the beginning (pointing to your user directory), since this is the location where schemas are saved (assuming you used the extractor to get them).

If this is true, please try changing the

[2022-10-18 09:03] amustaque97 commented on #763
Hey @TzlilSwimmer123, I have no issues if @imrushi wants to work on this. Please go ahead 🚀

[2022-10-18 09:59] imrushi commented on #763
@TzlilSwimmer123, the docs URL will be hardcoded or dynamic? If it is dynamic, from which place will I get the URL?

[2022-10-18 11:21] Kanika637 commented on #763
So sorry for the delay, you may assign it to someone else @TzlilSwimmer123.

[2022-10-18 11:55] TzlilSwimmer123 commented on #763
@imrushi as mentioned above, the URL is: `https://hub.datree.io` 💪

[2022-10-18 22:13] fredleger commented on #811
Hello,

No the path /src is specially crafted for the docker image use. it's at
least how i understood it should work because my analized code seems to be
in /src

--
[image: webofmars | build-and-run]
Frederic Leger

fondateur | webofmars | build-and-run
M:  06.52.77.53.54
E:  ***@***.***
webofmars.com
<https://twitter.com/webofmars>
<https://www.linkedin.com/company/webofmars/> <https://github.c

[2022-10-19 13:34] hadar-co commented on #811
@fredleger Trying to understand the scenario - when executing `pre-commit run datree-docker --all-files` this runs in a new docker container, which does not have any schemas in it yet. So how did the crd schema get into the container?
Also, since the container terminates after the pre-commit run, how did you manage to access it?

[2022-10-19 14:38] fredleger commented on #811
lets reverse the question. how can we import missing crds in pre-commit run
using docker ?

Regards

Le mer. 19 oct. 2022 à 15:34, hadar-co ***@***.***> a écrit :

[2022-10-19 14:47] hadar-co commented on #811
One way would be to create a docker image based on Datree's image, and have the crd-extractor script present in it.
Then you can have the pre-commit hook run the extractor and then run a Datree test. The extracted crds will automatically be used without needing to specify a `--schema-location` (the CLI knows to look for crds in this dir by default).
WDYT?

[2022-10-19 14:50] fredleger commented on #811
it's an idea indeed.
I will try that and let you know

Le mer. 19 oct. 2022 à 16:47, hadar-co ***@***.***> a écrit :

[2022-10-20 15:05] nosleep77 opened #816 "datree test does not catch some invalid indentation"
**Describe the bug**
I was just testing the datree yaml validation and while testing Probe CRD which we use for monitoring endpoints.
It does catch almost all indentation issues but not when I move an attribute back to spec level. 

In my case, I was testing the Probe CRD
https://prometheus-operator.dev/docs/kube/blackbox-exporter/
(example at the bottom)

If I move prober, module, targets etc to

[2022-10-20 18:44] eyarz commented on #816
@nosleep77 Can you apply this "broken" config to your cluster with kubectl?
If the answer is `no` (because the cluster rejects it) - it's a bug in Datree.
If the answer is `yes` - it's not a bug, and I will explain why...

Datree runs three types of validation in the following order:
1) yaml validation
2) schema validation
3) policy check

If I reproduce the steps you mentioned, I can see that it'

[2022-10-24 11:40] #752 closed, assigned to amustaque97

[2022-10-24 13:46] yellowhat opened #819 "Skip rules for multiple resource"
Hi,
I am looking for a way to skip a rule directly from the CLI or using a configuration file.

For example I am able to skip the following rule for a specific resource:

[code]

I am not sure how to use [Policy-As-Code](https://hub.datree.io/setup/policy-as-code) to skip/disable rules.

**Datree version (run `datree version`):**
- 1.6.40

Thanks

[2022-10-24 14:36] itaydj opened #820 "Datree does not recognize vpa UpdateMode = Off as string"
**Describe the bug**
We are trying to deploy a vpa resource from a helm chart we manage but even though we specify 'Off' as the value for
updateMode, Datree check return the following error:

`k8s schema validation error: For field spec.updatePolicy.updateMode: Invalid type. Expected: string, given: boolean`

**To Reproduce**
Steps to reproduce the behavior:
1. deploy a vpa resource from a helm ch

[2022-10-24 14:50] hadar-co commented on #749
Fixed.

[2022-10-24 14:50] #749 closed, assigned to nobody

[2022-10-24 19:13] eyarz commented on #820
Hi @itaydj, this is not a bug, this is actually a real misconfiguration.
Unquoted `Off` is interpreted as a boolean by YAML:
* https://github.com/helm/helm/issues/5497
* https://github.com/kubernetes/autoscaler/issues/1455

If you try to apply this config, it will be rejected by your cluster.
Just add quotes to [make it a string](https://cloud.google.com/kubernetes-engine/docs/concepts/verticalpod

[2022-10-24 19:23] eyarz commented on #819
If you're using the **dashboard**, just turn the rule toggle off (under the `status` column):
<img width="916" alt="Screen Shot 2022-10-24 at 22 15 53" src="https://user-images.githubusercontent.com/19731161/197607359-6c141765-3881-4bc9-95da-4a3dbc8704f2.png">

If you're using **policy-as-code**, just delete/comment out the rule that you Datree to skip:
[code]

[2022-10-24 19:46] yellowhat commented on #819
Thanks for your reply.
Where can I find all the default policies? In other words the policies.yaml used by default.

Thanks

[2022-10-25 05:06] eyarz commented on #819
Click on the download link next to your "Policy as code" toggle:
https://hub.datree.io/setup/policy-as-code#1-enable-policy-as-code-pac-mode

[2022-10-25 07:53] itaydj commented on #820
Hi Eyar,
Thanks for the quick reply.
before I issued this issue I tried a few settings,
one of which was the following:

[code]

while the values.yaml file is:

[code]

This returns the following error:

[code]

Hope this adds more information
and thanks again

[2022-10-25 10:27] yellowhat commented on #819
I am slightly confused: in order to use the `--policy-config` option I need to be logged in?

[code]

[2022-10-25 11:43] eyarz commented on #820
This is strange 🤔
Can you use the `helm template` command and check if the manifest is rendered with `Off` as a string?

[2022-10-25 11:54] itaydj commented on #820
it does...
![off_yaml](https://user-images.githubusercontent.com/16012393/197766621-0f800c31-42b3-443a-846c-472562742cfb.png)

[2022-10-25 11:54] eyarz commented on #819
I will try to explain it better so it will make more sense :)
* If you want to use policy as code, you need to enable this mode from your dashboard.
* If you can't log in because you are using an air-gapped environment, you can still use Datree (with `datree config set offline local`).
* If you have an internet connection, but you don't want to log in to enable policy as code mode - it will not wo

[2022-10-25 13:24] eyarz commented on #820
What is your helm version?
I used helm 3.8.2 & 3.10.1 (latest) to render the manifest, and this is what I got:
[code]

so when I use `updateMode: {{ .Values.vpa.updateMode | quote }}` (template) & `updateMode: Off` (values), datree returns the following error (which is correct!):
[code]

[2022-10-25 13:26] yellowhat commented on #819
Thanks for the explanation

[2022-10-25 13:26] #819 closed, assigned to nobody

[2022-10-25 15:28] #759 closed, assigned to royhadad

[2022-10-26 12:49] itaydj commented on #820
I understand,
any suggestions on how I pass the schema validation and have this value set to Off?
if we didnt have the Datree tool in our pipeline than i wouldnt even know something is wrong
for now I just set it to Off in the template itself (hardcoded the Off value)

[2022-10-27 05:51] eyarz commented on #820
If you pass `"Off"` in the **Values files**, the template will be generated correctly.
So, now that we know it's a real misconfiguration and not false-positive, why not just leave it as is (`updateMode: {{ .Values.vpa.updateMode }}`)?

If someone uses an invalid value or will not add quotes in the values file, Datree will catch it...

[2022-10-27 07:25] itaydj commented on #820
Thanks again @eyarz

I tried your suggestion but sadly it didnt pass the datree validation and my pipeline failed again with the following message:

[code]

the vpa.yaml updateMode entry is:
[code]

the values file has this values:
[code]

[2022-10-27 07:59] eyarz commented on #820
It works on my machine 😅
Which helm version are you using? my version is 3.10.1 (latest)
![image](https://user-images.githubusercontent.com/19731161/198225899-e885fc01-5ebe-4f20-abdc-11bd083aed08.png)

[2022-10-27 08:30] itaydj commented on #820
haha

we use helm 3.7 in our pipeline
we run `helm plugin install https://github.com/datreeio/helm-datree`
and than `helm datree test $chartname`

[2022-10-27 09:28] eyarz commented on #820
can you try using `helm 3.10.1`?
this is the only thing that I think of that causing the discrepancy between our results...

[2022-10-27 09:39] itaydj commented on #820
yes, I will try on Sunday and update here, I dont want to break the pipeline on a Thursday :-)

[2022-10-27 10:46] shalev007 commented on #754
The framework we use does not allow flags with triple meanings (true, false and %path%)
therefor the flag will only have a boolean value,
as in just `--save-rendered`
and it will save the rendered file to the temp directory

[2022-10-29 08:30] darkknight20032001 commented on #799
I am interested.

[2022-10-30 08:42] adifayer commented on #799
@darkknight20032001 Would you like to be assigned to this task? :)

[2022-10-30 12:37] amustaque97 commented on #775
Hey @eyarz, I can work on this issue. If I understand the problem statement correctly, all we need to do is support strict mode. In the current datree version we run _kubeconform_ in non-strict mode and now we want to support strict mode by passing `--strict` flag

[2022-10-30 12:43] TzlilSwimmer123 commented on #763
@imrushi how is it going?

[2022-10-30 12:51] imrushi commented on #763
Hi @TzlilSwimmer123, I have created PR but there were some changes. So I was stuck at the mocking browser for testing. It took me some time to figure it out. I have resolved it just waiting to get my PR review.

[2022-10-30 12:53] eyarz commented on #775
Exactly the opposite 😅
Today, we pass the `-strict` flag by default to **kubeconform**.
We need to add a new flag to **datree** that will override this default behavior and will call **kubeconform** w/o the `-strict` flag.
Open question - how should we call this flag? How about `--not-strict-schema`?

[2022-10-30 20:18] darkknight20032001 commented on #799
Yes please

[2022-10-30 21:59] amustaque97 commented on #775
Ah, got it 👍🏻

In my opinion `--no-strict` should suffice — short and simple. WDYT?

[2022-10-30 22:00] hadar-co commented on #775
`--not-strict`

[2022-10-31 06:58] eyarz commented on #775
@amustaque97 @hadar-co I'm afraid that it can be confusing.
All the other flags that are related to the schema validation, have the word "schema" in them (e.g. `--schema-version`, `--schema-location`, etc.).

Also, remember that now we have a new policy called "strict", so it will be hard to understand this command: `datree test [manifest] -p strict --not-strict `

[2022-10-31 07:30] #763 closed, assigned to imrushi

[2022-10-31 07:44] hadar-co commented on #775
@eyarz
Good point, how about:
`--schema-not-strict`
or
`--permissive-schema`

[2022-10-31 08:18] eyarz commented on #775
I like `--permissive-schema`
@amustaque97 WDYT?

[2022-10-31 10:18] amustaque97 commented on #775
I'm okay with the flag. Please assign this issue to me. I will raise a PR soon 🙂

[2022-10-31 15:07] m8-t opened #828 "Missing openshift api-resources"
Hey,

I am playing around with datree but fail to get a working validation with specific OpenShift api resources.
I exported the resources via the crd extractor tool but datree just throws an error:

[code]

I double checked what the crd extractor extracted and the group json schema is part of it:

[code]

Is there something wrong with the schema?

Thanks

[2022-11-01 11:52] amustaque97 commented on #385
@noaabarki  is anyone working on this issue?

[2022-11-02 08:30] eyarz commented on #828
@dan-m8t the CRD-extractor is extracting [only CRDs](https://github.com/datreeio/CRDs-catalog/blob/main/Utilities/crd-extractor.sh#L36) from your cluster.

It looks like you're trying to validate an OpenShift native resource (`"kind": "Group"`), so you will need to use the `--schema-location` flag differently, depending on your OpenShift version.

What is your OpenShift version?

[2022-11-02 09:16] m8-t commented on #828
Thanks for clarifying @eyarz

I use OpenShift 4.8 and 4.10.

What do I need to do?

Thanks

[2022-11-02 12:30] adifayer commented on #799
@darkknight20032001 You got it ✨

[2022-11-02 14:12] #775 closed, assigned to amustaque97

[2022-11-02 14:17] royhadad commented on #385
@amustaque97 Nope, feel free to give it a shot :)

[2022-11-02 14:32] amustaque97 commented on #437
Hey, I want to work on this issue.

[2022-11-02 20:33] eyarz commented on #828
You have two locations:
* OpenShift v4.1.0: https://github.com/garethr/openshift-json-schema/tree/master/v4.1.0-standalone
* OpenShift v4.8.2: https://github.com/datreeio/CRDs-catalog/tree/openshift/openshift/v4.8.2-standalone

Both locations work with the same schema naming convention: `[RAW_URL]/{{.ResourceKind}}{{.KindSuffix}}.json`

Example (OpenShift v4.1.0):
[code]
Example (OpenShift v4.8.2)

[2022-11-02 21:04] adamdepollo opened #830 "Datree offline mode is still reaching out to the internet"
**Describe the bug**
In the latest version of Datree, test commands are still reaching out to the internet even when executed in offline mode. It's attempting to hit https://gateway.staging.datree.io/cli/tokens/

**To Reproduce**
Steps to reproduce the behavior:
1. Run command 'datree config set offline local'
2. Execute datree test, providing local schema and policy files
3. See error

**Expected

[2022-11-03 05:59] imrushi commented on #437
Hi @amustaque97, You can take this issue ahead. Sorry for the inconvenience.

[2022-11-03 08:49] hadar-co commented on #830
related to: https://github.com/datreeio/datree/issues/746

[2022-11-03 09:55] adifayer commented on #830
@adamdepollo Thank you for opening this issue, we will prioritize it soon and update here once we start developing the solution :)

[2022-11-03 09:56] adifayer commented on #437
@amustaque97 You got it 🤗

[2022-11-03 11:00] m8-t commented on #828
Thanks for pointing me into the right direction but I still get the same error about the Group schema :(

[code]

I'll try do clone the OpenShift schema and test locally

[2022-11-03 11:18] m8-t commented on #828
Even this is not working, manifest is just a group, checked against the particular json schema:

[code]

Heres the manifest I want to check:

[code]

I had the thought that the managed fiels/labels may cause an issue? This is an Argo CD managed Helm Chart which injects those.

But it even fails with a manual created manifest:

[code]

datree output:

[code]

[2022-11-03 11:44] m8-t commented on #828
Same issue for other OpenShift specific resources:

[code]

I'll take a look at getting those schemas for my cluster locally.

[2022-11-03 11:56] m8-t commented on #828
And also same for extracted api resources as in the mentioned RedHat article, not sure if I do something wrong here.

[2022-11-04 07:17] amustaque97 commented on #437
Before jumping into the implementation. Wanted to check there is no change in the scope of the issue. If yes what would it be? If I follow [comment](https://github.com/datreeio/datree/issues/437#issuecomment-1097962576), I find only two places where we need to make this change.

<img width="1163" alt="image" src="https://user-images.githubusercontent.com/21127788/199914883-2b2ac0aa-436f-40ed-ab9d-

[2022-11-04 12:56] eyarz commented on #828
@dan-m8t when I'm testing your `kind: Group` manifest with the OpenShift v4.1.0 schema, it is passing.
I never tested the OpenShift v4.8.2 schemas (which is why they are still on a side branch), but I extracted them from an OpenShift cluster, as mentioned in the RedHat guide I provided.

I suspect the problem is with the v4.8.2 schemas themselves.
I'm not an OpenShift expert or even have access to

[2022-11-06 13:29] royhadad commented on #830
Here to shed some light on this issue 👋

The following command `datree config set offline local` only tells the Datree CLI what to do once it detects there is no internet connection.
The datree CLI detects a network error, and only if one is detected will it go offline.
A network error is detected [in this code block](https://github.com/datreeio/datree/blob/dc462f538c4a2074d8e00ee683f238d535bcb9e7

[2022-11-06 17:43] myishay commented on #437
Hey, sorry to interfere in such a late stage of the issue, but I think it might be better using https://github.com/uber-go/zap here since it is already implemented in the https://github.com/datreeio/admission-webhook-datree repo. Maybe even using/modifying the package there to be used in both admission webhook and CLI

Plus, I didn't understand exactly what should be the use of `logrus.Error` in t

[2022-11-07 10:30] amustaque97 commented on #437
My understanding is that this might be used in the CI logs.

[2022-11-07 17:41] m8-t commented on #828
Sorry, was busy.
For clearance: I use OpenShift 4.**10** and 4.8, not 4.**1** ;)

Here's another OpenShift native resource which fails:

[code]

I'm glad to help, if you need something OpenShift related tell me :)

[2022-11-08 10:36] romanlab commented on #830
@adamdepollo i noticed the url is pointing to our staging environment. How did you download the version you're using?

[2022-11-08 11:46] eyarz commented on #828
Thank you for the help!
I see I'm getting the same error with this manifest, so this brings me to the conclusion that the problem is indeed with the schemas I extracted from the OpenShift cluster, and not with the validation process.

Because I don't have access to this OpenShift cluster anymore, I don't know what went wrong when I pulled the schemas.
You can try and [use the guide ](https://cloud

[2022-11-08 12:16] m8-t commented on #828
I'll give that a shot and report back to you, thanks.

[2022-11-08 17:14] adamdepollo commented on #830
@romanlab I believe I just grabbed the binary from the releases page.

@royhadad OK, thanks for that clarification. I will try to work on a pull request this week for the fix you suggested.

Though I wonder about the functionality of that offline option ... seems like there could theoretically be any number of error messages thrown depending on what network configurations folks have. Wouldn't it m

[2022-11-08 18:16] singhprincejeet opened #833 "Schema validation error does not help identify the source of error"
**Is your feature request related to a problem? Please describe.**
When I see a schema validation error, it does not help me identify where the issue is.

For ex, in this error: `k8s schema validation error: For field spec.tls.1: Additional property host is not allowed`

It does not give any specific info on where the error would be. Kubeconform shares the kind of the resource which has error. If

[2022-11-09 08:52] m8-t commented on #828
No luck here, I tried to extract the schemas with both ways described in the blog post. Does not work :(.

Would you like to try the route example with the schema I extracted? If so, try this:

[code]

[2022-11-09 15:10] dol commented on #828
Try this steps:

[code]

[2022-11-09 19:47] m8-t commented on #828
That seems to lead me into the right direction.

To get all the resources I needed to do this:

`python3 ../openapi2jsonschema.py ../api-release-4.10/**/**/*.crd.yaml`

With your command it was missing for example the route schema under route/v1

Trying to validate my example Route from above this works:

[code]

I am not sure why there are missing schemas for specific OpenShift resources like Gro

[2022-11-10 08:50] eyarz commented on #754
Implemented.

[2022-11-10 08:50] #754 closed, assigned to shalev007

[2022-11-10 08:51] #755 closed, assigned to Heydad-Helfer

[2022-11-10 08:51] #676 closed, assigned to eyarz

[2022-11-10 08:58] romanlab commented on #830
@adamdepollo It's best to download via one of our install methods but if you want to use a binary from the releases, make sure you don't use one of the `-rc` releases as they point to our staging environment and may be less stable to use.

[2022-11-11 03:44] adamdepollo commented on #830
@romanlab Ah OK good to know, I think I did pull the rc one originally but unfortunately having the same issue with the stable version :(

[2022-11-13 09:49] #830 closed, assigned to nobody

[2022-11-13 11:55] hadar-co commented on #616
The SARIF format is now supported, see our [action](https://github.com/datreeio/action-datree#github-code-scanning-sarif) for instructions on how to create a SARIF report & upload it to Github code scanning :)

[2022-11-13 11:55] #616 closed, assigned to hadar-co

[2022-11-15 13:57] #731 closed, assigned to nobody

[2022-11-20 04:26] noorul opened #839 "Question: Can datree replace https://github.com/zegl/kube-score ?"

[2022-11-20 05:11] noorul commented on #839
Moving this to discussion.

[2022-11-20 05:11] #839 closed, assigned to nobody

[2022-11-20 08:42] noaabarki commented on #437
@myishay I understand that it might be easier for maintenance but still, I don't think it's necessary to have the same logger library in both projects. As @amustaque97 said, since logrus writes log entries as JSON automatically it's more suitable for CI logs.

[2022-11-20 13:18] myishay commented on #437
@noaabarki  hmm I understand.
@amustaque97 I think you can go ahead and start implementation then!
no change of scope

[2022-11-21 12:30] KiranSatyaRaj commented on #434
Is this still in the works? after going through the referenced issue, I get the gist of what needs to be done, if anyone isn't working on this issue. I can take this up, can you give me your opinion on this @noaabarki?

[2022-11-22 12:42] noaabarki commented on #434
Hi @KiranSatyaRaj, this is still relevant, but we don't want to hijack  @anubha-v-ardhan work 😇. @anubha-v-ardhan are you still working on it?

[2022-11-22 13:16] KiranSatyaRaj commented on #382
Hey @noaabarki, can you send me the slack invitation, I need to troubleshoot some issues I have while installing datree, and also to discuss this GitHub issue, I want to take it up.

[2022-11-22 15:21] noaabarki commented on #382
Hi @KiranSatyaRaj, you got it!

This is the invite URL for Datree Slack channel: https://join.slack.com/t/datreecommunity/shared_invite/zt-1kaxe67uc-o0uO3EuK3kxjV3PSeqe~ZA.

[2022-11-24 15:01] noorul opened #846 "Publish report to local filesystem"
**Is your feature request related to a problem? Please describe.**
Today there is no option to publish the report to CI system like Jenkins. The only option available is the cloud. See the discussion comment https://github.com/datreeio/datree/discussions/841#discussioncomment-4226275

**Describe the solution you'd like**
Provide an option to publish the report to the local filesystem.

**Describe

[2022-11-25 10:58] Nikhil26112 opened #847 "Dashboard login giving error in verifying token."
I tried to login to datree dashboard on https://app.datree.io/webhook-instructions. But I am unable to login to it because an error is coming whenever I run this command:
[code]
this is the output which I am getting :
[code]
![Screenshot from 2022-11-25 16-20-58](https://user-images.githubusercontent.com/72178665/203968620-7ffac4a9-9858-4d6f-8fbb-bb8ca577ccbb.png)

**Expected behavior**
Login to d

[2022-11-25 11:19] royhadad commented on #847
@Nikhil26112
Can you give some more context on the environment you tried to install in?

eks? fargate? minikube? do you have enough cpu/memory?
maybe check for error logs in the deployment resource?

thx

[2022-11-25 11:21] romanlab commented on #847
@Nikhil26112 what's the k8s version of your cluster?

[2022-11-25 11:46] Nikhil26112 commented on #847
I tried to install it on minikube. I have enough CPU memory.

[2022-11-25 11:49] Nikhil26112 commented on #847
nikhil@nikhil:~$ kubectl version --short

Flag --short has been deprecated, and will be removed in the future. The --short output will become the default.
Client Version: v1.25.4
Kustomize Version: v4.5.7
Server Version: v1.25.3

[2022-11-27 11:22] Nikhil26112 commented on #847
This issue is resolved.
I set token using
```datree config set token <token name>```
and then logged out and logged in again and this works now.
I successfully logged in to datree dashboard using my github.
Thank you

[2022-11-27 12:00] #847 closed, assigned to nobody

[2022-11-27 12:12] royhadad opened #848 "Datree installation fails in Minikube due to insufficient cpu"
**There is a temporary workaround at the bottom of the issue**

**Describe the bug**
when trying to install Datree in my local minikube, I get the following error:
[code]

**To Reproduce**
1. start minikube locally
2. apply some resources that will request some cpu
3. Install Datree using the one-liner https://github.com/datreeio/datree#2-install-datree-on-your-cluster

**Expected behavior**
Datre

[2022-11-27 12:14] royhadad commented on #847
@Nikhil26112
This is a workaround to access the dashboard, in order to install Datree in **minikube**, I suggest you take a look at this issue, there is a temporary workaround that should work:
https://github.com/datreeio/datree/issues/848

[2022-11-27 13:39] Nikhil26112 commented on #847
@royhadad
Okay, I thought the issue is resolved that's why I got access to dashboard.
Thanks for the update.

[2022-11-28 02:03] #816 closed, assigned to nobody

[2022-11-28 02:03] #811 closed, assigned to nobody

[2022-11-28 12:51] adifayer commented on #846
@noorul What report do you refer to, do you mean the results of the policy check (CLI output)?
![image](https://user-images.githubusercontent.com/43816136/204282136-2135786d-fbc6-4ac5-859a-18854af2b64a.png)

[2022-11-28 13:54] noorul commented on #846
Yes

[2022-11-29 10:04] adifayer commented on #846
So the requested feature is to be able to write the CLI output to a local path? If so, it can be achieved by piping datree test result to a local path: `datree test [path] > [local-file-path]`
Does that solve this one? :) @noorul

[2022-11-30 10:18] KiranSatyaRaj commented on #382
Hey @noaabarki, I didn't work with Git much and had less idea on how to deal with it, all these days I was learning Git and blogging it along the way, I'm back now and will start working on this issue, so far I got a hold of this if there's anything I'm stuck with I'll get back to you, thanks Noaa