[2021-07-01 08:58] kaustubhnerurkar opened #79 "Policy check fails but it doesn't reflect in the final summary"
**Describe the bug**
Let's say I have a deployment file and it has replicas field set to blank for whatever reason. Now when 'datree test' is run on this file, it shows a failed policy but final summary shows 'Total rules failed' as 0.

**To Reproduce**
Steps to reproduce the behaviour:
1. Make a sample Kubernetes Deployment in a yaml and set the 'replicas' field to an empty value
2. Run 'datree t

[2021-07-01 15:07] grafikkaos opened #81 "Unable to view results in an Azure DevOps pipeline"
**Is your feature request related to a problem? Please describe.**
There are limited output options for Datree.  When used with Azure DevOps, it would be nice to able to pulish the results of these checks

**Describe the solution you'd like**
A JUnit output format would be extremely welcome to make it easier to export the results.  This can then be viewed in the Azure DevOps pipeline.

[2021-07-02 01:44] jkevingutierrez opened #82 "Config file"
**Is your feature request related to a problem? Please describe.**
Right now Datree  requires that we sign up in order to be able to change policies or default configs.

**Describe the solution you'd like**
It would be great to be able to edit that info having a datree config file that could be comited to repos

**Additional context**
It would be equivalent to files like .eslintrc.yaml or analysis

[2021-07-02 09:20] eyarz commented on #81
I researched a little, and it looks like JUnit output for the Azure DevOps pipeline is just a regular XML output format.
Do you know what the structure of this XML should look like for it to be parsed automatically by Azure DevOps pipeline?

[2021-07-02 09:29] eyarz commented on #82
This a great feature request that we do want to implement!
Can you elaborate more on your use case for that? It will make it easier for us to plan and execute this feature :)

[2021-07-04 09:14] dimabru commented on #79
Hi @kaustubhnerurkar,
I'm having trouble reproducing this. Can you please share the yaml file you used to produce this output?

Also, can you please add the version you are using? You can do this by running `datree version`

Thanks,
DIma

[2021-07-04 11:23] Ravenwater opened #84 "Windows support"
**Is your feature request related to a problem? Please describe.**
We use Windows laptops and desktops to manage our Kubernetes infrastructure. Not having a windows compatible CLI prohibits distribution to our team.

**Describe the solution you'd like**
Elevate Windows to a supported platform

**Describe alternatives you've considered**
We are using home-grown validation scripts.

**Additional con

[2021-07-04 13:16] eyarz commented on #84
@Ravenwater we have some Windows users who are using Datree by running [Linux on Windows](https://docs.microsoft.com/en-us/windows/wsl/install-win10), but I can understand why you would want to run Datree natively :)
Because Datree is written in Go, we can (easily) compile a Windows version, but none of us has a Windows machine, so you would be our beta tester for that 😅

[2021-07-04 18:25] Ravenwater commented on #84
@eyarz yes, please. I can certainly help with development and testing. Let me know who I should collaborate with.

[2021-07-06 17:44] ricardoalcantara opened #87 "Self hosted datree configuration dashboard."
**Is your feature request related to a problem? Please describe.**
We need a centralized policy configuration but we cannot go to the external environment to get those polices. It must be inside our infrastructure.

**Describe the solution you'd like**
A docker image of app.datree

[2021-07-07 07:39] shdhumale commented on #84
Hi All I had used Docker with Ubuntu Image and Volume mount technic to use DaTree on window. You can visit to my blog given below. Make sure to have Docker desktop running on your Window O/S.

https://shdhumale.wordpress.com/2021/07/06/running-datree-on-window-using-ubuntu-docker-images/

BTW also got reply from DaTree that window version is available on belwo URL
https://github.com/datreeio/datre

[2021-07-07 11:19] eyarz commented on #84
@Ravenwater yesterday the team released a [Windows-compatible version (0.1.708)](https://github.com/datreeio/datree/releases/tag/0.1.708) for you to try out.

I played with it a little, and it looks like it is working well, except for some missing emoji and colors in the CLI:
![WhatsApp Image 2021-07-05 at 18 30 21](https://user-images.githubusercontent.com/19731161/124750429-1e9c9500-df2e-11eb-9b

[2021-07-07 12:38] Ravenwater commented on #84
@eyarz awesome, yes, I will run it through its paces on our K8s infrastructure and report back.

[2021-07-07 13:20] eyarz commented on #87
Do you mean that you need Datree to work in an air-gapped environment (i.e. no internet access at all)?

[2021-07-07 13:25] eyarz opened #88 "Docker image for Datree"
**Is your feature request related to a problem? Please describe.**
Sometimes, users prefer not to install tools on their CI machines.

**Describe the solution you'd like**
To make it easier to use Datree in the CI, it will be nice to have a ready docker image.

[2021-07-07 13:34] ricardoalcantara commented on #87
Yes! that's exactly what I mean. Our pipeline and deployment env (k8s) are all sealed, and most of our products uses VPN or dedicated network, but even if something needs to be exposed on internet we have DMZ and layers of firewall to make it happen.

[2021-07-07 14:00] eyarz commented on #87
Got it. Unfortunately, this is not something that we are planning to support soon :/
What are the key features that Datree has and you need?
Based on your answer, I will be able to recommend alternative tools that are also compatible with an air-gapped environment.

[2021-07-08 16:22] ricardoalcantara commented on #87
Indeed there are other tools that validate k8s environment or k8s CRD files somewhere in the CI pipeline, but I haven't found yet a tool that has this centralized configuration server that I could manager the profile in just one place and run my CI pointing to this profile.

[2021-07-08 20:47] eyarz commented on #87
You are right, the centralized configuration is a unique functionality that only we have.
The good news is that this is on our roadmap, it just won't be released soon (in the next couple of weeks).

If you don't fear some engineering overhead and gluing OSS together, you should probably be able to build a centralized configuration policy with [OPA](https://github.com/open-policy-agent/opa).

[2021-07-15 12:42] 90er opened #96 "macOS Installation failes due to missing sudo prefix"
Hi,

I just come across Datree by TechWorld with Nana (https://www.youtube.com/watch?v=hgUfH9Ab258).

When i try to install Datree with the command (curl https://get.datree.io | /bin/bash) it fails, because the commands run without sudo privilege (because the platform is Darwin and not Linux):
https://github.com/datreeio/datree/blob/06e01f89be64f7116ddbafe7d67dea2ea67b0758/install.sh#L26

When I r

[2021-07-15 12:54] eyarz commented on #96
🤔 interesting.
Thank you for letting us know about this - we're looking into it!
After installation with `sudo`, is everything working as expected?

[2021-07-15 13:12] 90er commented on #96
I just tried it with an example YAML file (https://github.com/kubernetes/examples/blob/master/guestbook/frontend-service.yaml) and it seems to work fine.

[code]

[2021-07-15 13:30] eyarz commented on #96
We don't want to add `sudo` in the install script because it is not a best practice.
Maybe add a wrapper that will catch a permission error and only then will ask for `sudo`?

[2021-07-15 21:10] Ravenwater commented on #84
Perfect, I am able to make use of datree on our Windows laptops. Thank you very much for your support.

[2021-07-15 21:10] #84 closed, assigned to nobody

[2021-07-16 09:10] jmatis-bullhorn opened #97 "owner label check not working"
**Describe the bug**
When 'owner' label check enabled helm datree test does not fail  on chart that does not have this label

**To Reproduce**
Steps to reproduce the behaviour:
1. Run command '$ helm datree test hawtio'
2. output does not show any error despite my settings in

**Expected behavior**
i was expecting it to fail since my chart does not have that label

**Screenshots**
my deployment ya

[2021-07-16 20:43] eyarz commented on #97
Thank you for reporting that!
I'm not able able to reproduce this bug :/

Can you please try to [generate a manifest file](https://helm.sh/docs/helm/helm_template/#helm-template) and run `datree test [manifest file]` against it?
It will help us to debug this issue and understand if this is a logical problem with the policy engine or the helm plugin.

[2021-07-18 07:22] dimabru commented on #79
We deployed a fix that we believe should solve these types of issues in version `0.1.741`.
In case the issue persists please feel free to comment on this thread and reopen this issue.
Closing it for now.

Thanks,
Dima

[2021-07-18 07:22] #79 closed, assigned to dimabru

[2021-07-18 14:33] #82 closed, assigned to nobody

[2021-07-18 21:31] #87 closed, assigned to nobody

[2021-07-19 11:09] shdhumale commented on #84
Hi

I am able to use the DaTree version :) on windows.

On Wed, Jul 7, 2021 at 1:09 PM Siddharatha.Dhumale ***@***.***>
wrote:

--
Regards
Siddharatha Dhumale
http://siddharathadhumale.blogspot.com/

[2021-07-25 14:01] 90er commented on #96
This shouldn‘t (automatically) be closed until it‘s solved …

[2021-07-25 14:09] eyarz commented on #96
I agree, but we didn't get your response, so this issue was automatically marked as "stale". I will re-open it.
Right now, we plan to solve it with a [wrapper](https://github.com/datreeio/datree/issues/96#issuecomment-880696250).

[2021-07-25 14:13] 90er commented on #96
Thanks for your reply

You suggested the use of a wrapper script, so i just waited for it to test on my machine :-)

[2021-07-25 14:27] eyarz commented on #96
Cool :)
I added a new tag (WIP) so it will be clear that we decided to work on that, and also so it won't be closed automatically.

[2021-07-26 22:13] #97 closed, assigned to nobody

[2021-07-29 09:10] myishay opened #108 "Show Detailed Occurrences for rules failures"
**Is your feature request related to a problem? Please describe.**
As a user, I want to be able to have a clearer indication for the mistakes in my yaml manifests.

**Describe the solution you'd like**
Showing manifest's `metadata.name` and `kind` upon failure.

**Describe alternatives you've considered**
Manually iterating through all my manifest to find where exactly my config failed.

[2021-07-29 09:42] eyarz commented on #108
here is a mock:
![Screen Shot 2021-07-29 at 12 41 36](https://user-images.githubusercontent.com/19731161/127469904-3e055e76-2149-42f9-89c4-3db823db52e2.png)

[2021-08-04 12:22] eyarz opened #115 "homebrew support"
### Discussed in https://github.com/datreeio/datree/discussions/90

<div type='discussions-op-text'>

<sup>Originally posted by **virajp** July  8, 2021</sup>
It will be great if datree is available via homebrew</div>

[2021-08-04 13:37] eyarz opened #116 "Structured output improvement"
**Is your feature request related to a problem? Please describe.**
We support JSON and YAML output but the structure of the output is not "developers/machine/pipe-line friendly" enough

**Describe the solution you'd like**
The output structure should be documented, clear, and consistent.

**Additional context**
YAML output: `datree test manifest.yaml -o yaml`
JSON output: `datree test manifest.yam

[2021-08-05 10:01] alexander-bruun opened #121 "General datree question (pre-commit hook)"
Is there any provided examples of how datree could be implemented as a pre-commit hook?

[2021-08-05 10:07] eyarz commented on #121
You are right, we need to prepare one and add it to our docs 😅
I found an example in one of [our forks](https://github.com/pab1it0/datree#install-in-your-repo-as-a-pre-commit-hook) (don't forget to change the version to the newer one).
I didn't test it (yet), so I can't tell you if this working as expected, but it looks legit.

[2021-08-05 10:12] alexander-bruun commented on #121
That was a very fast response, I will definitely look into it and try it out myself. Thanks a lot.

[2021-08-05 10:28] alexander-bruun commented on #121
@eyarz I'm faily new to pre-commit hooks, so please let me know if I'm off the deep end or doing something wrong.

I did the following:
1) brew install pre-commit
2) in my repo directory I executed pre-commit install
3) I then added a .pre-commit-config.yaml to the root folder of my repo
4) I then run git commit and get the following error
![image](https://user-images.githubusercontent.com/8764385

[2021-08-05 10:32] eyarz commented on #121
🤔
To be frank, I never used this framework with a pre-commit hook.
I will give it a try by myself and keep you posted!

[2021-08-05 12:49] eyarz commented on #121
I wrote a quick (and dirty) pre-commit hook:
![image](https://user-images.githubusercontent.com/19731161/128351509-a19b6017-1ab1-49a8-8a0a-309ce66baee3.png)

__How to implement:__
1. by default, every git repo has a `.git/hooks` folder (it is a hidden folder)
2. rename the `pre-commit.sample` file to just `pre-commit`
3. past inside the following code:
[code]
4. make a change in a k8s yaml file an

[2021-08-05 13:04] LarsBingBong commented on #121
It's totally fine if it does not work with the [pre-commit frameowk](https://pre-commit.com/) as we'll just use the `git config core.hooksPath PATH` configuration option to have a folder for git hooks included in X repo.

So cool

[2021-08-05 13:21] alexander-bruun commented on #121
Very cool! @eyarz

I just made some minor changes for the script to be #!/bin/sh compatible... specifically [[]] which is a bash thing:

[code]

Thanks a lot for the help!

[2021-08-05 18:54] eyarz commented on #121
I leave this one open so I will remember to also add this to our docs :)

[2021-08-08 09:36] #96 closed, assigned to nobody

[2021-08-08 09:53] eyarz opened #125 "plugins/eco-systems to support"
We are getting a lot of requests for different plugins to support.
This issue is a place for our community to understand which plugins Datree should support and prioritization.
* <s>[kubectl](https://kubectl.docs.kubernetes.io/guides/extending_kubectl/plugin_mechanism/#kubectl-plugins)</s> ⭐
* <s>[kustomize](https://github.com/datreeio/datree/issues/395)</s> ⭐
* <s>[pre-commit framework](https://p

[2021-08-08 11:06] eyarz commented on #121
added to docs: https://hub.datree.io/git-hooks

[2021-08-08 11:06] #121 closed, assigned to nobody

[2021-08-08 12:53] eyarz opened #127 "Policy-As-Code (PaC)"
### What
Users should be able to set Datree’s policies via code (YAML file)

### Why
* Change management of policies
* Collaboration between the policy owner and policy consumers
* GitOps - everything as code

### How
1. User will Generate a PaC file (yaml) from scratch, or he will export his policies configuration from Datree's dashboard (aka UI)
2. In the UI, the user will switch to PaC mode
3.

[2021-08-19 10:45] eyarz commented on #88
done.
updated docs:
https://hub.datree.io/#a-1-install-datrees-cli-integration

[2021-08-19 10:45] #88 closed, assigned to shimont

[2021-08-21 04:38] chenrui333 commented on #115
I have filed an homebrew-core PR for this k8s utility.

[2021-08-24 13:59] eyarz commented on #115
`brew install datree`

[2021-08-24 13:59] #115 closed, assigned to nobody

[2021-08-24 14:01] eyarz commented on #108
live:
![image](https://user-images.githubusercontent.com/19731161/130630511-41417058-b1ec-473e-a93f-dd5cb095f338.png)

[2021-08-24 14:01] #108 closed, assigned to nobody

[2021-08-24 14:03] eyarz commented on #81
done.

[2021-08-24 14:03] #81 closed, assigned to nobody

[2021-09-02 14:03] dimabru opened #159 "Datree fails when installing with brew"
**Describe the bug**
Any `datree` command fails

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run command `brew install datree`
2. Run `datree`
3. Error is displayed

**Expected behavior**
Expecting `datree` to work

**Desktop (please complete the following information):**
 - OS: MacOS

**Datree version (run `datree verion`):**
 - Version: 0.9.0

**Additional context**
I suspect th

[2021-09-02 14:11] myishay commented on #159
Related to this PR: https://github.com/Homebrew/homebrew-core/pull/84484

[2021-09-02 14:59] SMillerDev commented on #159
What happens when you run `brew test datree`? Because I can't reproduce any error when running datree installed from brew.

[2021-09-03 02:30] chenrui333 commented on #159
I can actually reproduce this on my Mojave machine. 🤔

[2021-09-03 02:33] chenrui333 commented on #159
I believe this is related to https://github.com/golang/go/issues/45702 (which we have fixed bunch when we did the go 1.17 upgrade)

[2021-09-03 02:35] chenrui333 commented on #159
let me give 0.11.0 release a try in my local.

[2021-09-03 02:46] chenrui333 commented on #159
I filed a patch PR, I have verified it fixed my issue on my Mojave machine.

[code]

[2021-09-05 07:54] #159 closed, assigned to nobody

[2021-09-08 08:08] mahgo opened #164 "Ability to hide "loading" animation"
**Is your feature request related to a problem? Please describe.**
I'm running datree in Azure Pipelines, and my logs are being filled up with lots of loading messages, such as:
[code]

**Describe the solution you'd like**
It would be good to be able to disable this with an optional argument.

[2021-09-08 09:35] eyarz commented on #164
You have a good point there :)
I think the best way to do it is by updating our `--output simple` flag to also remove the loading animation.
WDYT?

[2021-09-09 00:45] mahgo commented on #164
That would work for me!

[2021-09-09 04:05] mahgo opened #166 "k8s schema validation error: could not find schema for Ingress"
**Is your feature request related to a problem? Please describe.**
Datree test isn't working on my Ingress, with the following error: `k8s schema validation error: could not find schema for Ingress` It has an apiVersion of "networking.k8s.io/v1". Is this not supported? According to https://hub.datree.io/prevent-ingress-forwarding-traffic-to-single-container it looks like ingresses are supported in

[2021-09-09 07:51] dimabru commented on #166
Hi @mahgo
Any chance this is related to https://github.com/datreeio/datree/discussions/141?

[2021-09-09 08:13] #164 closed, assigned to nobody

[2021-09-09 08:43] eyarz opened #169 "error when running Datree helm plugin on a Windows machine"
**Describe the bug**
error when running Datree helm plugin on a Windows machine

**To Reproduce**
Steps to reproduce the behavior:
1. Install Datree's helm plugin on a Windows machine
2. Run Datree: `helm datree test [chart]`
3. See error `%1 is not a valid Win32 application.`

**Expected behavior**
The plugin should work fine (like on a Linux machine)

**Screenshots**
![image](https://user-images

[2021-09-09 08:52] myishay commented on #164
A fix for this issue has been released and `--output simple` now also removes the loading animation. Enjoy!

[2021-09-09 09:01] eyarz opened #170 "The simple output flag should print output without any colors"
**Describe the bug**
Simple output prints color (tags)

**To Reproduce**
Steps to reproduce the behavior:
1. Run command 'datree test --output simple k8s-demo.yaml'
2. See the summary table

**Expected behavior**
The simple output flag should print output without any colors or emoji

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS: Windows 10

**Datree versio

[2021-09-09 10:41] eyarz commented on #164
Just don't forget to update the CLI :)
`curl https://get.datree.io | /bin/bash`

[2021-09-09 15:08] eyarz commented on #169
After some digging, the root cause for this bug is Helm:
https://github.com/helm/helm/issues/7117

[2021-09-09 15:08] #169 closed, assigned to nobody

[2021-09-09 21:42] eyarz commented on #170
This is happing on an old version of Datree and I'm not able to reduce it with the latest version (`0.12.1`):
![image](https://user-images.githubusercontent.com/19731161/132766436-63952678-2702-4d56-8e3f-a511dfd69739.png)

[2021-09-09 21:42] #170 closed, assigned to nobody

[2021-09-10 07:54] mahgo commented on #164
Works great, thanks!

[2021-09-17 02:06] mahgo commented on #166
@dimabru Sorry for the delay. That did the trick!

[2021-09-17 02:06] #166 closed, assigned to nobody

[2021-10-03 08:22] eyarz commented on #127
done:
https://hub.datree.io/policy-as-code

[2021-10-03 08:22] #127 closed, assigned to nobody

[2021-10-03 13:25] dimabru opened #183 "Add auto completion to terminal"
**Is your feature request related to a problem? Please describe.**
When using datree cli, there's no support for auto complete for next possible command

**Describe the solution you'd like**
Add auto-completion support for terminal (zsh, bashrc, etc..)
Can be part of the installation flow for datree

[2021-10-04 00:43] mahgo opened #185 ""Ensure Deployment has more than one replica configured" shouldn't fail when replicas is omitted"
I think the policy "Ensure Deployment has more than one replica configured" - DEPLOYMENT_INCORRECT_REPLICAS_VALUE shouldn't fail when replicas is completely omitted. According to https://hub.datree.io/ensure-minimum-two-replicas this should only occur when replicas is set to 1. An example situation where you'd want to omit "replicas" is when using a Horizontal Pod Autoscaler to control the replica

[2021-10-04 06:57] eyarz commented on #185
As far as I know, when `replicas` is not omitted, the default number of replicas per deployment is 1 (I also found [this on StackOverflow](https://stackoverflow.com/questions/49558538/kubernetes-set-deploment-number-of-replicas-based-on-namespace)), so I think this behavior is correct. But you're right, and we need to update the docs!

Regarding the scenario that you described (controlling the num

[2021-10-04 08:45] romanlab opened #187 "Non strict mode - ignore files are not k8s files"
**Is your feature request related to a problem? Please describe.**

when a user has several files (e.g. "user_configs.yaml") in a dir that not all of them are K8s files and he runs datree on the entire dir content, he will get errors (not valid yaml/k8s file check will fail) on those files.

**Describe the solution you'd like**

add a flag that will ignore files that are not K8s files.
we can do t

[2021-10-04 08:46] romanlab commented on #187
@dimabru per your design:

Add `--not-strict` flag:

1. ignore all files that are not yaml / wannabe k8s files

2. display yaml validation step - always pass

3. at the end - only show files passed [1]

4. exist code depends on [3]

[2021-10-04 10:32] eyarz commented on #187
I gave it some thought, and I'm not sure this is the best name for this flag.
maybe it needs to be `--ignore-other-files` \ `--filter "not k8s files"` \ something else?

[2021-10-04 11:19] romanlab commented on #187
How about `--skip-invalid-files` or `ignore-invalid-files` ?

[2021-10-04 13:08] eyarz commented on #187
but those files are valid, they are just not valid k8s files...
maybe `--skip/ignore-invalid-manifests` ?

[2021-10-04 13:39] dimabru commented on #187
`ignore-invalid-manifests` (or other similar flag names) suggests that we should also ignore files that are supposed to fail the k8s schema validation step for not passing a specific schema, which is something we still want to keep when using this type of flag.

I think using the approach _what is in_ is better than _what is out_. IMO the flag should describe the types of files we **are** validati

[2021-10-04 15:20] eyarz commented on #187
sounds good to me:
`datree test *.yaml --only-k8s-files`

[2021-10-05 07:07] NilimaC04 opened #189 "Docs: Need to update the docker image name"
**Describe the bug**
From [Datree](https://hub.datree.io/) following the step [2](https://hub.datree.io/#mp-2-test-a-kubernetes-demo-manifest)
Docker image already pull from step [1](https://hub.datree.io/#a-1-install-datrees-cli-integration)
Using the Docker command:
![image](https://user-images.githubusercontent.com/16969949/135975257-a18c419d-5316-476c-9564-6648c9960770.png)

While running the

[2021-10-05 09:21] romanlab commented on #189
You're absolutely right. Until we fix the documentation you can use the following command:

`cat ~/.datree/k8s-demo.yaml | docker run -i datree/datree test -`

[2021-10-06 06:30] eyarz commented on #189
I updated the doc, thank you!

[2021-10-06 06:30] #189 closed, assigned to nobody

[2021-10-10 07:43] romanlab opened #195 "Installation script continues even if download fails"
**Describe the bug**
The install script continues execution even if there are errors in the download process and the download fails

**To Reproduce**
Steps to reproduce the behavior:
1. curl https://get.datree.io | /bin/bash
2. interrupt internet(disable wifi during download)
3. See error

**Expected behavior**
Error message and non-zero exit code

**Screenshots**

![WhatsApp Image 2021-10-10 at 1

[2021-10-13 13:01] #187 closed, assigned to dimabru

[2021-10-14 08:12] #185 closed, assigned to nobody

[2021-10-14 09:17] ashish-ad commented on #195
I want to work on this.
Can I work on correcting the bash installation script?!

[2021-10-14 09:25] romanlab commented on #195
@ashish-ad Yeah, sure. It'll be great.

There are 2 relevant files for this fix: [internal_install.sh](https://github.com/datreeio/datree/blob/staging/internal_install.sh) and [install.sh](https://github.com/datreeio/datree/blob/staging/install.sh)

[2021-10-14 10:19] ashish-ad commented on #195
Hey Roman,
Are these two files different thing as I can see they seem to same but there are some changes internal_install.sh file that checking the os type as Linux and so on.. which file deals which what can I know that...
Thank you

[2021-10-14 10:42] dimabru commented on #195
Both files are pratically the same. You'll have to make sure the script fails if any line in the script returns exit code > 0.
No need to make any changes in the os checking flow

[2021-10-14 11:50] ashish-ad commented on #195
yeah got it!

[2021-10-15 08:57] Jitendarmahara commented on #125
kubectl

[2021-10-15 13:03] myishay opened #203 "Support installation for architectures other than x86_64"
**Is your feature request related to a problem? Please describe.**
Installation script supports only x86_64 architecture. 386 and arm64 are not supported.

**Describe the solution you'd like**
Detect the machine's architecture and download the relevant release in the install script

**Additional context**
the relevant file that should be changed should be `install.sh` and `windows_install.ps1`

[2021-10-15 14:47] dimabru commented on #195
@ashish-ad
please note that we deprecated the internal release flow in this pr https://github.com/datreeio/datree/pull/201
you'll see that the file `internal_install.sh` does not exist once you rebase from staging.
no need to make any changes to it

[2021-10-15 16:00] ashish-ad commented on #195
Ok got it, then the changes only need to be made to the install.sh file right?!

[2021-10-15 20:10] dimabru commented on #195
correct

[2021-10-16 22:27] ashish-ad commented on #195
Can anyone review my PR?!
Suggestions If I have done something wrong...

[2021-10-17 07:01] dimabru opened #205 "Automate contribution workflow"
**Is your feature request related to a problem? Please describe.**
When we receive code contributions from the community, before reviewing the code logic we have to do a manual set of checks that can be automated

**Describe the solution you'd like**
Add a bot to check for incompatibility with our contribution guidelines before getting a real person to review the code

**Additional context**
Addin

[2021-10-17 08:07] eyarz commented on #205
I will create a GitHub action workflow for that.
It will automatically verify the commit message and PR title.
@dimabru, anything else that you want it to do?

[2021-10-19 07:11] #195 closed, assigned to nobody

[2021-10-19 21:00] myishay commented on #125
https://github.com/alexellis/arkade

[2021-10-20 14:09] eyarz opened #217 "create a plugin for the pre-commit framework"
**Is your feature request related to a problem? Please describe.**
Sharing Datree's pre-commit hooks across projects can be painful because it requires copying and pasting unwieldy bash scripts.

**Describe the solution you'd like**
The [pre-commit framework](https://pre-commit.com/#introduction) was created to solve those hook issues.

**Additional context**
[Creating new hooks](https://pre-commi

[2021-10-20 23:57] kevholmes commented on #217
Hi there! I've set up pre-commit hooks and worked with custom hooks before for a number of projects and really like it. I'd like to take a look into this.

[2021-10-21 01:44] Norelak opened #219 "plug in framwork"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Run command '...'
2. Click on '....'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

[2021-10-21 07:05] eyarz commented on #217
@kevholmes go for it :)

[2021-10-21 07:09] eyarz commented on #219
@Norelak I'm closing this bug because you didn't fill it at all, it's just our bug template.

[2021-10-21 07:09] #219 closed, assigned to nobody

[2021-10-21 07:14] jobinjosem1 opened #220 "Invalid namespace file passes Datree validation"
apiVersion: v1
kind: Namespace
metadata:
creationTimestamp: null
name: Test2
spec: {}
status: {}

Trying to validate a namespace YAML file that has an invalid name.
If I apply the above file with the dry-run=server flag it throws an error "The Namespace "Test2" is invalid: metadata.name: Invalid value: "Test2": a lowercase RFC 1123 label must consist of lower case alphanumeric characters or '-', a

[2021-10-21 08:26] dimabru commented on #205
@eyarz no, thanks a lot

[2021-10-21 08:40] eyarz commented on #220
Yes, you're right, this is an issue, but it's not a bug. I will explain what I mean :)
What you describe, should fail during the schema validation step (`[X] Kubernetes schema validation`).

The problem is that the namespace validation (and some other validations) are not part of the official K8s JSON Schema definition. It's part of a different validation process that is happening before applying

[2021-10-21 09:44] amustaque97 commented on #203
@myishay, I found this project interesting and would love to contribute. Could you please help me in understanding what does 386 mean?
what releases do we choose for 386 and arm64?
Thank you

[2021-10-21 10:28] myishay commented on #203
Hi @amustaque97
`x86_64`, `arm64` and `386` are CPU architectures.
When downloading and installing datree using either `install.sh` for linux/darwin or `windows_install.ps1`, we should be able to determine what is the machine's CPU architecture and install the relevant release for it.
For example, a useful bash command for linux/darwin in this case would be: `uname -mp`

You can find the releases

[2021-10-21 18:01] kevholmes commented on #217
If I wanted to add some documentation on how to use the pre-commit hook where might be a good place? @eyarz

[2021-10-22 16:36] eyarz commented on #217
Unfortunately, the docs are not open source (the platform that I'm using is not supporting it 😞), so just add your instructions to your PR and I will copy it from there (just like you did).

[2021-10-24 07:43] prasadkatti commented on #205
Hi. I would like to take a crack at this one.

[2021-10-24 09:29] eyarz commented on #205
@prasadkatti, go for it :)

[2021-10-25 07:02] imrushi commented on #183
Hi,
I will work on it and create a PR for the same.

[2021-10-26 09:11] dimabru opened #240 "Add linter to the project"
**Is your feature request related to a problem? Please describe.**
As our comminity grows, we need to setup development standards. Adding a linter is a good start

**Describe the solution you'd like**
A go linter (should be widely used in several big open-source projects) that corresponds with golang development best practices. Preferably not too aggressive

**Additional context**
Add linter to th

[2021-10-26 13:12] kevholmes commented on #240
I could take this on.

What are your thoughts on adding the linter(s) to GitHub Actions so the integration with your PR workflow is more seamless? A PR can have each linter run as a separate check to give code owners and the PR submitter more visibility into potential issues with their work and collab in a single workspace. This way when all checks/tests are passing in GH Actions you can feel more

[2021-10-26 13:16] dimabru commented on #240
Interesting
In other words, seperate the ci from the cd.
Is there a way that a commit can pass a github action check and still make it to travis?

[2021-10-26 13:21] kevholmes commented on #240
Hey @dimabru Yep - we would split them apart. You could have the Actions (ci checks) trigger only on `pull_request` but still run other tools like Travis alongside them.

[2021-10-26 13:39] dimabru commented on #240
@romanlab thoughts?

[2021-10-26 13:56] romanlab commented on #240
@dimabru I don't have any objections. It's very different from the way we work now but may give more visibility to contributors. Doe that mean we won't run a lint phase in our Travis build?

[2021-10-26 14:03] dimabru commented on #240
Yep

[2021-10-26 14:50] myishay opened #244 "CLI doesn't show Usage message with unrecognized flag"
**Describe the bug**
When running `datree test --foobar` with an unrecognized flag `--foobar`, the cli doesn't show Usage message (whereas `datree version --foobar` does return Usage mesage

**To Reproduce**
Steps to reproduce the behavior:
1. Run command `datree test ~/.datree/k8s-demo.yaml --foobar`
2. nothing happens (only exit with nonzero)
3. Run command `datree version --foobar`
4. I can see

[2021-10-27 10:19] eyarz commented on #116
here is a [draft](https://codebeautify.org/yaml-validator/cb0483cd) of how the structured output should look like:
[code]

[2021-10-27 13:58] kevholmes commented on #240
I'll get started on it, thanks for being open to trying Actions out for this!

[2021-10-28 00:14] kevholmes commented on #240
I'm interested in the team's thoughts on perhaps including pre-commit as part of this. We could include a .pre-commit-hooks.yaml in the root of the datree repo. We could call various CI tools such as linters or other analysis tools depending on what changes have been made (we'll call a markdown linter for `**.md` changes in a commit) to give code contributors who want to use pre-commit the ability

[2021-10-28 07:57] dimabru commented on #240
Hi @kevholmes, thanks for the very informative explanation.
In general, we're very open to changes that will potentially improve the project.
However, since the project is still very small in size, I'm worried its a bit pre-mature. We don't have a large enough community yet to support a lot of dev-tools for contributers.

Can you share another project that uses the same pre-commit practice you des

[2021-10-28 11:49] kevholmes commented on #240
Makes sense. I don't really know if many public repos are utilizing pre-commit this way, but I have been implementing it in a similar manner for clients looking to add a suite of analysis tools to their projects to help improve quality of contributions. I'll focus on adding an Action with a tool like like golang-ci that can utilize a number of Go analysis tools and is popular with other open sourc

[2021-10-28 21:58] eyarz opened #250 "Docker image missing tag versions"
**Is your feature request related to a problem? Please describe.**
Datree's docker image doesn't include old versions, only the latest
![image](https://user-images.githubusercontent.com/19731161/139341921-bbc69776-c5c8-456e-be94-f164ffbce978.png)

**Describe the solution you'd like**
A dedicated image tag version for each CLI release

**Additional context**
Related to https://github.com/datreeio/d

[2021-10-29 04:26] eyarz opened #251 "stale action not working"
**Describe the bug**
The "Close stale issues" workflow throw an error when running

**Expected behavior**
The workflow should work as expected

**Screenshots**
![image](https://user-images.githubusercontent.com/19731161/139375430-e463901a-10c4-4761-897a-4dcf6fdaf00d.png)

**Additional context**
From reading the docs, we are not using the `exempt-issue-labels` property correctly
![image](https://us

[2021-10-29 13:01] kevholmes commented on #250
Something to consider is that GitHub includes its own [container image repository](https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry) now for public projects with no rate limiting. I do not believe GitHub has any [pull limits](https://www.docker.com/increase-rate-limits) as Dockerhub has recently implemented. I find this pretty importan

[2021-10-29 16:45] jehanjazz-1 opened #252 ""Policy check didn't run for this file" shown for a helm test"
**Describe the bug**
"Policy check didn't run for this file" shown for a helm test.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a umbrella helm chart
2. Navigate to the sub-chart and use "helm dep up && helm datree test ."
3. Observe that we encounter : [?] Policy check didn't run for this file

**Expected behavior**
Set Policy should be executed

**Screenshots**
![image](https://

[2021-10-29 17:20] dimabru commented on #252
Hi @jehanjazz-1
Please share k8s validation step output as well.
Looks like the failure is due to an invalid k8s file

[2021-10-30 02:40] jehanjazz-1 commented on #252
Hi @dimabru

Is this the output you require?
![image](https://user-images.githubusercontent.com/89563791/139517548-ae81544d-0b28-4a71-802a-3ce1809a2afc.png)

When I run the same command on my dev setup it seems to work
![image](https://user-images.githubusercontent.com/89563791/139517597-e9e0b433-7cb4-4688-ac96-9606273abef3.png)

[2021-10-30 08:36] eyarz commented on #252
Yes, this is the image(s) that we needed to help you troubleshoot.

There is an easy way to debug it*:
1) instead of `helm datree tests [chart-dir]` run `helm template [chart-dir]`
2) in the rendered manifest, look for the key `relplicaCount` at the path that is mentioned in the schema error validation step

If the key `relplicaCount` exists - there is a discrepancy between your environments. My g

[2021-10-30 14:19] jehanjazz-1 commented on #252
Yes, Seemed to work quite well after it.
Ty @eyarz :-)

Maybe a line number where this issue happens could be considered a good improvement for the future ?

[2021-10-30 14:19] #252 closed, assigned to nobody

[2021-10-30 18:22] #251 closed, assigned to nobody

[2021-10-31 08:45] #205 closed, assigned to prasadkatti

[2021-10-31 09:35] eyarz opened #256 "update katacoda scenario"
**Is your feature request related to a problem? Please describe.**
Update the demo scenario to also include the policy and rules dashboard (UI)

**Describe the solution you'd like**
Maybe use a split layout: https://katacoda.com/scenario-examples/courses/uilayouts/uilayout-terminal-iframe-split

**Additional context**
https://github.com/datreeio/katacoda-scenarios

[2021-10-31 10:44] eyarz commented on #250
because docker hub is still the default registry, I think that users will expect that we will have an image there.
having said that, we can **also** publish the docker images to the GH registry.

on docker hub you can configure to "pull" new releases and create a new tag (from docker hub side), instead of "pushing" a new docker image with code. Do you know if this is possible also with GH registry

[2021-10-31 11:40] kevholmes commented on #250
Hey @eyarz is [this](https://docs.docker.com/docker-hub/builds/) what you're referring to when you say DockerHub will pull a new release and create a tag? It is also essentially what GH Actions can be configured to do - an event (like creating a new release tag prefixed by the letter `v`) or a push to a special branch (or both) in the datree repo can trigger an Action workflow that would pull the

[2021-10-31 11:41] #183 closed, assigned to imrushi

[2021-10-31 11:41] royhadad opened #257 "Releases don't show complete changelog"
**Describe the bug**
In Releases page: https://github.com/datreeio/datree/releases you don't see the full changelog between the current and previous release

**To Reproduce**
Go to releases page: https://github.com/datreeio/datree/releases

**Expected behavior**
in a release, see the full changelog

**Screenshots**
![Screen Shot 2021-10-31 at 13 38 19](https://user-images.githubusercontent.com/390

[2021-10-31 11:46] dimabru opened #258 "check_commit_msg workflow should ignore main branch"
**Describe the bug**
The workflow for checking commit messages should not be executed after a pr is approved and pushed to main branch

[2021-10-31 11:51] kevholmes commented on #258
I can fix this issue.

[2021-10-31 13:32] romanlab commented on #250
That sounds good. We do have a few restrictions for the process:

1. We want to push to docker hub(as well as other registries)
2. We want the workflow to not be a blocker. That is, if the push fails we still want the rest of the build to continue(build and release of the binary)

[2021-10-31 16:03] #244 closed, assigned to nobody

[2021-10-31 17:25] kevholmes commented on #250
1. That should be ok. If you'd like to use Dockerhub you'll need to create a GitHub Secret with credential information for Dockerhub. You could let me know what the names of the secrets are for instance DOCKERHUB_USERNAME and DOCKERHUB_TOKEN which I could then plug into an Actions workflow. We shouldn't need credentials for GitHub's ghcr.io container repo as I believe the GITHUB_TOKEN given to an

[2021-10-31 18:26] amustaque97 opened #261 "Update Contributing.MD file to raise PR for the main branch"
**Describe the bug**
In the `CONTRIBUTING.MD` file  under the `Submitting a Pull Request(PR)` section step 11 is written to raise PR against the staging branch. Recently I raised a PR where I was told that staging branch is going to be deprecated so I should merge my PR to the main branch. Documentation must be updated in order to avoid such confusions to anyone.

[2021-11-01 01:47] #220 closed, assigned to nobody

[2021-11-01 08:57] #261 closed, assigned to nobody

[2021-11-01 14:52] #240 closed, assigned to kevholmes

[2021-11-01 15:29] #203 closed, assigned to nobody

[2021-11-01 22:03] #217 closed, assigned to kevholmes, MentalBrake

[2021-11-02 06:40] eyarz commented on #116
and I also prepared a [JSON Schema](https://www.jsonschemavalidator.net/s/vrvKDXaN) for the new output:
[code]

[2021-11-02 08:14] #258 closed, assigned to nobody

[2021-11-02 12:08] alexfedin opened #263 "Autocompletion usage instructions in post install message"
**Is your feature request related to a problem? Please describe.**
In order to have autocomplete for the CLI the user need to run the `completion` command

**Describe the solution you'd like**
Print a message to the user that he should run the completion command if he wants autocompletion enabled after the installation is finished

**Additional context**
I suggest adding a short description about

[2021-11-02 13:20] dimabru commented on #250
hi @kevholmes,
I added the keys to datree repo secrets: `DOCKERHUB_USERNAME`, `DOCKERHUB_TOKEN`
I like your suggested solution. Adding a workflow post-release will be a good point for the docker deployment, that way even if it fails it will not block the release process.
Thanks for taking this

[2021-11-02 13:35] kevholmes commented on #250
Awesome! I'll get started on it.

[2021-11-02 13:48] dimabru opened #264 "Add semantic versioning to the project release flow"
**Is your feature request related to a problem? Please describe.**
We used to use [svu](https://github.com/caarlos0/svu) in our project. Because of some technical difficulties we removed this dependency and the versioning is now hard-coded.
We'd like to reintroduce `svu` to our project (or any other recommended version management solution)

**Describe the solution you'd like**
1. Clean unused file

[2021-11-02 16:50] eyarz opened #265 "inject the account token from the pre-commit config to the docker image"
**Is your feature request related to a problem? Please describe.**
when running Datree's pre-commit, there is no ("native") way to pass the account token to the docker image

**Describe the solution you'd like**
A way to inject the account token from the pre-commit config

**Describe alternatives you've considered**
pass the account token as env variable to the docker image

[2021-11-02 18:45] amustaque97 commented on #263
👋Hi, I would love to take a look at this.

[2021-11-07 06:11] #250 closed, assigned to kevholmes, myishay

[2021-11-07 09:11] #263 closed, assigned to amustaque97

[2021-11-08 10:21] noaabarki commented on #257
Good catch @royhadad, I think this is very important. The way I see it, we want each release candidate to display in its changelog all the "new history" it contains, but not since the previous one but since the last release. For example, if we have released `1-RC` and immediately after we released `2-RC` we want the `2-RC` release changelog to include `1-RC` changelog.

[2021-11-09 08:03] dimabru opened #273 "Release workflow not waiting for travis build to end"
**Describe the bug**
Release flow of a new version is defined as a github workflow that sends a request to travis using http request. The workflow is not taking into account the time it takes for travis to finish the deployment step and instead shows releases as finished after a few seconds

**To Reproduce**
As maintainer, execute a release workflow. Notice that the release finishes a lot faster t

[2021-11-09 22:18] kevholmes commented on #273
One comment here, you could make something that initiates the build in Travis, then waits n seconds, then re-checks the Travis build to see if it's finished and if it's not, repeat. Then finally when Travis says the build is done - you end your Actions workflow. The downside here is you'll actually be using up billable Actions minutes while your Workflow essentially does nothing but wait for Travi

[2021-11-10 09:29] dimabru commented on #273
Hi Kevin, I agree with you, but our use-case includes signing our cli with apple developer certificate, that's why we're using travis builds. they run on macos machines

The solution you suggested, polling the travis build and wait for it to finish is probably the best way to do it, unless we can somehow configure travis notifications to let us know when its done (?)

For now, we're ok with the co

[2021-11-10 14:03] kevholmes commented on #273
Ooohh ok, I am familiar with the challenges of building and signing macOS builds! One thing to note is that Actions does offer macOS [10.x](https://github.com/actions/virtual-environments/blob/main/images/macos/macos-10.15-Readme.md) and [11.x](https://github.com/actions/virtual-environments/blob/main/images/macos/macos-11-Readme.md) runners. You should be able to store your private signing key in

[2021-11-10 14:20] dimabru commented on #273
cool, thanks for the info!
I think moving the builds is a bit out of scope for now but we can certainly take that into consideration going forward.
Do you see any other potential challenges should we decide to make that transition?

[2021-11-10 14:43] kevholmes commented on #273
Just quicking reviewing the Travis config yml and it looks pretty straightforward. The Actions 10.15 macOS image has Xcode 12.4 by default so it's pretty close to where you are in Travis at 12.5. Go 1.17 shouldn't be an issue either. Looks like [goreleaser](https://github.com/goreleaser/goreleaser-action) has a relatively popular Action you could utilize, also.

A bigger task for sure but IMO woul

[2021-11-12 17:21] kevholmes commented on #273
Is anyone actively working on a PR for this issue - or could I take it? @royhadad @dimabru

[2021-11-12 18:23] kevholmes commented on #264
1.0.0 -> 2.0.0

1.0.0 -> 1.1.0

1.0.0 -> 1.0.1

This might be an issue?

Let's say we made an actions workflow that triggers only on `push` into `main` events.

This workflow would run some semantic version script that evaluates the final merged commit-msg and increments our semantic version based on some rules like does the commit-msg contain `feat` etc. We then apply that new version as a git ta

[2021-11-14 08:05] dimabru commented on #273
yeah, @royhadad is on it

[2021-11-14 08:43] dimabru commented on #264
As of now, we don't really have versioning in our project. Meaning the backend does not support multiple cli versions and whenever we need to we deprecate old versions (though we try really hard not to).

The order of commits to main will in fact change the versioning of the cli but we're ok with it. We plan to work on specific branch-related commits in the future should we need to push bug fixes

[2021-11-16 09:19] #273 closed, assigned to royhadad

[2021-11-16 09:20] dimabru commented on #257
This is still relevant

[2021-11-23 03:06] kevholmes commented on #265
Would you consider a PR to add in a `--token` flag to the CLI that accepts this parameter rather than an environment variable? Through this approach a user could configure their .pre-commit-config.yaml file like so:

[code]

If you're open to that approach I could mock something up to quickly test if this solution will work with the existing [pre-commit-hooks.yaml](https://github.com/datreeio/datr

[2021-11-23 10:27] dimabru commented on #265
Hi @kevholmes ,
We actually have support for env variable. If you use `DATREE_TOKEN` (https://hub.datree.io/account-token#lz-how-it-works) you can set a token in runtime, which will work similarly to `--token` flag.
Using `datree config set token <token>` will also do the trick.

The issue here is adding this behavior to the docker run functionality, allowing docker to have the local token in the

[2021-11-23 14:27] kevholmes commented on #265
Hey @dimabru,

Yeah, that's my issue with using the env var solution, there's not really any support for that with the `docker_image` type in pre-commit. We can pass in extra command line `args` for the cli invocation of datree but there's no documented way to use environment variables in such a way with pre-commit. I could try to write a test script up where we attempt to pass in an env-var throu

[2021-11-23 15:10] dimabru commented on #265
I see. Can we achieve the same solution running `datree config set token $TOKEN && datree test ...`?
I'm trying to avoid multiple touch-points for token insertion. This can add complexity to debugging if we place the same token in multiple places with ambiguity regarding variable precedence.

This is not a constraint though, if adding a token flag is the best solution we can certainly do that and

[2021-11-23 15:18] kevholmes commented on #265
I'll mock something up to see if we can get $TOKEN into the datree docker img that pre-commit runs. It's not something that I've run into in the documentation so it might be supported just undocumented. It makes sense to try and exhaust our potential solutions before adding more complexity to the app.

[2021-11-24 03:26] helper-uttam opened #287 "Can't install DaTree on windows11(x64)"
Hi there I'm having problem in installing `datree` on win11(x64) when I ran the command
 ```curl https://get.datree.io | /bin/bash```
**Result :**
[code]
then I tried `datree verison` but It says `bash: datree: command not found`

then i tried `$ iwr -useb https://get.datree.io/windows_install.ps1 | iex`
Output
[code]

[2021-11-24 09:23] alexfedin commented on #287
Hi @helper-uttam, to install datree on windows you need to run the command `iwr -useb https://get.datree.io/windows_install.ps1 | iex`, but from what you describe you tried to run `curl https://get.datree.io | /bin/bash` which is a linux command and it's not supposed to work on windows OS.

Then I see that you ran the `iwr -useb https://get.datree.io/windows_install.ps1 | iex` command but got the

[2021-11-24 09:27] helper-uttam commented on #287
Nopes, I'm not using any linux vm. But I tried all the commands that are for windows like `iwr -useb https://get.datree.io/windows_install.ps1 | iex`. But it didn't worked for me

[2021-11-24 09:30] eyarz commented on #287
Did you try it on PowerShell (as admin)?

[2021-11-24 09:31] helper-uttam commented on #287
Yes obviously! That was the first thing I have done.

[2021-11-24 10:15] eyarz commented on #287
🤔 interesting.
Can you please run `$PSversionTable` inside your PowerShell and paste here a screenshot
Like that:
![image](https://user-images.githubusercontent.com/19731161/143219151-5f94575a-c868-4d65-b2f2-5c51f0cf654a.png)

[2021-11-24 13:37] helper-uttam commented on #287
Here it is @eyarz
![Screenshot (83)](https://user-images.githubusercontent.com/72701081/143248661-895716ef-474e-4168-958d-ca5b17f63acc.png)

[2021-11-24 14:46] eyarz commented on #287
I see you have an [error in your terminal](https://stackoverflow.com/questions/41117421/ps1-cannot-be-loaded-because-running-scripts-is-disabled-on-this-system) - maybe this is what causing the installation problem...?

[2021-11-24 15:04] helper-uttam commented on #287
Hurray! Installed @eyarz ! Thankyou so much :)

[2021-11-24 15:04] #287 closed, assigned to nobody

[2021-11-29 17:09] cnorling opened #289 "Digest policy as code from a targeted github repository"
**Is your feature request related to a problem? Please describe.**
Handling policy as code in datree's current state requires datree to be ran anytime a change to a policy is added or implemented.

**Describe the solution you'd like**
Instead of running datree as a process, it would be nice if datree could be configured to just read `policies.yaml` from a repo.

**Describe alternatives you've cons

[2021-11-29 18:20] eyarz commented on #289
We thought about supporting this option, but there is one big challenge: what will happen when a user is providing a link to an invalid policies file?

Because the policies file won't necessarily go through a validation process (`datree publish`), it can cause major pain to the user experience because it will stop\block all the workflows relying on Datree's policy check.

So, defining policy-as-co

[2021-11-29 20:40] cnorling commented on #289
This was a problem space I honestly didn't put much thought into until you mentioned it. Would it be better for something like a linter to catch invalid policy files? It would be a pain if a merge caused cascading build failures, but I feel like there are options for gracefully handling an invalid policy file that aren't show stoppers. This issue is almost parallel to what products like ArgoCD fac

[2021-11-29 21:46] eyarz commented on #289
And how the user knows that his last ArgoCD config wasn't applied?

Yes, I agree, this is definitely something that we need to add to our docs.
Where do you think will be the best place (on the docs) to mention that?

[2021-12-06 04:23] eyarz opened #295 "Best practices for managing policy as code in production"
**Report type**

- Missing documentation

**What can be improved?**
Best practices for managing policy as code in production.

**Suggested text**
Discussed in [this issue](https://github.com/datreeio/datree/issues/289#issuecomment-982002755).

[2021-12-06 04:26] eyarz commented on #289
@salineselin following your feedback, I opened an issue to improve our docs (#295).
If you have any suggestions for the docs, feel free to share them there.

[2021-12-09 09:53] royhadad opened #304 "installation with "curl" doesn't work with mac m1 chip"
**description**
installation with "curl" doesn't work with mac m1 chip

**Steps to reproduce the behavior:**
1. open a mac machine with an m1 chip
2. run the datree installation command: "curl https://get.datree.io | /bin/bash"
3. run "datree --help"
4. you will get an error: "datree: command not found"

**Expected behavior**
Expecting the datree cli to be installed

 - OS: MacOS, m1 chip
 - Versi

[2021-12-09 11:59] eyarz opened #305 "Missing invalid schema version notification"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Run command `datree test k8s-demo.yaml -s=1.15`
2. See error: `k8s schema validation error: could not find schema for X`

**Expected behavior**
the schema version that I passed (`1.15` instead of `1.15.0`) is invalid.
therefore, I should get some kind of indication about t

[2021-12-09 12:03] eyarz commented on #304
@royhadad what's the best way to address it?
because you listed it as `good first issue`, can please elaborate on which files/scripts need to be updated?

[2021-12-09 13:21] royhadad commented on #304
Steps to solve this issue:

In .goreleaser.yml, add a release for mac + m1, should result in a release with the name of:
datree-cli_0.0.1_Darwin_arm64.zip

**nice to have:**
in brew_formula_generator.sh:
add a check for the mac architecture, and download the correct version

[2021-12-09 19:24] sookeke opened #308 "Installing in Github Action CI for Ubuntu Failed"
**Describe the bug**
This started yesterday, My CI pipeline with github action been working using datree but started failing datree installing steps since yesterday

**To Reproduce**
Steps to reproduce the behavior:
      - name: Install Datree
        run: curl https://get.datree.io | /bin/bash

**Expected behavior**
[V] Downloaded Datree
[V] Finished Installation

**Screenshots**
![image](https:

[2021-12-09 21:19] eyarz commented on #308
you are right, I'm also able to reproduce it:
https://github.com/eyarz/random-gif-action/runs/4476319902?check_suite_focus=true

someone will look into it ASAP.

[2021-12-09 21:52] #308 closed, assigned to nobody

[2021-12-09 21:56] myishay commented on #308
@sookeke I just pushed a fix, can you please check this again and let us know if it is fixed on your side?

[2021-12-10 00:03] sookeke commented on #308
@myishay  this is fix. thank you

[2021-12-11 21:17] DhairyaBahl opened #317 "404 Error on homepage"
### https://www.datree.io/
Error on this page.

![image](https://user-images.githubusercontent.com/71627983/145691913-8e5aa116-f837-429d-9365-9cf050ee664f.png)

[2021-12-11 21:17] DhairyaBahl commented on #317
Kindly assign this issue to me.

[2021-12-11 21:23] eyarz commented on #317
@DhairyaBahl thank you for reporting that!
This website (datree.io) is not hosted on GitHub, so you can't help with this issue, but thank you for offering your help :)

[2021-12-11 21:45] #317 closed, assigned to nobody

[2021-12-11 22:02] DhairyaBahl commented on #317
@eyarz No issues ! Glad to be helpful ! Cheers 🍻

[2021-12-12 09:11] Abhra303 opened #326 "Is CLA mentioned in the Contributing.md file working?"
**Describe the bug**
I am trying to sign the CLA form mentioned in [Contributing.md](https://github.com/datreeio/datree/blob/ada7baa263f7dee8b43c99bc50868bf6b90e0857/CONTRIBUTING.md#cla) but it is showing this -
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Contributing.md](https://github.com/datreeio/datree/blob/ada7baa263f7dee8b43c99bc50868bf6b90e0857/CONTRIBUTING.md#cla)
2

[2021-12-12 09:35] royhadad commented on #326
thank you for notifying us, will be fixed soon

[2021-12-12 14:12] #326 closed, assigned to eyarz

[2021-12-13 08:44] SuyashSonawane opened #340 "Hide Token in CLI output"
**Is your feature request related to a problem? Please describe.**
When the `datree test test.yaml` is executed the CLI prints the details as expected but also has the token visible to everyone.
Imagine a case where a YouTuber is explaining Datree's uses but has not yet created his account on [app.datree.io](https://app.datree.io/login), someone from the viewer uses his(YouTuber) token to create a

[2021-12-13 09:14] AvinashNayak27 commented on #340
But I don't think one can login with other's token As Token helps only in testing policies enabled by the Owner,If a viewer uses YouTuber's Token He can only test his Manifest Files Enabled by YouTuber but he can't change or edit the configurations of Policies

[2021-12-13 09:18] royhadad commented on #340
I can see 2 interesting solutions:
1. in the dashboard url, create a clickable link that hides the actual url
something like this: [click here to view the dashboard](https://app.datree.io/login?cliId=inhyrhjrnafgsdfgdfgfdhciApc)

2. add an opt-in flag to the test command, which will hide the dashboard url
something like this: `datree test ~/.datree/k8s-demo.yaml --no-dashboard-url`

[2021-12-13 09:19] eyarz commented on #340
@SuyashSonawane, thank you for the feedback!

@AvinashNayak27 is correct.
I think the word `token` is confusing in this context because if a user will use a different user token, he will not be able to connect to the account with a "stolen" token, he will only be able to pull his policy and use it against his manifest files.

Having said that, I agree that it's something that needs to be handled b

[2021-12-13 09:23] SuyashSonawane commented on #340
Apologizes if I'm wrong here, what I thought before creating the account the clientId which is in your machine is not mapped to any account. Once you signup with that link from the cmd your credentials gets mapped with that clientId/token.

Thanks @royhadad and @eyarz for quick solution and response 🙌

[2021-12-13 09:24] eyarz commented on #340
yes, you're right!

[2021-12-16 10:53] shimont opened #343 "Support Apple M1 processor"
**Describe the solution you'd like**
I would like to have native support for the M1 Apple processor

**Describe alternatives you've considered**
Currently I am using the amd64 compiled binary with the Apple Rosetta emulator

**Additional context**
All new MacBook Pros use the M1 chip now

[2021-12-16 10:56] eyarz commented on #343
duplicate: https://github.com/datreeio/datree/issues/304

[2021-12-16 10:56] #343 closed, assigned to nobody

[2021-12-21 01:51] #289 closed, assigned to nobody

[2021-12-22 07:58] Abhra303 commented on #305
@eyarz will it work?

![datree-invalid-schema-version](https://user-images.githubusercontent.com/75240995/147056603-01bac5a9-02ea-4c88-9ea2-9f11fc967b13.png)

[2021-12-22 08:18] eyarz commented on #305
LGTM!
open a PR and someone for the maintainers team will review it :)

[2021-12-22 08:25] Abhra303 commented on #305
okay :)

[2021-12-22 15:09] #305 closed, assigned to nobody

[2021-12-23 21:12] shravankumar88 opened #348 "Error: unknown command "datree" for "helm""
**Describe the bug**
In Jenkins when I run the script
pipeline {
    agent any
   stages {
stage ("identifying misconfigure using datree in helm charts") {
		steps {
			dir('kubernetes/') {
				sh 'helm datree test myapp'
				} } } } }
Getting exception:
Running in /var/lib/jenkins/workspace/sampleweb/kubernetes
[Pipeline] {
[Pipeline] sh
+ helm datree test myapp
Error: unknown command "datree" fo

[2021-12-24 10:12] alexfedin commented on #348
@shravankumar88 from what it looks like the node that executing the pipeline does not have datree plugin installed on helm, Is there a chance that the machine you installed datree plugin on is not the same that executes the pipeline?
Alternatively, you can add the command `helm plugin install https://github.com/datreeio/helm-datree` in the pipeline before running the datree  test command

[2021-12-27 14:39] Abhra303 commented on #116
@eyarz you defined the `yamlErrors` property of `yamlValidationResults`  as `string` type. Should not this be an array instead? There may be multiple yaml errors in a file.
Same for `schemaErrors` in `k8sValidationResults`.

[2021-12-27 15:36] eyarz commented on #116
That's a good point!
I checked it by introducing two yaml syntax errors in a single file:
[code]
Datree's output includes only one error message:
![image](https://user-images.githubusercontent.com/19731161/147485410-b0df8afa-3761-4129-8f2b-212a28655089.png)

So you're right, it's supposed to be a list, but right now, it's a string.
Let's proceed as it is (a string), and I will open a new issue and

[2021-12-27 16:04] Abhra303 commented on #116
I think we should open a new issue. Because, this issue is only about improving the output structure for non-interactive options (i.e. yaml, json and xml). So, the fix of this issue should only be limited to that.

[2021-12-28 13:16] eyarz opened #349 "Show all possible errors during the `YAML validation` step"
**Is your feature request related to a problem? Please describe.**
When more than one yaml syntax issues are introduced in the same file, the yaml validation step will only show one error, and only after it's fixed, I will see the next error.

**Describe the solution you'd like**
Getting (a list of) all yaml syntax errors (instead of one) during the yaml validation step.

**Additional context**
Mo

[2021-12-28 13:30] eyarz opened #350 "Show all possible errors during the `Kubernetes schema validation` step"
**Describe the bug**
When a file includes more than one K8s schema issues it's represented as one error (string) in the `Kubernetes schema validation` step

**To Reproduce**
Steps to reproduce the behavior:
1. Take the following config and run Datree against it:
[code]
2. See the error: `k8s schema validation error: For field (root): Additional property metaData is not allowed - For field kind: ki

[2021-12-29 01:49] #340 closed, assigned to nobody

[2022-01-02 09:33] amustaque97 commented on #350
Hi :wave: there! I would :heart: to give it a shot :smile:

[2022-01-02 09:55] amustaque97 commented on #350
https://github.com/yannh/kubeconform/blob/607c90a0a91005f318d8ba5a74138222233d4d4f/pkg/validator/validator.go#L177-L186

Package `Kubeconform` is returning errors in the form of single string separated by a `-`(dash)  as line number  180 in the above link.

**How to address this issue in our project?**
One solution I can think and which makes sense to me is split the error line to something like a

[2022-01-02 13:17] royhadad commented on #116
As @Abhra303 mentioned, the rule identifier was missing from the ruleResults API, I have added it in the following PR https://github.com/datreeio/datree/pull/352.
the rule identifier can be accessed through EvaluationResult.Rule.Identifier 😊

[2022-01-02 18:57] myishay commented on #350
Hi @amustaque97, thank you for the research!
I think it would be best to have each validation error in it's own line, so it would look something like this:
[code]
WDYT?

[2022-01-04 12:59] #350 closed, assigned to nobody

[2022-01-04 16:32] eyarz commented on #116
@Abhra303 FYI, #350 was already resolved and merged to main

[2022-01-05 15:21] adifayer opened #368 "Curl install fails in MacOS"
**Describe the bug**
Curl install fails in MacOS

**To Reproduce**
Steps to reproduce the behavior:
1. Verify datree is not installed (inc. hidden files) in a computer w/ mac OS
2. Run datree curl install
3. See error

**Expected behavior**
Datree files and folders are created

**Screenshots**
![image](https://user-images.githubusercontent.com/43816136/148242400-4f15c14e-4ca4-4a0c-815d-9053cd5bae8

[2022-01-07 18:01] dimabru commented on #368
This issue happens for users that don't have `/usr/local/bin` on their local environment when installing datree.
A good way of fixing it would be to modify the `install.sh` script to create `/usr/local/bin` directory if it doesn't exist before copying `datree` executable to that location

[2022-01-07 19:08] amustaque97 commented on #349
Hi team, I would love to give it a shot.

[2022-01-08 11:46] eyarz commented on #349
Perfect, go for it!

[2022-01-09 01:53] #348 closed, assigned to nobody

[2022-01-10 16:55] amustaque97 commented on #349
:wave: @eyarz, looks like this is a limitation with the `gopkg.in/yaml.v3` package. I ran a simple test and read the doc. Currently, there is no way to get all errors in a single run.

<img width="1790" alt="Screenshot 2022-01-10 at 10 14 43 PM" src="https://user-images.githubusercontent.com/21127788/148805992-ccc9b508-0e7a-40e5-a6cd-7b6c2af2a03e.png">

Please share your thoughts!

[2022-01-12 15:48] #304 closed, assigned to shmuelsa

[2022-01-12 17:07] noaabarki commented on #349
Hey @amustaque97, nice to e-meet you!

You are correct. 👏🏻
I did some research too and apparently gopkg.in/yaml.v3 decodes the yaml by parsing, unmarshal it and validate its content according to a given interface. If (and when) from some reason the parsing gets failed the package throws a panic error. Unfortunately, any retries mechanism or attempt to bypass this won’t help us. The “bad news” is t

[2022-01-12 17:22] #116 closed, assigned to nobody

[2022-01-16 05:01] amustaque97 commented on #349
@noaabarki, glad to e-meet you too! 😃

I don't think there are any existing package that will print all errors in a single execution. Since `yaml` parser pareses code line by line. Moreover moving to different package I won't recommend.

We should open an issue in `github.com/goccy/go-yaml"/gopkg.in/yaml.v3`  and keep an eye on the discussion/PR happening around similar lines.

WDYT?

[2022-01-16 11:38] noaabarki commented on #349
Hey @amustaque97, I agree. I'll open an issue on our behalf :)
The issue can be found [here](https://github.com/go-yaml/yaml/issues/816).

[2022-01-16 11:38] #349 closed, assigned to nobody

[2022-01-17 14:02] noaabarki opened #377 "Replace yaml reader with the k8s yaml reader"
**Describe the solution you'd like**
Since we scan Kubernetes manifests, it would be best practice to align our current reader package with the same YAML-reader Kubernetes use.

**"How to" Suggestion**
Replace "gopkg.in/yaml.v3" with  “https://github.com/kubernetes-sigs/yaml” in `bl/files.go` -> `ExtractFilesConfigurations()` and use `YAMLToJSON` to extract Kubernetes configurations from the files

[2022-01-17 15:12] noaabarki opened #378 "Add examples for commands"
**Describe the solution you'd like**
Add examples for  test, publish, config commands. Eventually, we’d want the examples  to show all the possible ways to use the command. Ultimately this will look something this(`kubectl`):
![image](https://user-images.githubusercontent.com/47917189/149793736-529ff987-4ea6-4a93-a1de-1bdf0cfab083.png)

**Required knowledge**
Golang basic level.

”**How to impleme

[2022-01-17 15:50] royhadad commented on #368
@dimabru Does this problem occur on linux/windows as well? or only mac?

[2022-01-17 16:41] dimabru commented on #368
@royhadad Good question. I'm not sure. Stands to reason that if the user decides to manually delete the folder `/usr/local/bin` in a linux machine the script will behave the same way.

Regardless, I think the solution should be problem focused rather than environment focused. Meaning we should not assume a folder exists before writing to it, disregarding the operating system

[2022-01-17 17:59] noaabarki opened #379 "Register test command flags with pointers"
**Describe the solution you'd like**
Cleanup code and avoid unnecessary allocation by register the flags in separated function and using Cobra’s `StringVar, BoolVar...` for pointers.

**Requirements**
Golang basic level.

**“How to implement” Suggestion**
In `cmd/test/main.go`
1. Add constructor to `TestCommandFlags`.

[code]

2. 2. Add  `AddFlags` method to `TestCommandFlags` that accepts cobra’s

[2022-01-17 18:54] noaabarki opened #380 "Validate test command flags before start evaluation"
**Describe the solution you'd like**

Validate test command flags before starting evaluation.

**Requirements**
Golang basic level.

**“How to implement” Suggestion**
Add validation method to `TestCommandFlags` :: `func (flags *TestCommandFlags) Validate(cmd *cobra.Command, args []string) error`. This method should validate the flags of the commands, for example: `-o output` flag is valid if its o

[2022-01-17 21:23] noaabarki opened #381 "Improve test command coverage for demo flow"
**Describe the solution you'd like**
Add tests for demo flow in test command `datree test ~/.datree/k8s-demo.yaml`.

**Requirements**
Golang basic level.

**“How to implement” Suggestion**

In `cmd/test/main_test.go`, add new test case::  run test with demo-path without/with additional args → should print expected output.

[2022-01-17 21:26] amustaque97 commented on #377
I can take this up!

[2022-01-17 22:11] noaabarki opened #382 "Improve test command coverage for networking use cases"
**Describe the solution you'd like**
Add tests for networking failures flows in test command `datree test <path>`

Basic use cases to cover:

Failed to create evaluation
- should create evaluation → meaning to call `CreateEvaluation`
- should not request evaluation → meaning not to call `Evaluate`
- should print mocked errors.

Failed to request evaluation
- should create evaluation → meaning to c

[2022-01-17 22:20] noaabarki opened #383 "Improve test command coverage for path argument issues"
**Describe the solution you'd like**
Add tests for failures flows regarding path argument in test command`datree test <path>`

Basic use cases to cover

Case: Given path contains zero files

- should print "No files detected”

Case: Given path contains YAML files that are not Kubernetes resources

Empty evaluation results

- should create evaluation
- should request evaluation
- should print retur

[2022-01-17 22:23] noaabarki commented on #377
Hi @amustaque97, sounds terrific 😎  Assigned to you. Feel free to reach out with any question here and also in our [Slack channel](https://datreecommunity.slack.com/archives/C02L0QB3YTC).

[2022-01-18 07:11] Abhra303 opened #384 "Showing "Bad Cpu type in executable" error while trying to run Datree"
**Describe the bug**
As the #304 is closed now, I tried to install Datree on my Mac M1 machine using curl. The installation was successful but when I tried to run `datree test <yaml_file_path>` it showed the following error -
[code]
It is not just for `test` command only, I cannot run any command like `datree --help`, `datree version` etc. It is showing the same error.

**To Reproduce**
Steps to r

[2022-01-18 07:21] Abhra303 commented on #380
I would like to try this.

[2022-01-18 07:34] dimabru commented on #384
Hi @Abhra303,
Thanks for reporting this. As you mentioned in the issue, this was supposed to be fixed in #304.

As a workaround, you can use brew package manager to install datree as described here:
https://hub.datree.io/#a-1-install-datrees-cli-integration

To help us investigate, since it worked for our M1 processor, can you please share the output of the following commands:
`uname -m`
`uname -s

[2022-01-18 07:44] Abhra303 commented on #384
Hello @dimabru, I ran the commands as you said here is the output -

<img width="495" alt="Screenshot 2022-01-18 at 1 11 49 PM" src="https://user-images.githubusercontent.com/75240995/149892334-fecc3bd2-29d6-475b-886f-6c8955cf9bf3.png">

[2022-01-18 07:50] dimabru commented on #384
Thanks!
Adding some context here for a possible solution:

goreleaser can now support universal binaries (i.e arm64 and amd64 in the same executable): https://goreleaser.com/customization/universalbinaries
we can look into upgrading our goreleaser version to add that ability

[2022-01-18 08:39] noaabarki opened #385 "Read test commands flags from ./config.yaml file"
**Describe the solution you'd like**

Read all test command’s flags from both command and the config file(`~/.datree/config.yaml`). The main feature is to allow users to set permanent yet custom flags in their config local settings.

**“How to implementation” Suggestion**

- Make sure all flags and options are in `TestCommandFlags`(wrap `TestCommandFlags` in `TestCommandOptions` as you see best).

[2022-01-18 08:54] noaabarki opened #386 "Print version messages using Cobra PreRun Hook"
**Describe the solution you'd like**

Use Cobra Hooks before the command to check for version messages.

Resources: [https://umarcor.github.io/cobra/#prerun-and-postrun-hooks](https://umarcor.github.io/cobra/#prerun-and-postrun-hooks)

**”How to implement” Suggestion**
We print version messages in the same way on every command. For instance, you can find the logic in `datree test`  inside `evaluat

[2022-01-18 09:16] noaabarki commented on #380
Hey @Abhra303! Amazing, you got it! If you have any question, don't hesitate to reach out :)

[2022-01-18 09:19] RishiKumarRay commented on #385
Do we have to just paste this code

[2022-01-18 11:42] shmuelsa commented on #384
Hey @Abhra303,

We added a new binary for Darwin-arm64 on our latest RC version [0.15.2-rc](https://github.com/datreeio/datree/releases/tag/0.15.2-rc)
Please download and update if the problem is resolved.

[datree-cli_0.15.2-rc_Darwin_arm64.zip](https://github.com/datreeio/datree/releases/download/0.15.2-rc/datree-cli_0.15.2-rc_Darwin_arm64.zip)

[2022-01-18 12:11] Abhra303 commented on #384
Thanks @shmuelsa

It is finally working.

[2022-01-18 13:57] #384 closed, assigned to nobody

[2022-01-18 16:12] hadar-co opened #388 "Create a Tekton Task that runs the Datree CLI"
As part of our effort to [support various plugins](https://github.com/datreeio/datree/issues/125), we would like to create a Tekton Task that will enable users to run the Datree CLI as part of their Tekton pipeline/s.

**Requirements**:
* Knowledge of yaml.
* No knowledge of the Datree codebase is needed.

**Resources**:
To get started with creating a Tekton Task, see the [Tekton readme](https://g

[2022-01-19 06:54] Abhra303 commented on #380
Hello @noaabarki ,

Here we have just to validate these three flags - 1) `output` (2) `policy` and (3) `schema-locations` right? Because, `ignore-missing-schemas` and `only-k8s-files` are of boolean type and there exists a validation function for `schema-version` already which is `validateK8sVersionFormatIfProvided`.

[2022-01-19 08:31] myishay opened #390 "datree should fail when receiving empty files"
**Describe the bug**
datree is returning zero code after receiving an empty file from stdin

**To Reproduce**
Steps to reproduce the behavior:
1. Run command 'echo "" | datree test -'
2. datree returns with zero exit code

**Expected behavior**
datree fails with nonzero exit code

**Screenshots**
![Screen Shot 2022-01-19 at 10 26 54](https://user-images.githubusercontent.com/22665577/150092656-744

[2022-01-19 14:21] eyarz commented on #390
This happens also when passing an empty file to Datree.
**Expected behavior:** fail schema validation step

[2022-01-19 14:32] dimabru commented on #390
Looks like this only happens when using `echo`

Here's an execution example of an empty file. Fails schema validation step for me (version 0.15.0)

![image](https://user-images.githubusercontent.com/25605786/150150761-6690ac86-2b1e-45f8-b01d-b1f581f783de.png)

Another example piping an empty file

![image](https://user-images.githubusercontent.com/25605786/150151118-5a9fd6b2-550b-4d8c-a503-aaf8965

[2022-01-19 18:38] noaabarki commented on #380
Hey @Abhra303, yes, regarding `ignore-missing-schemas` and `only-k8s-files` flags, I believe Cobra already got it covered for us with all the validation we need. Definitely use `validateK8sVersionFormatIfProvided` function, good job!  Overall, make sure to add test-cases for all the flags.

[2022-01-20 10:14] eyarz commented on #390
@royhadad helped me to understand that it happened to me because I had an empty line in my empty file.
This use case should also be handled as an empty file...
WDYT?

[2022-01-20 10:49] Abhra303 commented on #380
Hello @noaabarki

I am facing some challenges for validating `policy` and `schema-location` -

- I didn't find any way to know the available policy names. So, I can't check whether the value given to `policy` is valid or not. Am I missing something here?
- According to [this](https://github.com/yannh/kubeconform#overriding-schemas-location---crd-and-openshift-support),  `schema-location` can accep

[2022-01-20 12:31] #390 closed, assigned to royhadad

[2022-01-20 12:33] royhadad commented on #390
**before my change** - if there is 1 result in the status is empty => return failure for k8s validation
**after my change** - if all of the results have status empty => return failure for k8s validation (ignore empty configs as long as not all of them are empty)

[2022-01-23 09:50] #257 closed, assigned to dimabru, shmuelsa

[2022-01-23 10:09] #368 closed, assigned to shmuelsa

[2022-01-23 14:13] exocode opened #395 "Using Datree with Kustomize"
**Is your feature request related to a problem? Please describe.**

I try to implement DaTree into my Gitlab-CI. I primarly use Kustomize for my deployments. So my "root"-manifests are sparely written and are completed by "Kustomization" for the different stages like "staging" and "production".

So all my deployments are failing. Base, staging and production. But the "kustomized", rendered ones ar

[2022-01-23 17:12] hadar-co commented on #395
@exocode thanks, great catch!

What do you think about a [Kustomize plugin](https://github.com/datreeio/datree/issues/125) to address this? We are planning to write one and would love your input.

In the meantime I believe this workaround should resolve your issue:
`$ kustomize build [resources] | datree test -`

Please let us know if it did :)

[2022-01-23 18:59] exocode commented on #395
Hi @hadar-co  , I am not that great Kustomize expert, I am an average user.

with your hint, I can do something like this:

`for filename in ./**/overlays/**/kustomization.yml; do eval "datree test ${filename}"; done`

EDIT:  That is a working example:

`for filename in ./**/overlays/**/kustomization.yml; do eval "kustomize build $(dirname ${filename})|datree test -"; done`

This will find all my

[2022-01-23 22:11] exocode opened #398 "Is it possible to skip rules on specific files?"
**Is your feature request related to a problem? Please describe.**
I wanna have a slight more grained possibilty to apply checks only on specific files:

I have a `kind: job` manifest, which does not need the `readiness` or `liveness` probe check. But I don't like to skip that policy check for all of my other manifests (like `kind: deployment `)

**Is there a way to skip certain rules on certain f

[2022-01-24 16:22] adifayer commented on #398
Hi @exocode
That's an interesting issue, I agree with you that having this functionality can be useful!

I would not recommend ignoring the rule in your main policy, just like ignoring flaky tests- we forget turning them back on 🤭
Instead, I suggest that you create a new policy with an indicative name and turn off the relevant rule/s within that policy.
Then, you can run your new policy on a speci

[2022-01-24 18:38] eyarz commented on #395
I wonder if the user should pass Datree's CLI a path to the chart/dir that contains the `kustomization.yaml` (like we do [with Helm](https://github.com/datreeio/helm-datree#trigger-datree-policy-check-via-the-helm-cli)) or the path to the `kustomization.yaml` itself (like @exocode maintained).

Also, Kustomize has [different versions](https://github.com/kubernetes-sigs/kustomize#kubectl-integratio

[2022-01-24 22:36] exocode commented on #395
@eyarz as an idea to handle the folder structure, Checkov has published it's kustomize support today. They have made a docs page, which explains how they treat that:
https://github.com/bridgecrewio/checkov/blob/master/docs/7.Scan%20Examples/Kustomize.md

For the versioning I have too low experience. I am too new to Kustomize to answer that question

[2022-01-25 09:37] eyarz commented on #395
This is helpful, thank :)
I think we have enough info to start work on it - moving to `Selected for development`.
@adifay, please share a draft for this capability so someone can grab it.

[2022-01-25 12:47] noaabarki commented on #380
Hi @Abhra303,

- Regrading `policy`, I believe there's no need to validate if the provided policy name is available. Our backend is responsible for that and it already contains this logic.
- Regarding the `schema-location`, IMHO the validation you described above is great and powerful but it's should be handled in Kubeconform (consider submitting them a PR, really 😊). From our side, any input for

[2022-01-25 15:31] Abhra303 commented on #380
thanks @noaabarki , I am pleased to contribute here :)

[2022-01-26 10:10] amustaque97 commented on #386
I would love to take it up! Just to confirm again. We need to refactor `LoadVersionMessages` from all cmds and write it once  under `PreRunE` hook!

[2022-01-26 10:36] noaabarki commented on #386
Hey @amustaque97!  Awesome, you got it and yes, you are correct.

[2022-01-26 12:10] #380 closed, assigned to noaabarki, Abhra303

[2022-01-26 13:59] hadar-co opened #402 "Add a --not-strict flag to the CLI"
**Is your feature request related to a problem? Please describe.**
The kubeconform cli provides a "-strict" flag:
-strict
        disallow additional properties not in schema

By default, the Datree cli uses this flag during schema validation, thus disallowing additional properties.

**Describe the solution you'd like**
Add a --not-strict flag to the Datree cli that does not set this flag when usi

[2022-01-26 17:06] amustaque97 commented on #386
@noaabarki, may I know what are we trying to achieve here?

Before jumping into implementation I want to discuss concerns
https://github.com/datreeio/datree/blob/main/cmd/test/main.go#L277-L288

Currently in the above link we are calling `LoadVersionMessages` only in case of `InteractiveMode` and If we move this under pre hook it will work but then again in the `evaluate` function we need to check

[2022-01-30 13:19] noaabarki commented on #386
Hey @amustaque97!! I hope I'm not missing something.
We want to print the _version messages_ on every command execution. The messages should be printed first. By separating the logic for printing the version messages and moving them to outside the run command we avoid redundant code while keeping the same behavior for all commands.

Regarding non-interactive-mode executions - you were right to bri

[2022-01-30 13:55] amustaque97 commented on #386
Thanks for the reply! Yeah, I agree with you 💯 . Will make changes and raise a PR 🤓 .

[2022-01-30 15:56] hadar-co opened #404 "Create a CircleCI orb that runs the Datree CLI"
As part of our effort to [support various plugins](https://github.com/datreeio/datree/issues/125), we would like to create a CircleCI orb that will enable users to run the Datree CLI as part of their workflow/s.

**Writing a CircleCI orb:**
* Requires knowledge of yaml.
* Does not require knowledge of the Datree codebase.

To get started with creating a circleci orb, see the [circleci orb document

[2022-01-31 10:11] amustaque97 commented on #377
Hi @dimabru , curious to know why we have opened this issue again? Are we facing any issue because of replacement?

[2022-01-31 10:11] dimabru commented on #377
The pr that was merged to fix this issue caused a bug in our cli.
Policy checks running on yaml files with multiple `---` failed to execute policy checks on some resources

[2022-01-31 10:17] amustaque97 commented on #377
Thanks for the reply, could you please share an example of yaml file and the command typed. I will take a look.

[2022-01-31 10:36] SuperAayush commented on #402
Hey, @hadar-co I want to work on this issue can you please guide me on how I can get started.

[2022-01-31 10:45] shalev007 commented on #377
Hey @amustaque97,
![Screen Shot 2022-01-31 at 12 42 25](https://user-images.githubusercontent.com/51760613/151779789-aa5eb04c-8bd6-4710-ac7e-2d11c2a4d480.png)

Adding an example with steps to reproduce:
1. checkout to `0.15.9-rc` - `git checkout 0.15.9-rc` (which is the version that this pr that closed this issue, was added)
2. run the following command `make build-staging && ./datree test example

[2022-01-31 12:09] hadar-co commented on #402
Hey @SuperAayush, awesome thanks :)

As you can see in the following code, we pass (Strict: true) always.
A '--not-strict' flag should be added to the "test" command so that if it's passed, 'Strict' should be set to false instead of true.
https://github.com/datreeio/datree/blob/4c5bdff01f44fbb946d309794e11085acda3c115/bl/validation/k8sValidator.go#L143-L146

Please take a look at the way the varia

[2022-01-31 12:18] #378 closed, assigned to nobody

[2022-01-31 13:05] amustaque97 commented on #377
Nice catch. I checked and found that `YAMLToJSON` is the culprit as it is not able to parse and return multiple yaml configs.
Thank you everyone!

[2022-01-31 14:31] Abhra303 commented on #383
Hey @noaabarki  I would like to try this :)

[2022-02-01 11:07] adifayer commented on #398
@exocode I want to follow up with you regarding the issue you raised - were any of the workarounds helpful?
If not, I'd love to discuss further solutions with you.
Let me know :)

[2022-02-01 13:21] exocode commented on #398
@adifay I will dig deeper in a few days. Currently no time to try out. I answer you in a few days, thank you!

[2022-02-01 14:07] hadar-co commented on #125
[https://codefresh.io/docs/docs/codefresh-yaml/steps/](https://codefresh.io/docs/docs/codefresh-yaml/steps/)

[2022-02-01 17:57] laneia commented on #385
Hey @noaabarki I’d be interested in taking this on

[2022-02-02 08:09] noaabarki commented on #383
@Abhra303 awesome, it's yours 👑

[2022-02-02 08:10] noaabarki commented on #385
Hi @laneia! That's amazing, you got it :)

[2022-02-02 08:16] noaabarki opened #407 "Move fixtures out from the internal folder"
**Describe the solution you'd like**
Move the `fixtures` folder to outside `internal` and place it under root as a “sibling” to `internal`, `pkg`, `cmd` and the rest. The reason why is because `internal/` is a special directory name recognized by the go tool which will prevent one package from being imported by another unless both share a common ancestor.

**Requirements**
Golang basic level.

[2022-02-02 08:29] Abhra303 commented on #383
Hello @noaabarki,

#381 , #382 and this issue are very close to each other. I mean, the test codes might be very similar. So would you mind if I cover all the test cases in a single PR?

[2022-02-02 08:48] noaabarki commented on #383
@Abhra303, yes you're right they are very close, do you prefer to do it all together?
The reason why I separated them was that I was worried we'd end with a giant PR. Small and contained PRs are always better, especially when it comes to unit tests in Go which are usually hard to read and understand.

[2022-02-02 09:28] Abhra303 commented on #383
Hmm, That's sensible.
Okay, I will make separate PRs for them. Would that be okay?

[2022-02-02 09:37] dimabru commented on #385
Will this cause us to override the flags without the ability to change it via the cli?

To be more specific, I will be able to manually add `schema-version` flag to `config.yaml` but will not have the ability to use the cli to override it using `datree config set schema-version`
Or even check what is set using `datree config get schema-version`

[2022-02-02 13:06] noaabarki commented on #383
Sounds good :)

[2022-02-04 12:30] arsheelsheikh commented on #407
@noaabarki Hi I would like to work on this issue, can you please guide me on how I can get started.
and where would the Golang be required when it is only to move the folder.

[2022-02-05 16:03] SuperAayush commented on #402
I have made the PR sir thank you so much @hadar-co and @dimabru Sir for helping me this much and I am looking forward to making some more amazing contribution to datree as well as open-source.

[2022-02-06 08:38] hadar-co commented on #402
@SuperAayush Thank you for contributing! Following our conversation, we will complete the remaining work. See you on the next one ;)

[2022-02-06 08:45] techwithbhavya commented on #404
Hello sir, @hadar-co I want to work on this issue. Will you guide me towards this issue?

[2022-02-06 08:49] hadar-co commented on #404
@bhavyastar Sure :)
following our conversation, please read up on CircleCI orbs and let me know if you need any assistance

[2022-02-06 15:48] techwithbhavya commented on #407
Hello ma'am, @noaabarki Will you assign this to me?

[2022-02-07 13:20] Kanika637 commented on #407
Hey, @noaabarki  I would like to work on this issue, will u guide me towards this.

[2022-02-07 13:29] Kanika637 commented on #381
Hey, @noaabarki  I m a beginner, can u please guide me to work on this issue

[2022-02-07 13:48] noaabarki commented on #407
Hi @arsheelsheikh and @Kanika637! Thank you for your will to contribute to our project, you're the best!👑  It appears that @bhavyastar already submitted a PR for this issue. However, we have plenty of other "good-first-issue" feature requests waiting to be assigned. If there's any issue that you’d like to take don’t hesitate to ask for help and reach out in our community slack channel 😍

[2022-02-08 04:48] Kanika637 commented on #379
Hey @noaabarki, Can you please guide me on how can I get started with this one?

[2022-02-08 09:39] noaabarki commented on #379
Hi @Kanika637! Sure! Feel free to use our community [slack channel](https://datreecommunity.slack.com/ssb/redirect) for raising any questions 😎

[2022-02-08 09:47] noaabarki commented on #381
Hi @Kanika637, that's awesome, and of course! Do you have any specific questions that I can help you with in order to get started? Also, feel free to use our community [slack channel](https://datreecommunity.slack.com/ssb/redirect) for raising any questions. Specifically, I highly recommend you to assist @Abhra303, since he understands our project and wonderful contributor 👑

[2022-02-08 11:32] Kanika637 commented on #381
Sure @noaabarki  I will be doing that...

[2022-02-08 14:09] Abhra303 commented on #381
@Kanika637 good to know you're working on this :)

Could you please wait for my PR (#410 ) to  get merged? Because, the fixes for these issues ( #382, #383 and this issue itself) are related mainly to [`main_test.go` ](https://github.com/datreeio/datree/blob/main/cmd/test/main_test.go) file. So,  if you make a PR before my PR is merged, it can create conflict problems for the reviewers.

Let's see

[2022-02-08 14:13] Kanika637 commented on #381
Sure @Abhra303  I will wait for your PR to get merged first.

[2022-02-09 15:15] myishay commented on #402
Hi @hadar-co @dimabru
Regarding the flag naming, I think it would be better defining the flag as `--schema-not-strict`

[2022-02-09 17:12] eyarz commented on #398
Moving to `Selected for development`.
@adifay, please share a draft for this capability so someone can grab it.

[2022-02-10 04:01] avinashupadhya99 commented on #388
Hi @hadar-co , I will be working on this issue. Thanks!

[2022-02-10 04:11] Kanika637 commented on #381
I have made the changes in my local system...@Abhra303 did your PR get merged?

[2022-02-10 04:24] Abhra303 commented on #381
Hi @Kanika637, no my PR is still waiting for review ( it may take two or three days to review it).

But if you think you did all the required changes - feel free to make a PR. One of us (you and me) will do a force update on our branches if another's PR get merged :)

[2022-02-10 13:06] #402 closed, assigned to dimabru

[2022-02-10 13:26] hadar-co opened #414 "Add env variable for schema version"
Priority order:
1. user flag (-s)
2. env var
3. default version of the user account

[2022-02-10 14:10] Kanika637 commented on #381
Yeah, I think this can create some conflicts...So I will wait for your PR

[2022-02-10 14:19] Kanika637 commented on #381
@noaabarki  what would you say on this?

[2022-02-10 17:45] hadar-co commented on #295
Added to docs:
https://hub.datree.io/policy-as-code#os-best-practice

[2022-02-10 17:45] #295 closed, assigned to nobody

[2022-02-10 17:51] avinashupadhya99 commented on #388
The task is created and documented at https://github.com/avinashupadhya99/catalog/tree/add-datree-task/task/datree/0.1 I will make the PR to the [catalog repo](https://github.com/tektoncd/catalog) once the task is approved by you folks.

[2022-02-13 09:23] noaabarki commented on #381
Hey @Kanika637, continue our conversation in the Slack channel, I wouldn't wait, I believe the update will go smooth. To speed up the process, I'll try my best to review @Abhra303 PR today.

[2022-02-14 07:18] hadar-co opened #415 "Add exit code/s to CLI to distinguish between different results"
Currently the CLI:
* Returns 0 when a test does not find any misconfigurations.
* Returns 1 in any other case.

The CLI should:
* Return a certain error code (i.e. 1) when a test finds misconfigurations in a file.
* Return a different error code (i.e. 2) when it is used incorrectly, i.e. when an invalid argument is passed to it.

[2022-02-14 08:52] dimabru commented on #415
This might affect existing plugins that are using datree. We need to make sure they don't break

[2022-02-14 14:22] adifayer commented on #395
### **Goal 🥅**
A new test command that supports kustomize mechanism- first, it builds the configuration files, then the policy check validates the build output (rendered yaml files)

### **User Flows 🏊‍♀️**
User runs kustomize test command on a directory with kustomization.yaml file
Kustomize build command takes place
The policy check validates the kustomize build output
User executes kustomize te

[2022-02-14 15:21] Kanika637 commented on #381
I have made the PR for issue #381...Thank you soo much @noaabarki @Abhra303 @royhadad  for being such supportive.

[2022-02-16 10:27] imrushi commented on #379
Hi @noaabarki, I can try to resolve/clean up the code. If anyone already working on it please let me know. 🙂

[2022-02-16 14:37] noaabarki commented on #379
Hey @imrushi! As far as I know, @Kanika637 removed her assignment on this one, and no one yet submitted a PR for that. You got it :)

[2022-02-16 15:24] Kanika637 commented on #415
Hey @hadar-co would you please guide me to work on this one

[2022-02-16 15:36] hadar-co commented on #415
@Kanika637 Hey, thanks for your reply! This task has already been done and is waiting for review.

Would you like me to assist in finding another task for you? :)

[2022-02-17 04:22] Kanika637 commented on #415
Sure @hadar-co, I would love to.

[2022-02-17 12:29] #415 closed, assigned to hadar-co

[2022-02-21 08:19] #414 closed, assigned to dimabru

[2022-02-21 14:28] eyarz opened #425 "`--only-k8s-files` flag is not working"
**Describe the bug**
The `--only-k8s-files` flag should skip files that are NOT k8s to avoid false-positive results when scanning a dir with k8s and non-k8s files

**To Reproduce**
Steps to reproduce the behavior:
1. Run command `datree test README.md --only-k8s-files`
2. See the YAML validation error

**Expected behavior**
because README.md is not a k8s file, the CLI should skip it.

**Screenshot

[2022-02-22 10:28] eyarz opened #427 "wrong policy check info when schema or yaml validation steps are failing"
**Describe the bug**
rules are "passing" when schema or yaml validation steps are failing

**To Reproduce**
Steps to reproduce the behavior:
1. Run datree on file(s) with invalid k8s schema or yaml
2. See summary in terminal

**Expected behavior**
`Total rules passed` should be 0
(we didn't evaluate any rules)

**Screenshots**
![image](https://user-images.githubusercontent.com/19731161/155113560-0

[2022-02-23 10:02] eyarz commented on #425
The `--only-k8s-file` flag supports only YAML files because this check (k8s file or not) is happening after the YAML validation step. Because I used this flag on a README file, it was not ignored.

We don't want to skip the YAML validation step so we will not fix this bug.
If someone wants to scan an entire dir with a mix of k8s and none k8s files, he should use the following workaround:
`datree t

[2022-02-23 10:02] #425 closed, assigned to TzlilSwimmer123

[2022-02-23 10:32] TzlilSwimmer123 opened #430 "Running test on non k8s yaml files with `--only-k8s-files` flag raises an error"
**Describe the bug**
Running `datree test` on non k8s files with `--only-k8s-files` flag raises invalid memory address or nil pointer dereference error on runtime

**To Reproduce**
Steps to reproduce the behavior:
1. Run command 'datree test internal/fixtures/kube/Chart.yaml --only-k8s-files'
2. See error

**Expected behavior**
Suppose to show test results - this file/these files should be present

[2022-02-23 15:42] adifayer opened #432 "Implement Kustomize support"
Should use kustomize binary to run kustomize build

use kustomize build fallback in this order:

1. should use kustomize build
2. use kubectl kustomize
3. prompt error

- kustomize build output should be written to a yaml manifest in temp dir containing the string kustomize as a prefix/postfix (and eventually delete it)
- should run datree test on the temp kustomize output file
- should be support

[2022-02-24 14:34] #386 closed, assigned to amustaque97, noaabarki

[2022-02-24 14:35] noaabarki opened #433 "Validate test command args before cobra.Run"
**Describe the solution you'd like**

Validate test commands arguments before Run. This pattern will allow us to governance  behaviors such as flags/arguments validation in all commands. Additionally, this should make the code easier to understand and maintain.

**Requirements**
Golang basic level.

**“How to Implement” suggestion**

- `cmd/test/main.go`
You can see that in `test()` we check if re

[2022-02-24 14:36] noaabarki opened #434 "Validate publish command args before cobra.Run"
**Describe the solution you'd like**

Validate test commands arguments before Run. This pattern will allow us to governance behaviors such as flags/arguments validation in all commands. Additionally, this should make the code easier to understand and maintain.

**Requirements**
Golang basic level.

**“How to Implement” suggestion**

See [issue](https://github.com/datreeio/datree/issues/433) as a r

[2022-02-24 14:39] noaabarki opened #435 "Remove new line and capital letters from errors"
**Describe the solution you'd like**

We want to make sure our error strings follow a set of guidelines to ensure uniformity and good composability. Quoting Go Code Review Comments:

Resource: [https://staticcheck.io/docs/checks/#ST1005](https://staticcheck.io/docs/checks/#ST1005)

**Requirements**
Golang basic level.

[2022-02-24 14:40] noaabarki opened #436 "Move deploymentConfig into internal folder"
**Describe the solution you'd like**

The `interna`l directory is the place to put your private packages. Code that is placed in an `internal` directory couldn’t be imported by external project.

**Requirements**
Golang basic level.

[2022-02-24 14:40] noaabarki opened #437 "Add Logger and support log level"
**Describe the solution you'd like**
We want to add logger in order to provide more useful info and help our user more conveniently detect errors.

**Requirements**
Golang basic level.

**“How to Implement” suggestion**

1. Use `logrus` package.  [[Read more](https://github.com/sirupsen/logrus)](https://github.com/sirupsen/logrus)
2. Switch errors with `logrus.Error`.

[2022-02-24 14:42] noaabarki opened #438 "Refactor evaluation.PrintResults signature"
**Describe the solution you'd like**

Location: `bl/evaluation/printer`:

[code]

In this function, we have nine arguments in total, and apparently they don’t have a logical order. We could try make sense of this arguments, but we can only guess by just looking at the argument. Following clean code conventions we want to group this arguments and/or separate the logic of this function. This is up f

[2022-02-24 14:43] noaabarki opened #439 "Refactor LocalConfig package"
**Describe the solution you'd like**
Cleanup:

1. Delete `LocalConfig`(empty struct). Instead, export `GetLocalConfiguration` function. Add comments to this function.
2. Remove *`getConfigName` and `getConfigType`.* Use const instead.
3. Add setter and getter for `token` key in the local configuration.
4. Cover these updates with testing. Use `pkg/extractor` or `pkg/httpClinet` as reference.

**Re

[2022-02-24 14:45] noaabarki opened #440 "Allow getting token with datree config command"
**Describe the solution you'd like**

Add an option to retrieve the token from local config. Example:

[code]

**Requirements**
Golang basic level.

**“How to Implement” suggestion**

1. Create get function for command `pkg/localConfig`.
2. Add the `get` subcommand to the publish command(`cmd/config`).
3. Support new option with `cobra.Command` Examples and add an example for how to use this optio

[2022-02-24 14:46] noaabarki opened #441 "Validate config command args before cobra.Run"
**Describe the solution you'd like**

Validate test commands arguments before Run. This pattern will allow us to governance behaviors such as flags/arguments validation in all commands. Additionally, this should make the code easier to understand and maintain.

**Requirements**
Golang basic level.

**“How to Implement” suggestion**

See [issue](https://github.com/datreeio/datree/issues/433) as a r

[2022-02-24 15:00] noaabarki opened #443 "Add test coverage for extractor package"
**Describe the solution you'd like**

Add test coverage for package extractor. See `pkg/httpClient` as a reference.

For `ToAbsolutePath`, the test cases are already exists but for  `ExtractConfigurationsFromYamlFile` the test cases should include:

- Case: empty(””) path argument

    Expected: should return invalid file with returned `ToAbsolutePath` error.

- Case: reading file failed

    Expe

[2022-02-24 15:04] noaabarki opened #444 "Cleanup OSInfo from evaluator"
**Describe the solution you'd like**

Move `osInfo` from Evaluator struct. Instead, call `NewOSInfo` in `CreateEvaluation` function.

**Requirements**
Golang basic level.

[2022-02-24 15:22] noaabarki opened #445 "Get LocalConfiguration before publish command cobra.RunE"
**Describe the solution you'd like**

Get local configuration before Run. This pattern will allow us to make sure before running the command logic it has everything that it needs. Additionally, this should make the code easier to understand and maintain.

**“How to Implement” suggestion**

Init `localConfig` to outside of `cobra.Command` scope. Move `localConfigContent, err := ctx.LocalConfig.GetL

[2022-02-24 15:24] noaabarki opened #446 "Add "How To Fix" guide link"
**Describe the solution you'd like**

We want to provide an easy way to view guidance on how to fix failing rules. For that, we want to add to the test command output a how-to-fix guidelines link next to every failing rule.

Since this is optional, we want this option to be a flag of test command or as a local configuration.

[code]

To maintain backward compatibility the links for every rule will

[2022-02-24 15:30] noaabarki opened #447 "Read files in parallel"
**Describe the solution you'd like**

Currently, the way test command works is that datree iterate every file in the the given path with  for loop inside a single `gouruitine` . This is not done in parallel since the using the for loop is blocking. Instead, we want to read all files in parallel.

**Requirements**
Golang intermediate level.

**“How to Implement” suggestion**

1. Convert paths array

[2022-02-25 04:22] Kanika637 commented on #382
I would like to work on this @noaabarki

[2022-02-25 09:54] amustaque97 commented on #433
Hi, I would love to work on this and related issues. 🚀

[2022-02-27 09:24] noaabarki commented on #433
Hi @amustaque97, you got it 👍🏼

[2022-02-27 13:01] shalev007 commented on #432
[DAT-3815_prompt-helper-kustomize-test ](https://github.com/datreeio/datree/pull/442) ** only notification prompt

[2022-03-01 09:58] AreebAbdulGhani commented on #446
I'm not able to run Datree after installing it in windows
![dt](https://user-images.githubusercontent.com/92576221/156147414-f80cd0c8-eb4f-4e9e-869d-d9e5a65720d9.png)

[2022-03-01 10:41] adifayer commented on #446
@AreebAbdulGhani Seems like a possible bug, would you like to open an issue to fix this one?
Also, I'd love to invite you to Datree's [Slack channel](https://datreecommunity.slack.com/archives/C02L0QB3YTC), you can post the issue there as well and the community can assist with this one 🙌

[2022-03-01 20:26] eyarz opened #460 "Create MVP for CRD support"
We want to make the CRD support experience more "natively" for our users.
Because the majority of users are using public CRDs, we want to start cataloging popular CRDs for our schema validation step.

The POC will be to provide out of the box support for Argo:
1. I created [this public repo](https://github.com/datreeio/CRDs-catalog) and I added all Argo's CRDs to it.
2. and ran `datree test argo-c

[2022-03-02 17:55] myishay commented on #460
One small change, after reviewing kubeconform's README it seems like the correct schema-location should be `'https://raw.githubusercontent.com/datreeio/CRDs-catalog/master/argo/{{ .ResourceKind }}_{{ .ResourceAPIVersion }}.json'`

(just changed `KindSuffix ` with `ResourceKind`)

Thanks @shmuelsa for pointing it out to.

[2022-03-03 04:07] imrushi commented on #379
Hi @noaabarki, Can we close this issue as it got resolved and merged?

[2022-03-03 11:23] #460 closed, assigned to shmuelsa

[2022-03-03 11:40] #379 closed, assigned to imrushi, noaabarki

[2022-03-06 14:30] #445 closed, assigned to nobody

[2022-03-08 07:53] #432 closed, assigned to myishay

[2022-03-09 15:19] royhadad commented on #430
After some investigation, I found that this happens because of this line:
https://github.com/datreeio/datree/blob/34815cb824e4ef8b205c322bbf7d727228898876/cmd/test/main.go#L405
![Screen Shot 2022-03-09 at 17 18 42](https://user-images.githubusercontent.com/39004075/157471556-0c4c02f0-ac22-4a8d-bf86-dcfea2786f51.png)

 results.EvaluationResults is equal to null, which causes a runtime error

[2022-03-10 05:30] imrushi commented on #437
Hi @noaabarki , I can work on this issue. 🚀👨‍🚀
In this issue, we just need to add Error logs or others also (like Info, Warning, Fatal...)? And In which Directory `cmd` only or any others also please let me know?

[2022-03-10 11:42] eyarz commented on #395
in production:
https://hub.datree.io/kustomize-support

[2022-03-10 11:42] #395 closed, assigned to nobody

[2022-03-15 11:20] TzlilSwimmer123 commented on #437
Hi @imrushi, thanks for your time!

At the moment we would want a lean version so you can implement the error logs only. The implementation should be in a new folder inside `pkg` directory.

Let me know if it's clear now :)

[2022-03-16 12:27] alexfedin opened #504 "Move app instances creation to a single place"
**Describe the solution you'd like**
Currently, cliClient and localConfig are initiated in 2 different places, first one is `main.go` the entry point of the project and the second place is in `cmd/root.go`. It's better to initiate the instances in 1 place and pass them to the other parts of the app, this probably will help us with tests too.

Requirements:
Golang Basic level

“How to Implement” su

[2022-03-20 19:02] amustaque97 opened #512 "warning: `kIOMasterPortDefault` is deprecated"
When we build our project on macbook intel devices. It shows the following error:

[code]

Warning is coming from `gopsutil` package and we're using it here
https://github.com/datreeio/datree/blob/main/bl/evaluation/osInfo.go#L3

I checked `gopsutil` package and found, they have merged their [fix](https://github.com/shirou/gopsutil/pull/1191) . Now we should update package in order to get rid of t

[2022-03-21 10:26] #430 closed, assigned to royhadad

[2022-03-21 13:08] shirou commented on #512
[v3.22.1](https://github.com/shirou/gopsutil/releases/tag/v3.22.1) and [v3.22.2](https://github.com/shirou/gopsutil/releases/tag/v3.22.2) have already released.

[2022-03-21 13:33] royhadad commented on #512
Seems like we need to upgrade our gopsutil package to V3, this is up for grabs :)
We currently use this: https://pkg.go.dev/github.com/shirou/gopsutil/host
We need to upgrade to this: https://pkg.go.dev/github.com/shirou/gopsutil/v3/host

[2022-03-21 14:05] Ben-Zaad opened #519 "Verify the content of the file received in datree test policy-config flag"
**Describe the solution you'd like**
One of the flags of the datree test command is policy-config, we are currently validating the types of the received policies file with a jsonSchema validation.
Some of the validation logic is not covered by only using jsonSchema so we want to further verify the content of this file by adding validation in our code for:

1. Identifier:
   a. verify each rule has

[2022-03-21 17:58] #433 closed, assigned to amustaque97, noaabarki

[2022-03-22 04:13] sourikghosh commented on #443
I would love to work on this
/assign

[2022-03-22 15:32] #512 closed, assigned to nobody

[2022-03-22 16:52] royhadad opened #523 "publishing custom rules using jsonSchema (instead of schema) fails in `datree test`"
**Describe the bug**
publishing custom rules using the jsonSchema key (instead of schema) fails later in `datree test`

**To Reproduce**
Steps to reproduce the behavior:
1. Run command `datree publish ./internal/fixtures/policyAsCode/valid-schema.yaml`
2. Go to the dashboard => policies => default policy - turn on the rule with the name "rule unique 2"
3. Run command `datree test ~/.datree/k8s-dem

[2022-03-28 11:07] #523 closed, assigned to Ben-Zaad

[2022-03-29 07:51] royhadad opened #533 "Test defaultRules.yaml file structure"
**Is your feature request related to a problem? Please describe.**
We have a file pkg/policy/defaultRules.yaml - which is the source of truth for the default rules in users' policies.
It's very important we don't break it, therefore - better testing is required.
A quick win would be to test and validate the structure of the yaml

**Describe the solution you'd like**
Add a test file **pkg/policy/de

[2022-03-29 17:19] naorpeled commented on #533
Hey,
can you assign me to this issue? :)

[2022-03-29 17:32] royhadad commented on #533
@naorpeled sure, there you go 💪

[2022-03-30 09:23] shmuelsa opened #536 "Skip rules by annotations"
**Is your feature request related to a problem? Please describe.**
As of now, we are unable to skip certain rules on specific files.

**Describe the solution you'd like**
In any manifest file, under metadata, we use a unique prefix annotation for skipping rule.
We will skip on checking certain rules in our policy check flow by extracting the unique skipped annotations
from the manifest that contai

[2022-03-30 09:31] adifayer commented on #398
Goal 🥅
Users can skip all/specific rule/s for any resource by adding annotation/s in the manifest files

User Flows 🏊‍♀️
1. A user adds skip annotation for **specific rules** in single/multiple manifests and runs a policy check
The test command first scans the tested resource and searches for skip annotations
The policy check verifies only active rules.
An active rule is toggled on (dashboard, PAC

[2022-03-30 11:13] cconnert opened #538 "k8s schema validation error: could not find schema for CustomResourceDefinition"
**Describe the bug**
Running a validation on resources which contain CRDs fail with:

k8s schema validation error: could not find schema for CustomResourceDefinition
You can skip files with missing schemas instead of failing by using the `--ignore-missing-schemas` flag

**To Reproduce**
Steps to reproduce the behavior:
1. Run command 'wget https://github.com/bitnami-labs/sealed-secrets/releases/do

[2022-03-30 12:59] eyarz commented on #538
I'm also able to reproduce it.
It looks like an [issue](https://github.com/yannh/kubeconform/issues/100) with kubeconform (it's the package that we're to perform the schema validation).

Until it will get fixed, you can ignore the CRD schema validation (for now) by passing the flag ` --ignore-missing-schemas` to datree: `wget https://github.com/bitnami-labs/sealed-secrets/releases/download/v0.17.2

[2022-03-30 13:38] eyarz commented on #538
Just thought about a good workaround that will not require you to skip the CRD schema validation - you can use the `--schema-location` flag and pass the (remote) CRD schema separately:

`wget https://github.com/bitnami-labs/sealed-secrets/releases/download/v0.17.2/controller.yaml && datree test --schema-version 1.18.0 controller.yaml --schema-location https://raw.githubusercontent.com/yannh/kubern

[2022-03-30 15:03] eyarz opened #542 "new built-in rule to verify `metadata.name` exists"
**Is your feature request related to a problem? Please describe.**
`metadata.name` OR `metadata.generateName` is a mandatory property in every K8s resource type.
This validation (that the property exists) is happening on the K8s server-side only (not part of the official schema).
Therefore, if a YAML is passed to datree w/o the mentioned property, it will pass the schema validation but will fail K

[2022-03-30 16:12] royhadad opened #543 "Running `datree kustomize test` without a path throws an unexpected error"
**Describe the bug**
Running `datree kustomize test` without a path throws an unexpected error

**To Reproduce**
1. Run command `datree kustomize test`
2. see the unexpected error thrown "Unexpected error: runtime error: index out of range [0] with length 0"

**Expected behavior**
Should get the correct error message: "Requires at least 1 arg"

**Screenshots**
![Screen Shot 2022-03-30 at 18 59 55]

[2022-03-30 17:14] eyarz commented on #427
fixed.

[2022-03-30 17:14] #427 closed, assigned to nobody

[2022-03-30 17:25] eyarz opened #544 "Redundant built-in rule - HPA_MISSING_MAXREPLICAS_KEY"
**Is your feature request related to a problem? Please describe.**
The `Ensure HPA has maximum replicas configured` is redundant because this validation is happening during the schema validation step anyway.

**Describe the solution you'd like**
Remove/disable this built-in rule

**Additional context**
This YAML file
[code]
Will show this error when running `datree test`:
![image](https://user-ima

[2022-03-31 07:48] #444 closed, assigned to nobody

[2022-03-31 08:46] #436 closed, assigned to nobody

[2022-03-31 10:44] #446 closed, assigned to nobody

[2022-03-31 11:20] #440 closed, assigned to nobody

[2022-03-31 18:25] eyarz commented on #125
https://dagger.io/

[2022-04-02 19:46] #543 closed, assigned to nobody

[2022-04-03 11:16] #383 closed, assigned to royhadad, Abhra303

[2022-04-04 09:12] #443 closed, assigned to nobody

[2022-04-07 06:22] eyarz commented on #538
The fix for this bug should be done on the Kubeconform project.
Therefore, I'll close this issue as `won't fix`.
I believe that someone from the community will pick it up quickly.

[2022-04-07 08:55] #504 closed, assigned to nobody

[2022-04-07 16:17] #377 closed, assigned to amustaque97, noaabarki

[2022-04-07 16:20] noaabarki commented on #382
@Kanika637, it's yours 💪🏻

[2022-04-07 16:26] royhadad commented on #385
As with most tools, I think we want the inline flags to merge & override the flags from config.yaml

[2022-04-10 16:17] noaabarki opened #564 "Ensure ConfigMap is recognized by ArgoCD rule match wrong ConfigMap resource name"
**Describe the bug**
Instead of matching "argo-cm.yaml" this rule should match for "argo**cd**-cm.yaml".

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure that the Ensure ConfigMap is recognized by ArgoCD is active.
2. Run command 'datree test' against ConfigMap file with `metadata.name: argocd-cm` which not configured with the label "part-of: argocd".

**Expected behavior**
The rule sh

[2022-04-11 06:48] #564 closed, assigned to hadar-co

[2022-04-11 07:01] angelwcrypto opened #566 "datree suddenly does not show the dashboard link with the token."
**Describe the bug**
datree suddenly does not show the dashboard link with the token.
   ~ ❯ datree test ~/.datree/k8s-demo.yaml                                                                               12s

[V] YAML validation
[V] Kubernetes schema validation

[X] Policy check

❌  Ensure each container has a configured memory limit  [1 occurrence]
    — metadata.name: rss-site (kind: Deplo

[2022-04-11 09:28] royhadad commented on #566
I believe this change is on purpose, and happens for users that are already signed in.
To access the dashboard, simply go to app.datree.io and login to your account

[2022-04-11 14:44] adifayer commented on #566
Although the token is used to pull the policy from your dashboard, we wanted to make sure that no one uses it on your behalf, therefore we implemented this change in the CLI output.
You can find all of your tokens in the dashboard- https://app.datree.io/settings/token-management

[2022-04-12 06:58] #381 closed, assigned to nobody

[2022-04-12 06:58] #407 closed, assigned to bhavyastar

[2022-04-12 07:04] noaabarki commented on #404
Hi @bhavyastar! Just wanted to ping you regarding this issue. Do you need any guidance? Feel free to reach out :)

[2022-04-12 07:06] noaabarki commented on #437
Hi @imrushi! I hope you are well. Just wanted to ping you regarding this issue to check if everything is clear. Do you need any help or guidance? Please, don't hesitate to reach out. 💪🏻😎

[2022-04-12 07:20] imrushi commented on #437
Hi, @noaabarki I am a little bit confused. in the `pkg` folder what should name the folder for error and Error function should take the only the message as a parameter?
We need following function in that package like below format:

[code]
Let me know if this is right... and correct me if I am wrong.

[2022-04-13 07:50] royhadad opened #570 "Support `CustomResourceDefinition` kind"
**Is your feature request related to a problem? Please describe.**
[kubeconform](https://github.com/yannh/kubeconform) doesn't currently support the validation of the kind `CustomResourceDefinition`, along with some other kinds (list can be found in [this](https://github.com/yannh/openapi2jsonschema/blob/09bbcef0ed5f0f70ee033834637e10e7035b6787/openapi2jsonschema/command.py#L162) piece of code.

*

[2022-04-13 08:11] adifayer opened #571 "Support JUnit output format"
**Motivation**
Push forward a common requested [eco-system to support](https://github.com/datreeio/datree/issues/125)

**DOD**
Users are able to set their output format to JUnit by setting the value of -o argument to JUnit

[2022-04-13 08:55] royhadad commented on #538
will be fixed soon in https://github.com/datreeio/datree/issues/570

[2022-04-13 09:47] #538 closed, assigned to nobody

[2022-04-13 09:47] #570 closed, assigned to royhadad

[2022-04-13 10:16] adifayer opened #573 "Support JUnit output format"
**Motivation**
Push forward a common requested [eco system to support](https://github.com/datreeio/datree/issues/125)

**DOD**
Users are able to set their output format to JUnit by setting the value of -o argument to JUnit

[2022-04-13 10:16] #571 closed, assigned to nobody

[2022-04-13 11:54] noaabarki commented on #437
@imrushi, I'm not sure I understand. The way I see it, we should replace current printings (using`fmt.Print..`) with `logrus` and use the correct error level. WDYT? We can discuss more over Slack.

[2022-04-13 15:09] dimabru opened #574 "Bump golang to v1.18"
**Is your feature request related to a problem? Please describe.**
We need to stay up to date with golang versions.
Failing to do so will cause us to be behind homebrew build version (which they keep up to date) and can potentially fail future versions from being deployed on homebrew

**Describe the solution you'd like**
Support golang v1.18 :)

[2022-04-14 15:09] redgra0315 commented on #566
[Web Application Interface](https://hub.datree.io/centralized-policy/#utm_source=github&utm_medium=organic_oss)
Whether the Web Application can be accessed only on the public network and whether the Web Application can be used on the Intranet of the company

[2022-04-15 07:21] eyarz commented on #566
@redgra0315 as you can see from the [architecture](https://github.com/datreeio/datree#%EF%B8%8F-architecture), the GUI ([Web Application Interface](https://hub.datree.io/centralized-policy/#utm_source=github&utm_medium=organic_oss)), can only be accessed on the public network.

[2022-04-15 07:21] #566 closed, assigned to nobody

[2022-04-15 09:12] royhadad commented on #574
generics 😍😍

[2022-04-20 10:12] royhadad opened #580 "Policy validation errors order is inconsistent between runs"
**Describe the bug**
The order of the policy validation errors is inconsistent between runs, this makes checking for diffs & regressions confusing.

**To Reproduce**
Steps to reproduce the behavior:
1. Run command `datree test ~/.datree/k8s-demo.yaml`
2. Run command again `datree test ~/.datree/k8s-demo.yaml`
3. Most likely the order of the policy validation errors between the 2 runs is not the sa

[2022-04-20 10:55] eyarz commented on #580
@dimabru, If I remember correctly, this was the new behavior after we released the local eval support (1.x.x)?
If the fix is easy as you mentioned, I think we should do it.

[2022-04-20 15:03] #573 closed, assigned to royhadad

[2022-04-20 16:08] royhadad commented on #580
@eyarz Yep I remember it also

[2022-04-20 17:25] eyarz commented on #580
so it's not a bug 😅

[2022-04-21 07:02] Abhra303 commented on #519
Hey @Ben-Zaad, I am interested in this issue. Could you please tell me what you are actually referring to by saying `jsonSchema field` and `schema field`?

Thanks :)

[2022-04-21 10:04] naorpeled commented on #385
@noaabarki I would like to work on this issue :)

[2022-04-24 07:27] noaabarki commented on #385
You are the best! 🥳 It's yours.

[2022-04-25 08:46] TzlilSwimmer123 commented on #580
Fixed in https://github.com/datreeio/datree/pull/584

[2022-04-25 08:46] #580 closed, assigned to nobody

[2022-04-25 13:09] Ben-Zaad commented on #519
Hey @Abhra303 :)

when users run datree test with policy-config flag on, they upload a policies.yml file, this file is being validated with [datree](https://github.com/datreeio/datree)/[pkg](https://github.com/datreeio/datree/tree/main/pkg)/[policy](https://github.com/datreeio/datree/tree/main/pkg/policy)/policiesSchema.json json schema file.
on this file, under customRules, we are allowing users

[2022-04-25 13:47] hadar-co opened #586 "Add supported output formats to cli help text"
**Report type**
Missing documentation

**What can be improved?**
When running `datree test -h` we get the following output:
[code]

**Suggested solution**
Add supported formats to help text (json, yaml, xml, JUnit)

[2022-04-26 10:47] Abhra303 commented on #519
Got it! Thanks! Will work on it ☺️😊

[2022-04-27 06:33] #447 closed, assigned to nobody

[2022-04-27 07:35] adifayer commented on #519
@Abhra303 You got it 🙌

[2022-04-28 12:44] amustaque97 commented on #574
Hi there, I would love to work on this issue. 🙂

[2022-04-28 13:28] royhadad commented on #574
@amustaque97 Awesome! I've assigned you 😎

[2022-04-28 15:57] HillaShx commented on #435
@noaabarki May I be assigned this issue?

[2022-04-30 04:03] SuperAayush commented on #441
Hey @noaabarki, I would like to work on this issue can you help me out on how to get started with it.

[2022-04-30 21:42] noaabarki commented on #435
Hey @HillaShx! Sure, you got it!!🏆

[2022-05-01 15:01] royhadad commented on #398
Should this issue be closed? @adifay

[2022-05-01 15:01] royhadad commented on #536
@adifay Should this be closed?

[2022-05-01 15:12] royhadad commented on #586
fix: (simple, yaml, json, xml, JUnit)

[2022-05-01 17:51] noaabarki commented on #441
Hi @SuperAayush! Apparently, this issue accidentally has been left unassigned but looks like it was already fixed and merged to `main`. I'll close it now, I'm sorry for the misunderstanding. We have plenty of other issues and we always look for contributions. Don't hesitate to reach out if you have any question :)

[2022-05-01 17:51] #441 closed, assigned to nobody

[2022-05-02 07:14] #398 closed, assigned to nobody

[2022-05-03 09:56] #533 closed, assigned to naorpeled

[2022-05-08 09:42] #435 closed, assigned to HillaShx

[2022-05-09 10:48] eyarz commented on #586
thank you, stale-bot, for reminding us to close to issue :)

[2022-05-09 10:57] royhadad commented on #586
@eyarz why close this? there is still a PR open for the issue🤔

[2022-05-09 10:59] eyarz commented on #586
oops... my bad.

[2022-05-09 11:13] DannyBen commented on #566
This also confused me. I mean, it is perfect that the link is shortened after a token is configured, but this line in the output looks like a mistake:

[code]

Why point to the documentation site rather than to https://app.datree.io/ - especially since hub.datree.io does not have a "sign in" link. If providing only one link, I believe it should be to the app site and not documentation site.

[2022-05-09 11:19] royhadad commented on #566
I tend to agree with @DannyBen, WDYT? @adifay

[2022-05-09 14:57] eyarz commented on #566
@royhadad @DannyBen The reason we don't link to the app (https://app.datree.io/) is that we don't want to confuse users with tokens that are connected to another account. Because we don't have a user management system (yet 😉), those users will click on the link and will create a new account for them, instead of connecting them to the token owner account.

Until this feature (user management) will

[2022-05-11 11:48] royhadad commented on #125
When we support [JsonSchemaStore](https://github.com/SchemaStore/schemastore/blob/master/src/api/json/catalog.json), I suggest renaming our `policies.yaml` to something like `datree_policies.yaml`

[2022-05-12 11:53] Davincible opened #615 "Can't connect to datree web interface"
I have the token set, but whenever I login to the web interface, I only see the 3 step "Running Datree CLI" popup, which won't go away. So I suspect my account is not linking.

How can I fix this?

running the latest version on Manjaro

[2022-05-12 11:54] royhadad commented on #615
Did you follow the 3 steps described in the pop-up?

[2022-05-12 12:00] Davincible commented on #615
Oui, multiple times. I think my cli datree is not connecting to the server (correctly), but I am not sure how to troubleshoot.

Edit:
Also, whenever I click the link it says "session not valid anymore", but if I'm logged in, it just redirects to my account, showing the popup

[2022-05-12 12:09] royhadad commented on #615
would you like to discuss it further on slack and troubleshoot together?
community slack channel:
https://bit.ly/3BHwCEG

[2022-05-12 12:26] Davincible commented on #615
Turns out I had installed an old version (0.15.0-1) through pacman, removing that version fixed it.

[2022-05-12 12:26] #615 closed, assigned to nobody

[2022-05-12 16:09] HariSekhon opened #616 "SARIF output support"
Please support Sarif output format so that it can be uploaded as part of GitHub Actions workflows for issues to go into the GitHub Security tab.

Relates to #125

[2022-05-12 16:13] HariSekhon opened #617 "Update default k8s schema version to match latest CLI tool"
**Report type**

- [ ] Missing documentation
- [x] Fix current documentation (errors)

**What is the URL of the documentation (if applicable)?**
- https://hub.datree.io/setup/cli-arguments

**What can be improved?**
- The doc says for `--schema-version` it defaults to k8s schema 1.18 but on the CLI I'm seeing it default to 1.19.

[code]

[2022-05-12 17:15] HariSekhon opened #618 "Support recursive glob **/*.y*ml"
Please support recursive globs:

[code]

[code]

Relates to https://github.com/datreeio/action-datree/issues/3 where the documentation link below says this recursive glob should work:

https://github.com/datreeio/action-datree#examples

[2022-05-12 18:40] eranhermush opened #619 "Can you add on-premise version?"
Hi,
The company I work for has a private cloud, and we want to use Datree.
Based on our experience with Kubernetes, we love your product and will be happy to use it in our system.

Thank you very much 😀

[2022-05-13 08:07] eyarz commented on #619
This option is already supported!
We are just in the final steps of testing it with our beta group, and we will add it to our docs :)

I will keep this issue open for now, and I will update here once we have everything tested and documented.
If you (or someone else) also want to try it before the "official" release, ping me and I will send you the info 🤓

[2022-05-13 08:39] eyarz commented on #616
@HariSekhon do you know if it's possible to convert XML, yaml or JUnit to SARIF?

[2022-05-13 11:30] HariSekhon opened #620 "Disable spinner when detecting runs in CI to avoid messing up logs with spinner etc"
Following on from this ticket:

https://github.com/datreeio/action-datree/issues/5

I think it would be good for datree to detect when it is running within a CI system and default to using simpler output to prevent generating huge logs or messing up the screen.

I am looking at adding `--output simple` to the CI myself for now, but I believe other tools already detect when running in CI and tone t

[2022-05-13 11:34] HariSekhon commented on #616
Looks like it's already JSON + schema:

https://github.com/microsoft/sarif-tutorials/blob/main/docs/1-Introduction.md

I'm not familiar with any tool to convert from one to the other, as most of the other security tools I've used already support this output as it's the standard way of putting alerts into GitHub Security tab.

[2022-05-13 13:18] eyarz commented on #615
@Davincible can you give a link to Datree on pacman so we can ask to update the version there?

[2022-05-13 13:44] Davincible commented on #615
@eyarz
https://archlinux.org/packages/community/x86_64/datree/

I noticed that the version just recently got [bumped](https://github.com/archlinux/svntogit-community/blob/packages/datree/trunk/PKGBUILD) up, didn't propagate for me yet

[2022-05-13 13:59] eyarz commented on #620
Generally, I agree, but the `--output simple` will disable the spinner and **also** the emoji.
I think the emoji should be kept because it's not their fault that the spinner is spamming the log 😅

Maybe we can change the behavior so that when Datree recognizes it's running in a CI, it will not show (just) the spinner.
@HariSekhon @shmuelsa WDYT?

[2022-05-13 14:09] HariSekhon commented on #620
Hey I've got nothing against emojis, down with the spinner in CI though.

This should probably also happen if datree recognizes that it's in a pipeline and stdout has been redirected, although I guess `--output simple` could be used in that case.

[2022-05-13 14:29] eyarz commented on #615
Thanks for the update.
I also reached out to the package maintainer (@shibumi) to explain how to bump the version.

[2022-05-13 16:37] eyarz commented on #618
I ran Datree on [this dir](https://github.com/datreeio/datree/tree/main/internal/fixtures) and I'm not able to reproduce this bug:
![image](https://user-images.githubusercontent.com/19731161/168328125-8a0055ba-7acc-4b6d-bbd7-de076609cc76.png)
![image](https://user-images.githubusercontent.com/19731161/168328143-658a90c1-8e4c-41ca-8cd8-0215ee62f521.png)

which version of Datree (`datree version`) a

[2022-05-13 17:17] HariSekhon commented on #618
I'm using datree 1.4.10 on macOS and running against this latest master checkout:

https://github.com/HariSekhon/Kubernetes-configs

[code]

[2022-05-14 07:00] eyarz commented on #618
🤔 interesting.
I'm still not able to reproduce (also running now on macOS):
<img width="853" alt="image" src="https://user-images.githubusercontent.com/19731161/168414658-8bb5ae1b-3280-4ab9-a573-9b25a5381291.png">
<img width="849" alt="image" src="https://user-images.githubusercontent.com/19731161/168414680-bcaae3b3-0ce7-4dd8-9439-6de41de2898a.png">

I don't think this is the case, but just to ver

[2022-05-14 23:00] naorpeled commented on #385
Hey @noaabarki,
didn't have much time to work on this task in the past few weeks :(

Wanted to get it done within the day that I was assigned but got a bit stuck,
will try to get it done this week.

[2022-05-15 07:34] shmuelsa commented on #620
Hey!
Our app context has an internal package that detects very early if we're running in a CI ('CiContext').
we can rely on it in the initialization of the spinner base.
@adifay maybe one of the community can help us with that

[2022-05-15 10:29] eyarz commented on #620
✅ To keep everyone in sync, the task definition is to detect when Datree is running in CI and disable the spinner.

⚠️ This task is NOT about detecting when Datree is running in CI and running Datree in simple mode (`--output simple`)

[2022-05-15 10:30] eyarz commented on #617
done.

[2022-05-15 10:30] #617 closed, assigned to nobody

[2022-05-15 12:48] hadar-co commented on #542
Done.

[2022-05-15 12:48] #542 closed, assigned to hadar-co

[2022-05-15 12:49] hadar-co commented on #544
Done.

[2022-05-15 12:49] #544 closed, assigned to nobody

[2022-05-16 12:55] #519 closed, assigned to Abhra303

[2022-05-16 17:41] amustaque97 opened #625 "Use new version of Ubuntu in Travis CI"
I was working on PR: #593 and while Github actions was running. I noticed we are using a very old version of Ubuntu as build distribution i.e. `Trusty` https://app.travis-ci.com/github/datreeio/datree/builds/250711087#L9

I checked Travis CI documentation, latest version available is [Focal](https://docs.travis-ci.com/user/reference/focal/). We should use `dist: focal` in code here: https://github

[2022-05-17 08:47] #586 closed, assigned to nobody

[2022-05-18 14:04] HariSekhon opened #633 "JSON Patch format YAML files - yaml validation error: yaml: unmarshal errors: cannot unmarshal !!seq into map[string]interface {}"
**Describe the bug**

JSON Patch yaml files cause the following error:

[code]

**To Reproduce**
[code]

Live example can be seen here in my GitHub Actions run:

https://github.com/HariSekhon/Kubernetes-configs/runs/6490327637?check_suite_focus=true#step:5:15

**Expected behavior**

Expected to handle json patches for k8s, or ignore them.

**Datree version (run `datree version`):**

Latest in GitH

[2022-05-18 14:49] dorongutman opened #634 "Installing the helm plugin on an M1 macbook installs the x86 version instead of the ARM one"
**Describe the bug**
Installing the helm plugin on an M1 macbook installs the x86 version instead of the ARM one

**To Reproduce**
Steps to reproduce the behavior:
1. Run command `helm plugin install https://github.com/datreeio/helm-datree`
2. See the following:
[code]
3. Notice file name is datree-cli_1.4.22_Darwin_x86_64.zip and not datree-cli_1.4.22_Darwin_arm64.zip

**Expected behavior**
I exp

[2022-05-19 10:26] adifayer commented on #633
@HariSekhon
Regarding the unmarshal error, we will look into it and handle it.
Moreover, I'm curious if you're using the kustomize patch mechanism. If this is the case- we officially support Kustomize, and it requires you to use a [different test command](https://hub.datree.io/integrations/kustomize-support).

[2022-05-19 10:38] myishay commented on #634
@dorongutman We have merged a fix now. Can you please check if it works on your end?

[2022-05-19 11:26] dorongutman commented on #634
@myishay I ran `helm plugin update datree` and indeed it updated to the arm version correctly:
[code]

Thank you!
Closing.

[2022-05-19 11:26] #634 closed, assigned to myishay

[2022-05-20 10:24] HariSekhon commented on #618
I upgraded to the latest 1.4.26 and it still occurs:
[code]

[2022-05-20 10:33] HariSekhon commented on #633
Yes these are kustomize patches using the standard JSON Patch construct.

However, since this repo is full of regular independent k8s manifests as well as some Kustomization files, it would be good if Datree could determine / ignore the different formats appropriately, at least for each command.

[2022-05-20 10:37] HariSekhon opened #636 "'datree kustomize test' is getting false positive error - Incorrect value for key `replicas`"
**Describe the bug**
Getting an error complaining about incorrect value for replicas key when it is set to 3

**To Reproduce**

[code]

**Expected behavior**
Expected it to pass

**Desktop (please complete the following information):**
 - OS: macOS

**Datree version (run `datree version`):**
 - Version: 1.4.26

[2022-05-20 10:38] HariSekhon commented on #636
Moving the comment suffix to another line made no difference either, and either way it should strip comments before processing (I do this in my code a lot).

[2022-05-21 06:38] eyarz commented on #636
I wonder if the issue is with how we build the manifest with Kustomize or in the (replica) rule logic...

Can you try and run `grep replicas:` against the temp file that is created by datree?
The path for this file is printed before the yaml validation check (e.g. `../../../../var/folders/30/kxjrq3fj5tqdhsvbj3p9m2fh0000gq/T/datree_kustomize_289484019.yaml`)

[2022-05-22 08:01] eyarz commented on #633
if you want to skip "none-k8s" files, you can use the flag `--only-k8s-files`:
[code]

[2022-05-22 08:04] eyarz opened #638 "support schema validation in offline mode"
**Is your feature request related to a problem? Please describe.**
When running datree in offline mode, it skips the K8s schema check by default.
If I want to use the `--schema-location` flag to enable it locally, the flag is ignored.

**Describe the solution you'd like**
Support passing the `--schema-location` flag to datree in offline mode

**Describe alternatives you've considered**
not validat

[2022-05-22 09:02] eyarz commented on #618
is this happening when running in github actions?
are you able to reproduce it locally?

[2022-05-22 10:45] #574 closed, assigned to amustaque97

[2022-05-22 15:11] #625 closed, assigned to nobody

[2022-05-22 15:16] eyarz commented on #616
@hadar-co did some research for the person that will take this task:

SARIF is is an industry-standard format for the output of static analysis tools. It is based on JSON and has its own specifications/schema. It seems that this format is gaining traction, and many tools already provide support for it. Github provides an action that uploads a SARIF file and displays it under the “Security” tab of

[2022-05-22 16:52] eyarz commented on #619
docs are ready :)
https://hub.datree.io/setup/offline-mode

[2022-05-22 16:52] #619 closed, assigned to nobody

[2022-05-22 17:57] HariSekhon commented on #636
I ran the `grep replicas:` against the temp file immediately after a new run but the temp file was already gone and I can't see a switch to retain it:

[code]

[2022-05-22 18:00] HariSekhon commented on #633
I already use `--only-k8s-files` in my CI workflow anyway, and was debugging the problem which occurred there, but just to confirm again:

[code]

[2022-05-22 18:01] HariSekhon commented on #618
Yes this happened in GitHub Actions originally, which is why I then reproduced it locally for this ticket.

I've actually reproduced this on 2 different versions of macOS.

I tried this on Ubuntu 20.04 in Docker for comparison and sort of that works, although the spinner goes up the screen:

[code]

A copy paste of the WWWW lines isn't rendering the rest of them in the code block so I've taken the

[2022-05-22 18:19] HariSekhon commented on #618
It looks like the latest version of datree and action-datree does work with `**.yaml` on GitHub Actions now.

But the latest version still fails with `**.yaml` on Mac as you can see above.

[2022-05-23 19:45] adifayer commented on #382
@Kanika637 Are you still working on this issue, or can we reassign it?😊

[2022-05-23 19:49] #536 closed, assigned to shmuelsa

[2022-05-24 08:49] eyarz commented on #616
The action will also need to use the codeql action to upload the SARIF file:
[code]

[2022-05-24 09:51] OmriBromberg opened #640 "JUnit output not working with CircleCI expanded insights"
Steps to reproduce:
1. add a "run datree" step to a circleci job as follows (in our case its to verify against argo templates):
[code]

2. add "store_test_results" step as follows:
[code]

expected: seeing test results in `tests` in CircleCI
actually: ![image](https://user-images.githubusercontent.com/2093542/170000492-d75d46a2-46c0-4297-a2ce-40569d5aa857.png)

this guide from CircleCI was used to

[2022-05-24 10:59] alexfedin commented on #640
Thanks for submitting the issue 🙏 , we are looking into it

[2022-05-24 12:45] #638 closed, assigned to royhadad

[2022-05-24 14:28] raphaelehret opened #642 "datree requires policy-as-code mode to be enabled even in offline mode"
When running tests in offline mode with a policy file specified, datree still asks to be logged in and have policy-as-code mode enabled, which conflicts with the offline mode use-case

**Steps to reproduce the behavior:**
Activate offline mode, then try to run a test with policy config specified
[code]

**Expected behavior**
Test runs with policies specifed in the `policies.yaml` file, as specifie

[2022-05-24 14:52] eyarz commented on #642
I'm not able to reproduce the bug :/
![image](https://user-images.githubusercontent.com/19731161/170065064-e36312e9-b062-4517-b166-eb76e07db8a0.png)

if you enable policy as code mode from your dashboard and run this:
[code]
will datree perform the schema validation check?
![image](https://user-images.githubusercontent.com/19731161/170065750-1b294101-30af-4d2e-809f-19ae1e363cab.png)

[2022-05-24 15:48] alexfedin commented on #640
@OmriBromberg we found the issue, a fix will be coming soon.

btw, the issue is when all tests are passing the junit output is missing testcase tags so CircleCI doesn't see that any tests were run and shows 0.
if the tests are failing it works as expected

![Screen Shot 2022-05-24 at 18 47 47](https://user-images.githubusercontent.com/8144227/170078090-f552afd6-2be7-41d5-a36f-47edec07f13a.png)

[2022-05-25 07:37] raphaelehret commented on #642
[code]

Yes, it does work, and I also figured out another behavior.
If I try offline mode **with my internet disabled**, datree will use my local policy. However if I try offline mode **with my internet enabled**, datree will ask for polices-as-code to be enabled.

So as of right now, offline mode isn't actually offline unless you have your internet disabled. Is this desired behavior? From my unde

[2022-05-25 08:23] eyarz commented on #642
@raphaelehret this is actually the expected behavior.
may I ask what is the use case that you have that requires you to run datree in offline mode although you have an internet connection?

[2022-05-25 10:02] raphaelehret commented on #642
We want to locally manage our policy files on our gitlab repository, as we do with pretty much all the configuration we use for our CIs, builds, etc.

As such, we would like to use the `--policy-config` option to use local policies files, and didn't see a point on "logging in" to your backend when we are not using any of its functionnalities. We try to limit our outgoing traffic as much as possibl

[2022-05-25 11:14] eyarz commented on #642
interesting.
take in mind that if you're using the offline mode, you will lose a lot of capabilities like schema validation, new built-in policies, and more...

is there a specific reason that you prefer to use the `--policy-config` flag over pulling your policy from your centralized policy registry (aka dashboard)?

in this case, you can also use the `--no-record` flag.
this way, you will enjoy t

[2022-05-25 11:55] raphaelehret commented on #642
Yes, we wish to manage and keep our configurations locally, just as we do with other configurations. I understand that we could publish it to the centralized repo, but we would really rather host it ourselves and only rely on our infrastructure

We understand the restrictions offline mode brings, and would still like to use it.
If you don't intend to change the behavior, feel free to close this is

[2022-05-25 12:19] eyarz commented on #642
when we designed this feature, we were not aware of this use case because the users that helped us define this were all working in air-gapped environments 😅

this behavior can be changed in the future, but I think the best workaround for your use case will be the enable the policy-as-code mode (once) and use the `--no-record` flag.

I will go ahead and close this issue.

[2022-05-25 12:19] #642 closed, assigned to nobody

[2022-05-25 17:33] Kanika637 commented on #382
Hey @adifay, actually I could not get hold of the issue. You can reassign it, sorry for the inconvenience.

[2022-05-26 08:11] hadar-co commented on #404
assigning to @naorpeled

[2022-05-26 08:20] naorpeled commented on #404
😎

[2022-05-26 12:17] eyarz commented on #618
we tried to reproduce this on several MacOS machines w/o a success.
I will close this issue as `won't fix` for now.

[2022-05-26 14:02] HariSekhon commented on #618
Ok, the latest github action works so that's good enough for now...

[2022-05-26 14:53] #640 closed, assigned to royhadad

[2022-05-26 15:35] royhadad commented on #640
@OmriBromberg
fixed in the latest release (1.4.32), now the JUnit output also includes files that pass the policy check

![Screen Shot 2022-05-26 at 18 33 40](https://user-images.githubusercontent.com/39004075/170521920-568ff0cc-ea3b-45a9-9b5b-c119fbc2c542.png)

[2022-05-27 11:30] BlythMeister opened #646 "Support UTF-8 Character Set Only"
When running datree as part of our pipeline with Octopus deploy our output prints as follows:

![image](https://user-images.githubusercontent.com/1046836/170690959-091ebd7e-252d-4730-82eb-5080fcaa6d5e.png)

the same output in a command window on the machine is as follows:

![image](https://user-images.githubusercontent.com/1046836/170691347-8ae13265-f173-4f99-a4dc-3d04ff929634.png)

It would appea

[2022-05-28 07:16] eyarz commented on #646
Those quotation marks (`”`) are sneaky! I didn't notice it's not the regular ones (`"`)...
@BlythMeister which image/OS you're running on your Octopus deploy machine?
Is this happening with or w/o the `--output simple` flag?

[2022-05-28 07:19] BlythMeister commented on #646
It's windows server 2019 and yes it's with simple mode.

The dash seems to be a double length dash too

I've got no idea what's up with the table though

[2022-05-29 08:54] hadar-co opened #647 "Write policy check results to local log file"
Background:
1. Github provides an option to [add a job summary within workflows](https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#adding-a-job-summary) for a nice stylized output. We would like to implement this within our github action.
2. Writing policy check results to a log file will allow us to understand and debug issues more easily.

Solution:
Each "da

[2022-05-30 08:17] BlythMeister opened #649 "Support "Soft" failure"
When running checks, have a way to set a rule as a soft failure rule.

This will flag as a warning in the output, but will be identifyable.

The result being you can check the exit code and tell if it ran with all success, soft warnings only, hard failures.

Soft failure would for example allow pipeline to proceed as it's more a warning "you might want to set this up"

[2022-05-30 13:59] Ben-Zaad commented on #636
@HariSekhon hey I’m Ben from Datree’s Dev team,
just wanted to let you know that we are taking care of this bug,
and it’ll be fixed within the next few days 😄

[2022-05-30 15:03] BlythMeister commented on #646
@myishay i had started working on this before you were assigned.
i raised a PR with updates to the characters used which should resolve these issues.

The changes are to use UTF-8 safe characters, rather than Unicode characters.
Also, it seems that the table creation code which is brought in doesn't handle the colour being `Reset` so i've changed it to just do a plain append row when output is `Si

[2022-05-30 22:07] myishay commented on #646
@BlythMeister Thank you for your contribution!
We will review it as soon as possible. Let's continue the discussion in the PR's comments

[2022-05-31 08:18] shmuelsa commented on #633
Hey @HariSekhon,
fyi the issue was fixed in PR #644 and will be released shortly

cheers!

[2022-05-31 08:18] #633 closed, assigned to shmuelsa

[2022-05-31 12:13] eyarz commented on #649
🤔
@BlythMeister but if I set soft fail and my CI will not fail, how will know there is a failure to check/fix?
BTW, we do support [rule skipping](https://hub.datree.io/setup/policy-customization#rule-skipping) on files.

[2022-05-31 12:16] BlythMeister commented on #649
For our use case, we report on warnings and have a threshold of warnings.
So X number of warnings causes an error.

[2022-05-31 12:20] eyarz commented on #649
This is an interesting use case!
So maybe the `enhancement` should be to create a "warning scoring" (place holder name 😅) mechanism that if passed a threshold, will raise an exit code?

[2022-05-31 15:03] dimabru commented on #636
Hi @HariSekhon,
This looks like a bug in kustomize.
I clone the repo `https://github.com/HariSekhon/Kubernetes-configs`
and ran the following:
`kustomize build Kubernetes-configs > out.yaml`

the content of the file `out.yaml` can be found [here](https://pastebin.com/SGutgbrj)
notice line 52 (`replicas: 1`) that does not exist in the original `deployment.yaml` file

Since `datree` is running `kuso

[2022-05-31 15:36] HariSekhon commented on #636
Debugging the `kustomize build` output has exposed the cause - the replicas in the `out.yaml` was indeed set to 1 due to being overridden by a patch.

I've tweaked the patch to 2 to avoid the policy warning which is genuine.

Let's close this, it's a feature not a bug, my apologies.

[2022-05-31 15:36] #636 closed, assigned to nobody

[2022-05-31 15:59] BlythMeister commented on #649
I do wonder if the rules could just be silenced for a specific project.
For example if one particular deployment doesn't need a specific label we could just say that it is an ignored rule.

That then means we won't have the failures.

I actually think my usecase is less important 🤣

[2022-05-31 18:36] eyarz commented on #649
I think that explicitly ignoring a rule in a specific project is much better than a warning.
from my experience, no one ever fixes a build if it doesn't break.
this is why we are "missing" this capability 😉

[2022-05-31 18:48] BlythMeister commented on #649
Agreed.  Happy to close this issue as "not-required" 👍

[2022-05-31 18:48] #649 closed, assigned to nobody

[2022-06-06 14:41] carvido1 opened #668 "Bug when parsing yaml"
**Describe the bug**

A bug was introduced on the [release 1.4.37](https://github.com/datreeio/datree/releases/tag/1.4.37). It seems the extractor component was changed on this release.

This is an error example

[code]

**To Reproduce**

The ingress-nginx helm chart templates can be used as example to reproduce the bug:

Execute the following command using datree 1.4.37

[code]

**Expected behavi

[2022-06-06 15:47] myishay commented on #668
@carvido1 I see the bug on our side, it is indeed due to the changes in version 1.4.37.
I will create a fix soon

[2022-06-06 15:58] #668 closed, assigned to myishay

[2022-06-06 16:46] myishay commented on #668
Fix released  in https://github.com/datreeio/datree/releases/tag/1.5.2
@carvido1 thanks for the detailed report!

[2022-06-09 10:40] BlythMeister opened #675 "Race Condition On Publish Config As Code"
**Describe the bug**
If during the publish operation another task/build/deploy runs a check it gets a policy with 0 enabled rules.
This happens if you have a shared policy used by multiple different systems

**To Reproduce**
Steps to reproduce the behavior:
1. Run command 'publish  yamlFile.yaml' & 'test' at the exact same time
2. The test will have no rules

**Expected behavior**
Blocking/Use pre

[2022-06-09 12:00] l2D opened #676 "Severity level badge on policies UI"
**Is your feature request related to a problem? Please describe.**
- I don't know which policy is in what severity.

**Describe the solution you'd like**
- Add severity badge after info badge.
e.g.
![2022-06-09_18-56-15_CjiFFo8j](https://user-images.githubusercontent.com/20911264/172841701-088d05a2-2f2e-4a53-8f96-186c44b6ddee.png)

**Describe alternatives you've considered**
- Add a column for sev

[2022-06-09 13:02] eyarz commented on #676
@l2D that is a good idea, but I think the challenge is to agree what will be the logic of deciding about the severity level.
With the CVE, it is easy because MIRTE already curates them, but what about the rest?
For example,  the rule [ensure each container image has a digest tag](https://hub.datree.io/built-in-rules/ensure-digest-tag) - is the severity high or medium? maybe it's low? 🤷‍♂️ IDK
and

[2022-06-09 14:07] #646 closed, assigned to myishay

[2022-06-10 14:37] mkarjun opened #679 "Installation error"
I'm new to Datree and k8s ,trying to learn, while trying to install to Datree after the step `iwr -useb https://get.datree.io/windows_install.ps1 | iex` it doesnt seems to install .

**- **After Installation [it is Write-Host part]****

 `Installing Datree...

[V] Downloaded Datree
[V] Finished Installation

To run datree globally, please follow these steps:

    1. Run the following command as ad

[2022-06-11 16:50] l2D commented on #676
@eyarz, I agree with you. My point is just wanting some things to tell me to consider which I should enable or just optional.

[2022-06-12 07:19] eyarz commented on #679
@mkarjun did you follow the two steps?

[2022-06-12 07:57] mkarjun commented on #679
@eyarz yes I did follow that step,still it was the same error.
Is it because any configuration i should do in windows side?

By following the steps I was able to install datree in Docker and vm.

[2022-06-12 08:01] eyarz commented on #679
🤔
let's continue this support issue [on slack](https://bit.ly/3BHwCEG).
you can PM me directly and I will help you :)

[2022-06-12 08:19] mkarjun commented on #679
Thanks @eyarz  : )

[2022-06-12 09:06] myishay opened #680 "Replace colors rendering package for better Windows support"
**Is your feature request related to a problem? Please describe.**
Colors printing in Windows are being printed with strange charactest like this for example:
![Screen Shot 2022-06-12 at 12 02 18](https://user-images.githubusercontent.com/22665577/173225685-596ebd06-e85a-41e0-b935-7c53eb5a3b7c.png)

**Describe the solution you'd like**
Currently we are using https://github.com/fatih/color for colo

[2022-06-12 10:02] mkarjun commented on #679
Thanks for your help @eyarz  : ) ,it worked by setting environment variable path through GUI .
closing the issue.

[2022-06-12 10:02] #679 closed, assigned to nobody

[2022-06-12 10:35] myishay commented on #680
I found the reason why the color support in Windows had a regression and added a fix here: https://github.com/datreeio/datree/pull/681

I still think it would be better using [gchalk](https://github.com/jwalton/gchalk) since it will make the use of a special output when printing redundant

[2022-06-12 15:43] myishay commented on #675
Hey @BlythMeister !

I didn't manage to reproduce this yet to be honest. Is this happening constantly?

[2022-06-12 16:24] BlythMeister commented on #675
No, I've only seen it once.
It was as though one deployment conflicted with another.

With 1 uploading the policy at the exact same time as another was running.

On the server side when policies are updated and downloaded, if there potential for a race condition there?

I'm not sure if the server side code is open or closed source.

[2022-06-12 16:49] myishay commented on #675
The server side is indeed closed source. In a quick look I didn't find any potential race condition but I will have a closer look and let you know.

[2022-06-13 15:12] myishay commented on #675
I took a closer look and didn't find any potential race condition to be honest, and with no possible steps to reproduce it will be extremely hard to trace this, so I'll close this issue for now.

@BlythMeister you can reopen this issue with further information if you manage to reproduce. Thanks again!

[2022-06-13 15:12] #675 closed, assigned to nobody

[2022-06-13 15:26] eyarz commented on #125
[Lens Extension](https://api-docs.k8slens.dev/v5.5.4/)

[2022-06-14 12:06] Pickacho opened #686 "VS extension (Date version : 1.5.9) won't produce proper report on ubuntu22.04 vs code version 1.68"
**Describe the bug**
After running "Run analysis" I get pop-up windows from vs-code which show the the following out put:
_"{"policyValidationResults":null,"policySummary":{"policyName":"Default","totalRulesInPolicy":21,"totalSkippedRules":0,"totalRulesFailed":0,"totalPassedCount":21},"evaluationSummary":{"configsCount":1,"filesCount":1,"passedYamlValidationCount":1,"k8sValidation":"1/1","passedPo

[2022-06-14 12:26] adifayer commented on #686
@Pickacho As an open-source, datree has multiple integrations created by the community which aren't supported by our team. this is one of them :)

Here's a link to the extension repository - https://github.com/SuyashSonawane/vscode-datree (@SuyashSonawane is the maintainer of this repo)

[2022-06-15 14:24] eyarz opened #688 "Update the architecture image"
**Is your feature request related to a problem? Please describe.**
Now that Datree is also supporting a webhook admission controller we need

**Describe the solution you'd like**
Update the architecture image

**Additional context**
https://github.com/datreeio/datree/blob/main/images/datree_architecture_light.png

[2022-06-16 11:59] naorpeled commented on #404
The orb is ready to be used :)
https://github.com/naorpeled/datree-circleci-orb

[2022-06-16 12:04] hadar-co commented on #404
Awesome! Thanks @naorpeled :)

[2022-06-19 14:24] Pickacho commented on #686
Thank you @adifay :)

[2022-06-19 14:24] #686 closed, assigned to nobody

[2022-06-22 11:05] eyarz commented on #676
we identified that the problem is that when a new user sees the dashboard for the first time, it's hard to understand which of the rules he should enable/disable.

Therefore, we will create an automated way for users the generate relevant policies based on their own needs.

[2022-06-22 13:42] hivl opened #691 "GitLab CI "datree kustomize test ..." --no-record flag is not working"
**Describe the bug**
I'm trying to run datree in gitlab ci job to check kustomize manifest with cliArgument '--no-record' and it is not working

**To Reproduce**
Steps to reproduce the behavior:
create gitlab-ci.yaml and try to run 'datree kustomize test /path/ --no-records

![datree](https://user-images.githubusercontent.com/1629464/175043122-b891d2f3-ebdb-42ca-9f57-3e804153f168.png)

[2022-06-22 14:14] eyarz commented on #691
Also reproduces in my environment:
![image](https://user-images.githubusercontent.com/19731161/175049534-4cf183ce-3496-4abb-885f-4ee9d8329d95.png)
For the person that is taking this ticket - it is working as expected when not using `kustomize`.

@hivl this bug will be fixed soon, but FYI, not setting the token in your CI will also not connect it to **your policy**, which means you will always use

[2022-06-22 16:50] #404 closed, assigned to naorpeled

[2022-06-22 16:51] eyarz commented on #264
@dimabru is this issue still relevant?

[2022-06-22 16:52] eyarz commented on #388
@hadar-co can we close this?

[2022-06-22 16:54] eyarz commented on #256
Katacoda.com is now closed so I'm closing this ticket.

[2022-06-22 16:54] #256 closed, assigned to nobody

[2022-06-22 17:50] #388 closed, assigned to avinashupadhya99

[2022-06-23 05:34] eyarz commented on #688
@noaabarki any update on this?

[2022-06-23 14:01] royhadad commented on #691
fixed in the latest release (1.5.17)

[2022-06-23 14:01] #691 closed, assigned to nobody

[2022-06-27 10:53] royhadad opened #697 "Bump cobra version to 1.5.0"
**Is your feature request related to a problem? Please describe.**
The new version of the Cobra package has some cool features, which can be handy.

**Describe the solution you'd like**
Bump the version to 1.5.0, and make sure nothing got broken in the process.

**Additional context**
I tried using the `command.SetContext()` method (from the docs), apparently it's available only in version 1.5.0

[2022-06-28 10:29] vaibhav-fx commented on #618
the latest github action was breaking for me. I had to change it to
[code]

[2022-06-28 11:57] adifayer opened #700 "Support offline mode within datree docker image"
**Describe the solution you'd like**
Provide a solution for running datree in offline mode within Datree's docker image

[2022-06-28 12:31] adifayer commented on #618
@vaibhav-fx
Few questions to be able to drilldown the issue-
When you say breaking, what do you mean? Did you get the same error? Please provide a screenshot :)

[2022-06-28 15:21] itaispiegel opened #702 "Datree not working in our Air-Gapped environment"
**Describe the bug**
We're trying to integrate Datree (version 1.5.20) in our Air-Gapped development cycle, and unfortunately it doesn't work due to a certificate issue.
I of course ran `datree config set offline local`, and I'm still getting a certificate issue when trying to validate https://gateway.datree.io.
First of all - why is it trying to access the external host if I configured it to work

[2022-06-28 15:28] afirth opened #703 "Rule "Prevent ConfigMap security vulnerability (CVE-2021-25742)" is incorrect"
**Describe the bug**
The [default rule #31](https://github.com/datreeio/datree/blob/f1f0e61f75d633b64a0018da410d106de87cec79/pkg/defaultRules/defaultRules.yaml#L788) is incorrect. It suggests to add this value to _all_ configmaps, but actually this value is only valid in the context of an ingress-nginx deployment.

**To Reproduce**
Steps to reproduce the behavior:
https://www.datree.io/helm-chart/

[2022-06-28 21:05] eyarz commented on #703
@afirth I looked at the rule logic and you're right, it's targeting any K8s object with the kind `ConfigMap` and not just `ConfigMap` that is **targeting Nginx**.

To fix this false-positive result, we need to filter out ConfigMaps that are not targeting Nginx. From looking around, I was not able to find a property in the ConfigMap that can indicate that.

Do you have any suggestions on how to do

[2022-06-28 21:56] afirth commented on #703
Not really, beside the name. And this is really only a valid CVE if you run a multi tenant cluster with a non-namespaced nginx. The configmap is almost always called `ingress-nginx-controller` though. Personally I would remove the rule from the linter entirely - it _only_ applies to ingress-nginx's configuration, not other chart's configurations.

[2022-06-29 13:43] hadar-co commented on #618
I tested locally and was able to reproduce. It seems that using **/*.yaml only looks 1 level down in the dir structure, so files that are deeper down than that will not be tested. Reopening the issue

[2022-06-30 06:57] romanlab commented on #618
@hadar-co can you test it with `**.yaml` ? It seems that there's a behavior that when a `/` is present it limits the recursion to only the directory and its direct subdirectories

[2022-06-30 07:15] hadar-co commented on #618
@romanlab tested, still the same result.

[2022-06-30 07:29] vaibhav-fx commented on #618
there is also something funny basis on the path and recursive `/` which are given to it
this is my structure
[code]

when I run `datree test **/*.yaml`
[code]

when I run `datree test **/**/*.yaml`
[code]

when I run `**/**/**/*.yaml` I get
[code]

the recursive digging into the files and number of validations reported increases, but the number of files are always same

[2022-06-30 07:30] vaibhav-fx commented on #618
also the problem I had with `**/*.yaml` was with github actions. In my local `**/*.yaml` works fine

[2022-06-30 07:41] hadar-co commented on #618
After further investigation, it seems that the issue is with the shell being used. Bash does not support recursive globs, while zsh and others do.
@vaibhav-fx
In your local environment - are you using zsh or some other shell?

[2022-06-30 07:48] vaibhav-fx commented on #618
@hadar-co
I use `zsh` in my local. the github actions is based on an ubuntu image, so I guess `bash` there

[2022-06-30 10:27] HariSekhon commented on #618
If `'**/*.yaml'` is passed to datree in single quotes, can't datree do the recursion in code to avoid any shell environment issue?

[2022-06-30 14:14] hadar-co opened #704 "The --only-k8s-files flag is not working properly"
When using "--only-k8s-files" the relevant files are indeed ignored but they are still counted in the summary.

**Steps to reproduce the behavior:**
1. Put a non-k8s yaml in a directory.
2. cd into that directory, then run "datree test *.yaml --only-k8s-files"
3. The file will not be tested but will still appear in the summary (0/1)

**Expected behavior**
Files that are not tested should not appea

[2022-06-30 14:32] shalev007 commented on #702
Hey @itaispiegel,
the `offline` configuration only applies to what happens when there's no internet connection,
for example:
`offline: error` - will throw an error when no connection is established
`offline: local` - will run datree as specified in the documentation [link to doc](https://hub.datree.io/setup/offline-mode
)

regardless we still consider it as a bug since you actually have an air-gap

[2022-06-30 14:56] itaispiegel commented on #702
Great! :)

[2022-06-30 16:37] itaispiegel commented on #702
By the way, it might be important to note that in our network, we configured the ingress controller to operate on the wildcard *.io, which is exactly the DNS zone of your server.
Perhaps the bug is caused because this host is resolved to an IP in our environment?

[2022-07-03 13:53] hadar-co commented on #618
Starting with bash version 4, a new [command](https://www.gnu.org/software/bash/manual/html_node/The-Shopt-Builtin.html) was introduced that allows recursive globbing.

The github action has been fixed using this command, and now it fully supports recursive globbing.

When using the CLI locally:
- recursive globbing will work with zsh
- recursive globbing will work with bash version 4 and up, with

[2022-07-03 15:48] amustaque97 commented on #704
Hi @hadar-co, I couldn't understand the problem statement correctly.  According to me, the non-k8 file should also come as a part of the summary because the summary should show all the details even the non-k8 file. Generally summary should include both positive and negative details.

![Screenshot 2022-07-03 at 9 09 53 PM](https://user-images.githubusercontent.com/21127788/177047010-6eef6d30-eadd-4

[2022-07-03 20:01] eyarz commented on #618
@hadar-co so if you updated the docs and fixed action, can we close this issue?

[2022-07-03 20:44] hadar-co commented on #618
Yes, closing

[2022-07-03 20:44] #618 closed, assigned to nobody

[2022-07-03 20:51] hadar-co commented on #704
Hi @amustaque97, thanks for the detailed response:)
Both approaches are valid, however we discussed it and decided to exclude non-k8s files from the summary, for 2 reasons:
1. By using the flag, the user is explicitly stating that he/she is not interested in non-k8s files for this policy check, so only yaml validation is irrelevant for them.
2. This prevents redundant data in the output and makes

[2022-07-04 08:47] myishay commented on #702
Hi @itaispiegel , we are still investigating and trying to solve this issue. I believe that this is related to the way we handle network errors in general.

[2022-07-04 15:20] #702 closed, assigned to myishay, shalev007

[2022-07-04 21:36] #697 closed, assigned to nobody

[2022-07-05 03:44] amustaque97 commented on #704
If I understand it correctly, we can remove the `Passing YAML validation` statement from the summary and its relevant changes in case of "datree test *.yaml --only-k8s-files"

Correct me if I'm wrong.

[2022-07-05 14:38] hadar-co commented on #704
I don't think we should remove the statement, because even when specifying the "--only-k8s-files" flag, k8s files can still be non-valid yamls, so we need to check for that like we always do.
We only need to ignore the non-k8s files when writing the summary, because they are not relevant to the policy check.

For example, say you're testing a folder with 2 k8s YAMLs, and 1 non-k8s YAML, currently

[2022-07-05 16:48] meain opened #709 "Text unreadable on light background"
**Describe the bug**
Some text is unreadable on white background.

**To Reproduce**
Steps to reproduce the behavior:
1. Run command 'datree test <file>'

**Expected behavior**
Readable text

**Screenshots**

![2022-07-05-22-15-03](https://user-images.githubusercontent.com/14259816/177376922-7e4dbe5b-a92d-447d-b14c-212445dde96d.png)

We have things like `(summary)` etc in there which is not visible

[2022-07-05 20:19] noaabarki commented on #688
I'm on it :)

[2022-07-05 20:34] HariSekhon commented on #618
Btw Macs are stuck with Bash version 3 due to licensing issues, so expect this to be a persisting problem for Macs running datree locally.

I suggest a feature be added to do a glob recursion in code if passed `'**'` single-quoted.

[2022-07-05 21:13] amustaque97 commented on #704
Probably I can take this up. By this weekend I will try to submit a pr. Please assign this issue to me. 🙂

[2022-07-06 07:57] myishay commented on #702
Hi @itaispiegel, we released the fix that will probably solve your issue!
you can find it in [version 1.5.25](https://github.com/datreeio/datree/releases/tag/1.5.25)
We would love to hear your feedback and see if it worked!

[2022-07-06 08:09] just-injoey commented on #434
is anyone working on this issue?

[2022-07-06 08:44] myishay commented on #709
Hi @meain, You pin pointed the place where the issue is! 🎯

The way I see it there are 2 possible solutions:
1. detect the terminal color where the CLI runs and change the theme colors according to that (don't know if it is possible, though I did manage to get the background color of my terminal using the command `\e]11;?\a`, taken from [this SO question](https://stackoverflow.com/questions/250733

[2022-07-06 08:44] adifayer commented on #434
@just-injoey Still up for grabs, would you like to take it? :)

[2022-07-06 09:11] itaispiegel commented on #702
@myishay Thanks man! Much appreciated :)

[2022-07-06 12:39] myishay commented on #702
@itaispiegel My pleasure! Did it work?

[2022-07-06 17:38] meain commented on #709
I was not aware of something like that. I am not sure how the support is though, I tried it out it two terminal emulators (sakura, gnome-terminal) and neither of them gave me a response back. Even if they did, I think computing if we should use light or dark might still be messy.

This sounds like a good option IMO. Also, most terminal emulators enable something like "use bright colors for bold te

[2022-07-07 06:13] itaispiegel commented on #702
@myishay My teammates are currently on this, so I'll let you know once they update me :)

[2022-07-07 13:20] eyarz commented on #618
@HariSekhon thank you for this insight!
We think it should be handled by the user (use Bash 4 or zsh) and not by the CLI (code).

We added this info to our docs:
![image](https://user-images.githubusercontent.com/19731161/177783652-212f6274-d5b3-497d-8aef-31f69986a3c7.png)

[2022-07-07 13:39] eyarz commented on #688
https://github.com/datreeio/datree/pull/710

[2022-07-07 13:39] #688 closed, assigned to noaabarki

[2022-07-07 15:04] HariSekhon commented on #618
I can appreciate not wanting to complicate the code by adding this logic.

Perhaps add a workaround note for people using older versions of Bash on Mac or even Bourne shells that they can achieve a similar effect using a workaround like this:

[code]

[2022-07-07 15:46] myishay commented on #709
Sounds good, go for it!

[2022-07-10 06:14] eyarz commented on #703
@afirth [this PR](https://github.com/datreeio/datree/pull/708) will fix the false-positive from this rule.
Once the PR is merged and released, we will update the Helm chart DB with the new policy checks result.

[2022-07-10 11:36] #703 closed, assigned to nobody

[2022-07-10 11:51] #709 closed, assigned to meain

[2022-07-10 12:22] hadar-co commented on #618
@HariSekhon Thanks for the note, we added this workaround to the docs:)

[2022-07-10 14:29] shimont opened #714 "Verbose by default"
**Describe the solution you'd like**
I would like to see the "How to Fix" link for every failed rule.

**Describe alternatives you've considered**
Altering every datree run to include the --verbose flag

[2022-07-10 15:33] eyarz commented on #714
We thought about that.
The conclusion is the only way to do that will be to change the CLI behavior as follow - **after signing up**, the user will get the `verbose` flag by default.

The problem is that from the user perspective, this can be unclear why the default behavior of `verbose` got changed.
@adifay WDYT?

[2022-07-11 20:37] itaispiegel commented on #702
Hey, sorry for updating you only now.
It's working. Thanks again :)

[2022-07-11 20:38] myishay commented on #702
No worries, thanks for the update!

[2022-07-12 08:51] hadar-co opened #717 "Disable CLI spinner in CI"
In github actions and other CI platforms, the "Loading..." spinner is displayed poorly in the output:
![Screen Shot 2022-07-12 at 11 49 07](https://user-images.githubusercontent.com/96784606/178450341-4a6a9599-f2d2-4965-933f-4ddc808ce078.png)

**Describe the solution you'd like**
When running in CI - disable the spinner entirely.

**Describe alternatives you've considered**
When running in CI - us

[2022-07-12 18:45] eyarz commented on #717
duplicate https://github.com/datreeio/datree/issues/620

[2022-07-12 18:45] #717 closed, assigned to nobody

[2022-07-12 19:35] eyarz opened #718 "print informative message when trying to use `datree kustomize` with glob pattern"
**Describe the solution you'd like**
pass an informative message to the user when trying to use glob pattern with `datree kustomize`

**Describe alternatives you've considered**
Stay confused (as a user)

**Additional context**
https://github.com/datreeio/action-datree/issues/8

[2022-07-14 09:32] adifayer commented on #714
In order to prevent the confusion, I suggest to provide an option to control whether verbose should be included by default in each datree run (via the dashboard and the CLI). @eyarz WDYT? 🤗

[2022-07-14 11:46] #704 closed, assigned to amustaque97

[2022-07-14 12:31] matteotumiati opened #722 "History with custom metadata and filtering for enterprise customers"
**Is your feature request related to a problem? Please describe.**
Looking at the history, I think there could be improvements to support the enterprise scenario.

I currently have a customer that has roughly 200 repositories (each one representing a microservice and with - at least - an Helm chart). I created a workflow to scan with datree, but the thing is I don't see any metadata to create comp

[2022-07-14 13:05] #620 closed, assigned to shmu3l

[2022-07-14 13:29] eyarz commented on #714
I like the idea.
The user should decide the behavior (verbose on/off), but we can make it easier to change the default behavior via the dashboard or the config file.
@shimont will this concept answer the need you described in your issue?

[2022-07-14 14:23] adifayer commented on #722
Thanks for your feedback, you raised great points and I totally see the value of each :)
Regarding history export- what exactly do you expect to export? a copy of the content presented in the dashboard? or perhaps a copy of the CLI output with a specific format (json/yaml/etc.)?

[2022-07-14 14:46] matteotumiati commented on #722
I would say it depends on what I need to export 😄

In my scenario, I have:
- Multiple products, being develop by different teams
- Each team has multiple repositories with multiple Kubernetes files to be scanned

Exporting could be more or less detailed and showing different data depending on the level I'm interested in.

For example:
- At single repository level, probably I'm a developer/security

[2022-07-15 08:02] nielstenboom opened #723 "Argo workflow retrypolicy should not retry when error code = 1"
**Describe the bug**
There's a defaultrule that ensures that argo workflows only catches relevant errors ([code](https://github.com/datreeio/datree/blob/8915e9aacfd2f7e614382a7829ad9fccc53457e7/pkg/defaultRules/defaultRules.yaml#L1146-L1187)).

It specifically says to set the following expression in the retryPolicy of Argo Workflows:

[code]

But with this expression, it means that application exc

[2022-07-17 13:31] noaabarki commented on #723
Hey @nielstenboom! Nice to e-meet you. What an interesting question.

This rule aims to ensure we don't miss any important errors and always retry if something has gone wrong, i.e exit code not 0. Check out [our docs](https://hub.datree.io/built-in-rules/ensure-workflow-retry-policy-catches-relevant-errors-only), we explained it in more detail. I'm a little bit confused with your suggestion, doesn

[2022-07-17 15:43] eyarz opened #724 "connect the CRDs-catalog to Datree's schema validation"
**Is your feature request related to a problem? Please describe.**
Today, if I want to validate CRDs from the CRDs-catalog, I need to pass it separately:
`datree test [MANIFEST] --schema-location 'https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/{{ .Group }}/{{ .ResourceKind }}_{{ .ResourceAPIVersion }}.json'`

**Describe the solution you'd like**
run this flag (and value) by default.

[2022-07-18 08:41] nielstenboom commented on #723
Hi @noaabarki, thank you for your swift response, nice to e-meet you as well!

Let me attempt to explain what I mean with an example.

The docs on this mention the following:

"retryPolicy=Always is too much. The user only wants to retry on system-level errors (eg, the node dying or being preempted), **but not on errors occurring in user-level code since these failures indicate a bug**. In additio

[2022-07-18 08:51] nielstenboom commented on #723
Another example to illustrate my point:

[code]

This script will simulate an OOM error, I've tested it and this actually fails with a 137 exit code. And an OOM error is something you DO want to retry as opposed to a user-code bug.

![image](https://user-images.githubusercontent.com/6594531/179476677-51ff08c5-48f9-47d5-995e-54aa838eb840.png)

[2022-07-18 11:13] BlythMeister opened #725 "Corruption on simultanous calls to set config token"
**Describe the bug**
Multiple simultanious calls to set token result in a corrupt yaml file

**To Reproduce**
Steps to reproduce the behavior:
1. Run `config set token` multiple times at the exact same time.
2. Review the config file output
3. There is a chance (not garentee) of corruption

**Expected behavior**
Locking over access to write configuration to allow multi threading to not corrupt the

[2022-07-18 11:48] HariSekhon opened #726 "Ignore policy violation via inline comment annotation in yaml file"
## Problem

There are situations where you may need to locally ignore a single occurrence of a policy rule that you otherwise want applied to all other occurrences.

An example of this is a readiness probe for a product that doesn't have a healthcheck endpoint or that you need to access during bootup UI, such as TeamCity CI Server:

[code]

The YAML this was raised from contains a detailed explana

[2022-07-18 12:30] adifayer commented on #726
Hey @HariSekhon,
We support skipping rules per resource by adding an annotation to the manifest of the resource, here's a link to our docs: https://hub.datree.io/setup/policy-customization
Does that solve your problem?😊

[2022-07-18 12:38] HariSekhon commented on #726
Ah yes that should solve it thanks.

I had a look through the docs but missed that page... perhaps there should be reference to this in Centralized Policy as an override section or link?

I even googled for `datree ignore rule comment` but didn't get a hit on this.

Perhaps it needs some SEO and/or cross-doc links?

[2022-07-18 13:28] amustaque97 commented on #725
I can probably take a look at this issue if no one is working on it

[2022-07-18 13:30] HariSekhon opened #727 "Datree outage?"
Is there a Datree outage?

[code]

[code]

but still:
[code]

**Desktop (please complete the following information):**
 - OS: Mac

**Datree version (run `datree version`):**
 - Version: 1.5.30

**Client ID (`cat ~/.datree/config.yaml`):**
 - client_id: YAT7PdyxWVANePvsXQnPfK

Ful config:
[code]

(`anonymize.py` is from [here](https://github.com/HariSekhon/DevOps-Python-tools))

**Additional contex

[2022-07-18 13:53] adifayer commented on #726
@HariSekhon Interesting! I agree with you that it's worthwhile to make this page surface more.
I suspect that the issue originates in the name of that page (currently Policy customization). Maybe it will be more intuitive if the name is more specific, something like "Skip/ignore rules"?
Also, did you also run a search within the docs? and if so, do you recall what terms you searched for?

[2022-07-18 14:38] eyarz commented on #727
We had an issue with a query that got stuck while running on our DB to update **some accounts** dashboard.
We already deployed a fix, so it should work fine by now!

[2022-07-18 14:40] HariSekhon commented on #726
I didn't, as I didn't notice the search bar at the top right, but have just tried with a range of terms like `ignore`, `rule`, `ignore comment`, `ignore rule` and didn't get a hit.

Improving the page title should help get a hit on it.

[2022-07-18 14:52] HariSekhon commented on #727
Yeah it seems to work again now, I had done the recommended `datree config set offline local` as a temporary workaround and by the time I reverted it a while later with `datree config set offline fail` to check the upstream again it seemed to work normally.

I'm not sure where that revert command is documented as I still can't find it at the link below but inferred it from the original config file

[2022-07-18 15:32] eyarz commented on #727
You're right!
I opened a new issue on our docs project to document this command (`datree config set offline`).
I'm closing this issue since the bug got fixed.

[2022-07-18 15:32] #727 closed, assigned to nobody

[2022-07-18 15:49] HariSekhon opened #729 "Print rule name in CLI output needed for skip rule annotations"
When you get a policy rule violation output in the CLI or CI/CD, it would be nice if it printed the rule name needed to set an ignore - relates to #726.

This would save having to go to the dashboard, figure out which rule it is, and click the i for information to get the rule name to put into an ignore annotation.

[2022-07-18 15:55] myishay commented on #725
@amustaque97 go for it 🚀🚀

[2022-07-18 16:05] HariSekhon commented on #726
Looks like I've found a problem with the annotations based ignore approach:

[code]

Looks like not all objects can take the annotation in their spec, like this, so the rule triggers on this file but I can't ignore it:

https://github.com/HariSekhon/Kubernetes-configs/blob/master/service.nodeport.patch.yaml

I think this is why the comment-based ignore rules are safer when it comes to file linting

[2022-07-18 16:35] eyarz commented on #726
Interesting 🤔
According to the [K8s docs](https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/#attaching-metadata-to-objects), all object types support the `annotations` property.

when I'm trying to reproduce it on object type `Service`, I'm **not getting the same schema error** that you're getting:
![image](https://user-images.githubusercontent.com/19731161/179559672-a0

[2022-07-19 09:08] HariSekhon commented on #726
Ah, please ignore, this was my fault, `annotation` instead of `annotations` (was end of the day I must have been tired).

[2022-07-19 09:08] #726 closed, assigned to nobody

[2022-07-19 09:16] HariSekhon opened #730 "Skip annotation not working on Jenkins CI/CD multi-container pod for readiness/liveness rules - is this a bug?"
**Describe the bug**

I'm getting  these error from `datree test`:

[code]

even though the file contains skip annotations:

[code]

**To Reproduce**

[code]

**Expected behavior**

Expected it to show Skipped instead of failed with missing property errors.

**Desktop (please complete the following information):**
 - OS: Mac

**Datree version (run `datree version`):**
 - Version: 1.5.30

**Client

[2022-07-19 09:28] HariSekhon commented on #730
On a single container pod this same exactly copy and pasted annotation seems to work fine, so I wonder if it's related to the multiple containers in the pod above?

[code]

[2022-07-19 09:28] adifayer commented on #729
@HariSekhon I get your point, though I wonder if presenting this identifier can create more noise than value, since it's relevant mainly for users that have Policy-As-Code mode on, or users that want to skip a rule, therefore it may confuse other users.

I suggest that we add the PAC identifier to the output when using the --verbose flag, that way each user can decide whether to have it or not. WD

[2022-07-19 10:45] noaabarki commented on #723
Hey @nielstenboom, I'm still a little bit confused. First, the examples you added will fall under the `lastRetry.status == "Error"` condition, and therefore it doesn't matter what is the exit code. Second, I still don't understand what is the added value adding `[0,1]` under the `lastRetry.status == "Failed"` condition.

[2022-07-19 11:07] HariSekhon opened #731 "Quite mode to not print Skipped rules"
Feature Request to add `--quiet` mode to not print all the annotation skipped rules as they drown out any unaddressed failures:

[code]

For an example of why this is needed, try finding the 2 failed rules in this output:

https://github.com/HariSekhon/Kubernetes-configs/runs/7407811527?check_suite_focus=true

[2022-07-19 11:42] HariSekhon commented on #731
Also in quiet mode please don't print these redundant messages everywhere:

[code]

[2022-07-19 13:14] adifayer commented on #730
@HariSekhon I was able to reproduce the exact same bug, I think that you're right- the name is missing only when there are multiple containers. We will take care of it within the next couple of days 🙏

[2022-07-19 13:26] HariSekhon commented on #729
Agreed, this should probably be in the first level of verbose mode.

[2022-07-19 13:48] adifayer commented on #731
@HariSekhon I see your point regarding the "noise" that it can create in the output. As I see it, the skipped rules in the output behave as a "reminder" that some rules that are turned on within the policy are skipped for specific resources, to make sure that this actually expected.
I suggest that the --quite flag remove all skipped rules indications, except for the skipped rules count in the aggr

[2022-07-19 14:23] HariSekhon commented on #731
Yes I agree, as long as there is a skipped rules counter you will be able to see there are some skipped rules to periodically re-review without them getting in the way of any current issues.

[2022-07-19 15:13] TzlilSwimmer123 commented on #730
Hi @HariSekhon!
Thanks for letting us know

We are working on a fix at the moment. Meanwhile you can add the property `name` in the metadata of your pod and it should work until we will deploy the fix.
[code]
Let me know if it didn't work

[2022-07-19 15:44] HariSekhon commented on #730
Adding the metadata.name does work around this issue, thanks!

[2022-07-19 15:55] HariSekhon opened #732 "Exclude paths regex"
Feature Request to be able to define an exclude regex so that I can exclude problematic K8s patch files that Datree is tripping up on.

For an example of these patch yamls, you can see this run in my public Kubernetes repo:

https://github.com/HariSekhon/Kubernetes-configs/runs/7412852029?check_suite_focus=true

#### Proposed Solution

`--exclude` switch that can take a regex

Example usage:

[cod

[2022-07-19 16:16] adifayer commented on #729
These are the product requirements:

**Is your feature request related to a problem? Please describe.**
Skipping a rule on a specific resource is done by adding an annotation in the manifest. The annotation syntax is the following: datree.skip/[identifier] while the identifier is the unique rule identifier (policy as code identifier).
The PAC identifier is available only within the dashboard, whic

[2022-07-19 16:34] adifayer commented on #732
@HariSekhon Did you try the --only-k8s-files flag? The idea of this flag is to skip validating all non-K8s files, that way you can avoid these failures. Let me know if it solves the problem :)

[2022-07-19 18:27] HariSekhon commented on #732
Yes you can see it if you expand the action-datree call:

[code]

so it was already there but did not solve this problem because these patch files have enough k8s structure to be picked up, but are missing other bits which they don't patch override - hence why I need a more explicit `--exclude` switch.

I mean, you guys could also debug all the failing patch files in my public repo and try to make

[2022-07-19 19:46] amustaque97 commented on #725
How are you executing simultaneously calls? I’m assuming these are different processes invocations. Example running command every time in  separate shell instance. If that is the case I don’t think we can control it. Inter process communication is hard to handle. If it would be some threading then it’s a different case.
cc @BlythMeister @myishay

[2022-07-19 19:52] BlythMeister commented on #725
Yes it is.

I'm a c# Dev, in c# I would use mutex to control access to a file system to prevent simultaneous write (or something built into the system IO)

it seems like go does have support for mutex.
I wonder if the set config cli tasks could use a mutex for locking.  A mutex is a system wide lock which will mean only 1 instance of the tool can write at any one time.

[2022-07-19 19:57] amustaque97 commented on #725
I agree mutex is present in golang std lib. It fails to fix the issue if there are different program execution processes. Mutex is per-process based AFAIK

[2022-07-19 20:02] BlythMeister commented on #725
No a mutex is a system lock.

In c# this is done by creating a file on disk and using it to signify the lock in is place.
Other methods can also be used.

But from my research on mutex in go.
These are not process, but system locks.

[2022-07-19 20:04] BlythMeister commented on #725
Though the existence of https://github.com/alexflint/go-filemutex library seems to hint otherwise....

But a simple "lock" file approach like git uses when writing config file will suffice really to prevent simultaneous writes.

[2022-07-19 20:06] amustaque97 commented on #725
Here is an issue on those [lines](https://github.com/golang/go/issues/41912)

Datree is using a package to write config file called ‘viper’ and we cannot modify 3rd party package ‘viper’ even if we follow [this](https://github.com/golang/go/issues/33974)

[2022-07-19 20:12] BlythMeister commented on #725
I have managed to work around this as my callers to datree is powershell so I can muted lock there instead.

https://github.com/15below/Ensconce/blob/develop/src/Scripts/kubernetesHelper.ps1#L82-L111

[2022-07-20 10:02] #730 closed, assigned to TzlilSwimmer123

[2022-07-20 13:49] adifayer commented on #732
@HariSekhon Oops, my bad! Missed the flag😅

Perhaps we should solve this problem with finding a way to also exclude patch yaml when the flag --only-k8s-files is in use? Since the patch file w/o the base is not a "real" K8s resource, also, this way you're not required to pass another flag or update the flag regex according to changes in the repo.
WDYT?

[2022-07-20 13:53] HariSekhon commented on #732
Tempting but how does one know which files are patch files?

File names are pretty arbitrary and therefore unreliable?

If we do a naive substring match on filename then it's possible that we'll introduce a bug that will miss scanning other files.

[2022-07-20 14:35] adifayer commented on #732
I agree with you @HariSekhon . Had a little more research, and it turns out that excluding a pattern is supported in glob pattern, I believe this is the solution 🤗 WDYT? :)
Attaching a [tool](https://www.digitalocean.com/community/tools/glob?comments=true&glob=%2F%21%28src%7Cbuild%29%2F%2A.js&matches=false&tests=%2F%2F%20These%20will%20match%20as%20they%20are%20not%20in%20the%20excluded%20pattern&

[2022-07-20 17:52] HariSekhon commented on #732
not sure if this will work in a shell where the `!` will be misinterpreted:

[code]
[code]
[code]
double quoting results in the same:
[code]
single quoting will be of course useless as it won't be interpreted:
[code]

[2022-07-21 09:31] adifayer commented on #732
@HariSekhon Noted :) We'll prioritize this issue. Thx!

[2022-07-21 11:41] adifayer commented on #731
@HariSekhon Agreed. We will prioritize the issue :)

I would love to suggest a workaround until then- instead of using the skip annotation, you can ignore validating specific resources by creating a custom rule based on the built-in rule, and filter out relevant resources that should be skipped.
Attached below is an example of a custom rule I created that verifies readiness probe is configured in

[2022-07-21 11:43] HariSekhon commented on #731
I think I'd rather wait for the proper fix than get too deep into customizing the tool only to have to uncustomize it later.

This is a small part of my work after all and it needs to be time efficient.

[2022-07-24 07:49] uriahrokach opened #737 "Configure a custom "default" schema location and policy config for air gapped environments"
**Is your feature request related to a problem? Please describe.**

We want to use datree in our air - gapped environment, and so far it's working great, but every time we use it we have to specify `--schema-location` and `--policy-config` and then specify our own configuration.

We would like to write a configuration of our own, upload it to git, and then configure it as our default  policy, so t

[2022-07-24 09:04] myishay commented on #725
@amustaque97 As you mentioned, it seems like there isn't an easy use for mutex in go currently, and since @BlythMeister managed to make a workaround, I will close this issue for now. If you find any solutions for this problem feel free to reopen and comment here. Cheers!

[2022-07-24 09:04] #725 closed, assigned to amustaque97

[2022-07-24 10:43] adifayer commented on #731
Product requirements:
1. When the flag --quiet was passed, excludes the rules skip message from the CLI output (remove the "skipped" section from the output)
2. Keep the skipped rules count in the aggregated summary table

[2022-07-24 13:48] adifayer commented on #737
Great idea!
Here are the product requirements for who ever wants to grab this one:
1. Configure `--policy-config` and `--schema-location` values by adding it to the config file using the `datree set config` command or editing the config yaml file itself.
2. Order for reading values-
CLI flag command > Env variable > Config file

[2022-07-25 09:20] BlythMeister opened #740 "Idea - Link to datree website on failures"
**Is your feature request related to a problem? Please describe.**
When you have failures the error message although clear would be nice to include a link to the datree docs which are very rich with useful information

**Describe the solution you'd like**
As part of the failure, include a link to the datree website

**Describe alternatives you've considered**
When doing config as code you can supp

[2022-07-25 09:35] adifayer commented on #740
Hey @BlythMeister 🙋‍♀️ Are you familiar with `--verbose` CLI flag? It displays the link to the docs page of each failing rule. Does it solve the problem? :)
<img width="1065" alt="image" src="https://user-images.githubusercontent.com/43816136/180746488-09bd57fe-6238-4ec5-9661-32c9718ce33f.png">

[2022-07-25 09:38] BlythMeister commented on #740
ahh yeah that's what i wanted :)
love it when a feature idea already exists.  thanks @adifay

Works with the simple output too (which we need to use for UTF-8 compat)
![image](https://user-images.githubusercontent.com/1046836/180747120-02a18dac-21c1-4d47-b979-ef1bd50ed0ac.png)

[2022-07-25 09:38] #740 closed, assigned to nobody

[2022-07-25 09:45] adifayer commented on #740
Awesome! I'm happy to hear @BlythMeister 🤗

[2022-07-25 11:01] BlythMeister opened #741 "Prevent ConfigMap security vulnerability (Incorrect Fail)"
**Describe the bug**
This rule documents that in order to fail the config map must be for ingress or nginx
However, it will fail on _all_ config maps

Either the documentation is wrong and this does apply to all config maps, or the test is wrong :)

**To Reproduce**
Steps to reproduce the behavior:
1. Run command 'test' on yaml with a config map
3. See error

**Expected behavior**
Only fail when n